.footer {

  &-logo {
    padding-top: 27px;

    img {
      width: 285px;

      @include media-breakpoint-up(md) {
        width: auto;
      }
    }
  }

  &-top {
    background-color: #f8f8f8;

    &-inner {
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-direction: column;
      padding-bottom: 32px;
      padding-top: 32px;

      @include media-breakpoint-up(md) {
        flex-direction: row;
        height: 190px;
      }

      img {
        margin-bottom: 24px;
        width: 180px;

        @include media-breakpoint-up(md) {
          margin-bottom: 0;
          width: auto;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }

    }
  }

  &-middle {
    background-color: #ffffff;

    h3 {
      text-transform: uppercase;
      color: #00243e;
      font-size: 16px;
      line-height: 20px;
      font-weight: 600;
      margin-top: 22px;
    }

    ul {
      list-style-type: none;
      padding-left: 0;
      
      li {
        font-size: 16px;
        line-height: 30px;
        
        a {
          color: #918f8f;
        }
      }
    }

    .widget-text {
      font-size: 16px;
      line-height: 30px;
      color: #918f8f;
    }

    &-inner {
      text-align: center;
      padding-bottom: 10px;

      @include media-breakpoint-up(md) {
        height: 219px;
        text-align: left;
      }
    }

  }

  &-bottom {

    &-inner {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      border-top: 1px solid #d2d2d2;
      color: #918f8f;
      text-align: center;
      padding-top: 10px;
      padding-bottom: 10px;

      @include media-breakpoint-up(md) {
        flex-direction: row;
        justify-content: space-between;
        height: 40px;
        text-align: left;
        padding-top: 0;
        padding-bottom: 0;
      }
      
      i {
        color: #000;
      }
    }

  }

}