.maxw {
  max-width: 1581px;
  overflow: hidden;
}

.row {
  @include media-breakpoint-down(xs) {
    padding-right: 10px;
  }
}

// ---------------------------------------------------
// Colors classes
// ---------------------------------------------------
.text-red { color: $red; }
.text-green { color: $green; }

// Licenzijos tam siaip reikia
.highcharts-credits {
  display: none;
}

// ---------------------------------------------------
// responsive tables
// ---------------------------------------------------
.table-responsive {
  table {
    th {
      display: none;
    }
    tbody {
      td {
        display: block;
        text-align: left;

        &:before {
          content: attr(data-th)": ";
          font-weight: bold;
          width: 9em;
          display: inline-block;
          
          @include media-breakpoint-only(xs) {
            width: 6em;
          }   
          @include media-breakpoint-up(md) {
            display: none;
          }
        }
      }
    }
    th,td {
      text-align: left;
      @include media-breakpoint-up(md) {
        display: table-cell !important;
      }
      &:last-child {
        @include media-breakpoint-up(md) {
          display: flex !important;
        }
      }
    }
  }
}

// Bet statuses
.cr {
  width: 21px;
  height: 21px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  float: right;
  margin: 2px;

  &.cx {
    background-color: #00aeef;
    padding-bottom: 3px;
  }
  &.cp {
    background-color: $green;
  }
  &.cm {
    background-color: $red;
  }
}

// -------------------------------------------------------
// Misc badgets, circles
// -------------------------------------------------------
.info-circle {
  color: #fff;
  width: 14px;
  height: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 9px;
  &.red {
    background-color: $red;
  }
}

// -------------------------------------------------------
// NAVIGATION
// -------------------------------------------------------
.navigation {
  display: flex;
  margin-bottom: 32px;
  margin-top: 32px;

  > div {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    margin-right: 10px;
    border-radius: 11px;

    &:hover {
      background-color: #cc4146;
      border:1px solid transparent;
    }

    a {
      color: #fff;
      height: 22px;
      width: 22px;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        text-decoration: none;
      }
    }

    &.active {
      background-color: #cc4146;
      border:1px solid transparent;
    }
  }
}

// -------------------------------------------------------
// PATARIMAI
// -------------------------------------------------------
.patarimai {
  margin-top: 32px;
  margin-bottom: 32px;
  margin-right: 22px;

  @include media-breakpoint-up(xl) {
    margin-right: 0;
  }

  h2 {
    text-transform: uppercase;
    margin-bottom: 21px;
    margin-top: 60px;
    font-weight: 400;
    font-size: 27px;
    span {
      color: $red;
    }
  }
}
.patarimas {
  display: flex;
  background-color: #2c2d3b;
  padding: 12px;
  margin-bottom: 16px;
  flex-direction: column;

  @include media-breakpoint-up(md) {
    flex-direction: row;
  }

  &.locked {
    .patarimas--left {
      text-align: center;
      padding-right: 12px;
      padding-top: 6px;

      span {
        font-size: 120px;
        color: #fff;
      }
    }
    .patarimas--right---top {
      display: flex;
      justify-content: space-between;

      > div {
        &:first-child {
          text-transform: uppercase;
          a {
            color: $red;
            text-decoration: underline;
          }
        }
        &:last-child {
          text-align: right;
        }
      }

      .brand {
        margin-top: 8px;

        img {
          width: 127px;
        }
      }
    }
    .patarimas--right---bottom {
      border-top: none;
      margin-top: 0;
      padding-top: 0;
      text-align: center;
      text-transform: uppercase;

      .btn_atrakinti {
        background-color: $red;
        color: #fff;
        border: none;
        width: 232px;
        line-height: 2.3em;
        border-radius: 8px;
        text-transform: uppercase;
      }

      > div {
        text-align: center;
        font-size: 27px;
        border-bottom: 1px solid #5d5e68;
        padding-bottom: 12px;
        margin-bottom: 12px;

        span {
          color: $red;
        }
      }
    }
  }

  &--left {
    flex-basis: 180px;

    .user-avatar {
      width: 109px;
      height: 109px;
      border-radius: 65px;
      margin: 0 auto;

      img {
        width: 109px;
      }
    }

    .graza {
      position: relative;
      text-align: center;
      margin-top: 16px;
      color: #fff;

      i {
        width: 26px;
        color: $green;
        position: absolute;
        top: -31px;
        z-index: 10;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        font-size: 27px;
      }
    }
  }

  &--right {
    width: 100%;
    color: #fff;

    &---top {
      position: relative;

      .head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-transform: uppercase;
        font-size: 14px;
        flex-direction: column;

        @include media-breakpoint-up(md) {
          flex-direction: row;
        }

        a {
          color: $red;
        }

        img {
          width: 22px;
          border-radius: 5px;
        }
      }
      .main {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        text-align: center;

        @include media-breakpoint-up(md) {
          flex-direction: row;
          text-align: left;
        }

        > div > div {
          text-transform: uppercase;

          &:nth-child(1) {
            font-size: 22px;
            margin-top: 8px;
          }
          &:nth-child(2) {
            color: #a0a2a7;
            font-size: 15px;
          }
          &:nth-child(3) {
            font-size: 14px;
            margin-top: 8px;
            a {
              color: $red;
            }
          }
        }

        .brand {
          text-align: right;

          img {
            width: 129px;
          }
        }
      }
      .foot {
        bottom: -8px;
        right: 0;
        font-size: 14px;
        text-transform: uppercase;
        position: static;
        margin-top: 12px;
        text-align: center;

        @include media-breakpoint-up(md) {
          position: absolute;
          margin-top: 0;
          text-align: right;
        }

        i {
          font-size: 24px;
        }

        a {
          color: #fff;
        }
      }
    }

    &---bottom {
      margin-top: 32px;
      padding-top: 16px;
      border-top: 1px solid #75777f;

      textarea {
        width: 100%;
        border-radius: 10px;
        font-size: 15px;
        padding: 8px;
        color: #a8a8a8;
        font-family: 'PT Sans', sans-serif;
      }

      .btn_submit {
        border: none;
        border-radius: 10px;
        width: 100%;
        margin-bottom: 6px;
        font-size: 15px;
      }
    }

  }

  &--komentarai {
    background-color: #171624;
    padding-left: 0;
    margin-top: -16px;
    display: none;

    @include media-breakpoint-up(md) {
      padding-left: 168px;
    }

    h4 {
      text-transform: uppercase;
      border-top: 1px solid #a0a2a7;
      font-weight: 400;
      color: #fff;
      padding-top: 8px;
    }

    .user-avatar {
      width: 76px;
      height: 76px;
      border-radius: 50%;
      margin: 0 auto;

      img {
        width: 76px;
      }
    }

    .komentaras {
      min-height: 138px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      border-bottom: 1px solid #a0a2a7;
      margin-bottom: 16px;

      &--left {

      }

      &--right {
        padding-left: 32px;
        padding-right: 32px;
        width: 100%;
        color: #fff;
        font-size: 15px;
      }

      &--bottom {
        display: flex;
        justify-content: space-between;
        color: #929295;
      }
    }
  }
}

// Tabs
.nav-tabs {
  border-bottom: 1px solid #5c5a62;
}
.nav-tabs .nav-item {
  margin-bottom: 0;

  &:first-child {
    a {
      margin-left: 0;
    }
  }
}
.nav-tabs .nav-link {
  background-color: darken($red,20);
  color: #fff;
  margin-left: 8px;
  border: none;
  text-transform: uppercase;
  font-size: 15px;
  text-align: center;

  @include media-breakpoint-up(sm) {
    width: 200px;
  }

  &:hover {
    border: none;
  }
}
.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  background-color: $red;
  border: none;
  color: #fff;
}
.tab-content {
  ul {
    list-style-type: none;
    padding-left: 0;
    margin-top: 16px;
    color: #fff;

    li {
      margin-bottom: 6px;

      img {
        width: 100%;
        max-width: 645px;
        margin-top: 16px;
        margin-bottom: 16px;
      }
    }
  }
  .text-red {
    color: $red;
  }
}

.section-1-inner {
  padding-top: 194px;
}

.section-header {
  h2 {
    margin-bottom: 0;
    text-align: center;
    color: #fff;
    font-size: 43px;
    line-height: 1.09375em;
    font-weight: 700;
    text-transform: uppercase;

    @include media-breakpoint-up(md) {
      text-align: left;
      font-size: 56px;
    }
  }
  h3 {
    font-size: 27px;
    font-weight: 400;
    color: #fff;
    border-bottom: 1px solid $borders;
    padding-bottom: 12px;
    margin-bottom: 32px;

    span {
      color: $red;
    }
  }
  h4 {
    text-align: center;
    font-weight: 400;
    font-size: 38px;

    @include media-breakpoint-up(md) {
      text-align: left;
      font-size: 42px;
    }

    span {
      color: $red;
      text-transform: capitalize;
    }
  }
}

// Steps, readmore blocks
.steps-inner {
  margin-bottom: 64px;

  a {
    color: #fff;
    display: block;
    background-color: #181824;
    padding: 20px;
    margin-bottom: 16px;
    transition: box-shadow 0.2s;

    &:hover {
      text-decoration: none;
      box-shadow: inset 0 0 6px 1px #fff;
    }
  }
}
.step-inner {
  display: flex;
  height: 200px;
  align-items: flex-start;
  padding-top: 17px;

  @include media-breakpoint-up(md) {
    height: 260px;
    padding-top: 75px;
  }

  &--left {
    margin-right: 12px;
  }

  &--right {
    > div {
      &:first-child {
        color: #f5e1e1;
      }
      &:last-child {
        color: #6b696f;
        font-size: 16px;
      }
    }
  }

  span {
    color: $red;
    font-size: 50px;
  }
}

// Messages, errors, success...
.msg {
  ul {
    list-style-type: none;
    color: #fff;
    padding-left: 0;
  }
  
  &-success {
    &:before {
      content: '\f00c';
      font-size: 18px;
      font-family: FontAwesome;
      color: $green;
      padding-right: 6px;
    }
  }
  &-error {
    &:before {
      content: '\f00d';
      font-size: 18px;
      font-family: FontAwesome;
      color: $red;
      padding-right: 10px;
    }
  }
}

// Ekspertas
.ekspertas {

  border: 1px solid #607b92;
  margin-bottom: 30px;

  &--left {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 16px;
    padding-left: 16px;
    padding-bottom: 16px;

    .user-data {
      color: #dbdbdc;

      > div {
        &:first-child {
          font-weight: 600;
        }
        &:last-child {
          margin-top: 8px;
          display: flex;
          align-items: center;
        }
      }
      
      .fa {
        font-size: 27px;
        margin-right: 8px;
      }
      .fa-star {
        color: $yellow;
      }
      .fa-check-circle {
        color: $green;
      }
      .ico-euro {
        font-size: 25px;
        padding-top: 6px;
        color: $red;
      }

      a {
        color: #bebdc0;
        text-decoration: underline;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
  &--middle {
    display: flex;
    height: 101px;
    align-items: center;
    justify-content: space-around;
    margin-top: 16px;

    @include media-breakpoint-up(xl) {
      justify-content: space-between;
    }

    > div {
      flex-basis: 250px;
    }
    > div:not(.chart) {
      text-align: center;
      flex-basis: 127px;
      border-right: 1px solid $borders;

      > div {
        &:first-child {
          font-size: 28px;
          color: $red;
          font-weight: 600;
        }
        &:last-child {
          color: #fff;
        }
      }

      &.green {
        border-right: none;

        > div {
          &:first-child {
            color: $green;
          }
        }
      }
    }
  }
  &--right {
    height: 125px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 16px;
    padding-right: 16px;
    padding-bottom: 16px;

    > a {
      display: block;
      width: 100%;
      text-align: right;
    }

    .btn_submit {
      font-size: 14px;
      width: 196px;
    }

    a {
      color: #fff;
      text-decoration: underline;
    }

  }
  &--bottom {
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #201e2b;
    border-top: 1px solid #1f1d2a;
    padding-left: 16px;
    padding-right: 16px;

    &---left {
      font-weight: 600;
      text-transform: uppercase;
      color: #fff;
      font-size: 18px;
    }
    &---right {
      button:not(.btn_subscribe) {
        width: 185px;
        height: 36px;
        border: 1px solid #607b92;
        border-radius: 18px;
        text-align: center;
        color: #626167;
        text-transform: uppercase;
        margin-right: 10px;
        font-weight: 600;
        background-color: #1a1825;
        transition: all 0.2s;
        font-size: 14px;

        @include media-breakpoint-up(xl) {
          width: 205px;
          margin-right: 20px;
        }

        &.active,
        &:hover {
          border: 1px solid $green;
          background-color: #2b2934;
          cursor: pointer;
          outline: 0;
        }
      }
      button.btn_subscribe {
        margin-right: 0;
      }
    }
  }

}

// Comment
.comments {
  background-color: #171624;
  padding: 24px;
  margin-top: 16px;
}
.comment {
  padding-bottom: 16px;
  margin-bottom: 16px;
  border-bottom: 1px solid $borders;

  &:last-child {
    border-bottom: none;
  }

  &--left {
    display: flex;
    align-items: center;
    justify-content: space-around;

    @include media-breakpoint-only(sm) {
      justify-content: flex-start;
      margin-bottom: 8px;
    }
    @include media-breakpoint-only(xs) {
      flex-direction: column;
      justify-content: center;
    }

    .user-avatar {
      margin-right: 16px;

      @include media-breakpoint-only(xs) {
        margin-right: 0;
      }
    }

    > div {

      &:last-child {
        flex-basis: 50%;

        @include media-breakpoint-only(xs) {
          text-align: center;
        }

        div {
          &:first-child {
            color: $red;
            text-transform: uppercase;
            font-weight: 600;
          }
          &:nth-child(2) {
            color: #fff;
            text-transform: uppercase;
          }
          a {
            color: $text-inner;
            text-decoration: underline;
          }
        }
      }
    }
  }

  &--right {
    min-height: 134px;
    background-color: #23222f;
    padding: 16px;
    border-radius: 12px;
    position: relative;

    @include media-breakpoint-only(xs) {
      margin-top: 12px;
    }

    span {
      position: absolute;
      right: 16px;
      bottom: 8px;
      color: #fff;
    }
  }

}

.taisykles {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  background-color: #fff;
  color: #000;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  margin-top: 64px;
  align-items: center;
  height: 53px;
  padding-left: 14px;
  padding-right: 14px;
  margin-right: 30px;

  &:hover {
    cursor: pointer;
  }

  h2 {
    margin-bottom: 0;
    font-weight: 500;
    font-size: 18px;
  }

  i {
    font-size: 30px;
    transition: transform 0.2s;
  }

  &.open {
    i {
      transform: rotate(180deg);
    }
  }

  &-content {
    display: none;
    padding-top: 16px;
    padding-left: 3px;
    padding-right: 3px;
  }
}

// User avatar
.user-avatar {
  overflow: hidden;
  width: 130px;
  border-radius: 65px;
  border: 2px solid #acacac;

  img {
    max-width: 130px;
  }
}

// Select2
select.select2 {
  width: 100%;
  visibility: hidden;
}
.select2-container--default .select2-selection--single {
  background-color: transparent;
  border-radius: 20px;
  height: 40px;
}
.select2-dropdown {
  background-color: #181a27;
  border: 1px solid #fff;
}
.select2-search__field {
  margin-top: 6px;
  margin-bottom: 6px;
  background-color: transparent;
  text-align: left;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #4ab381;
}
.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: #338e63;
  color: #fff;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #fff;
  line-height: 2.3em;
  padding-left: 17px;
  text-transform: uppercase;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
  right: 20px;
  top: 7px;
}
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #fff transparent;
  border-width: 0 7px 8px 7px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-color: #fff transparent transparent transparent;
  border-width: 8px 7px 0 7px;
}

// Radios
.radio-group {
  input[type="radio"] {
    display:none;
  }
  label {
    display: flex;
    align-items: center;

    &:hover {
      cursor: pointer;
    }
  }
  input[type="radio"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 14px 0 0;
    vertical-align:middle;
    cursor:pointer;
    border-radius:  50%;
    background-color: transparent;
    border: 1px solid #fff;
  }
  input[type="radio"]:checked + label span{
    background-color: #df4244;
  }
}

// Checkboxess
.checkbox-group {
  display: flex;
  margin-top: 16px;
  margin-bottom: 16px;
  align-items: center;
  font-size: 16px;
  justify-content: center;

  @include media-breakpoint-up(md) {
    justify-content: flex-start;
    font-size: 18px;
  }
}
.checkbox-label {
  margin-left: 8px;
}
.checkbox-rounded {
  width: 20px;
  height: 20px;
  position: relative;
  background: transparent;
  border-radius: 12px;
  border: 1px solid #fff;

  label {
    width: 15px;
    height: 15px;
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 1px;
    border-radius: 9px;

    &:after {
      content: '';
      width: 14px;
      height: 14px;
      position: absolute;
      top: 1px;
      left: 2px;
      background: #cc4146;
      opacity: 0;
      border-radius: 7px;
    }
    &:hover::after {
      opacity: 0.3;
    }
  }
  input[type=checkbox] {
    visibility: hidden;
    &:checked + label:after {
      opacity: 1;
    }
  }
}

// BUTTONS
.btn {
  font-family: 'PT Sans', sans-serif;

  &:hover {
    cursor: pointer;
  }
}

.btn_subscribe {
  width: 185px;
  height: 36px;
  border: 1px solid #607b92;
  border-radius: 18px;
  text-align: center;
  background-color: #f2eeee;
  color: #151320;
  text-transform: uppercase;
  margin-right: 10px;
  font-weight: 600;
  transition: all 0.2s;
  font-size: 14px;


}
.btn_submit {
  background-color: $red;
  color: #fff;
  width: 100%;
  text-transform: uppercase;
  border: 1px solid #fff;
  border-radius: 24px;
  line-height: 2.4666em;
  font-size: 16px;

  @include media-breakpoint-up(md) {
    width: 206px;
  }
}
.btn_back {
  background-color: $red;
  color: #fff;
  text-transform: uppercase;
  border: none;
  border-radius: 24px;
  font-size: 14px;
  line-height: 2.4666em;
  width: 150px;
}

// INPUT FIELDS
input[type='tel'],
input[type='email'],
input[type='password'],
input[type='text'] {
  font-family: 'PT Sans', sans-serif;
  width: 100%;
  height: 52px;
  background-color: transparentize(#151320,0.2);
  line-height: 2.6875em;
  padding-left: 16px;
  border-radius: 24px;
  margin-bottom: 6px;
  border: 1px solid #7c7e86;
  color: #fff;
  outline: none;
  font-size: 16px;
}

input.error {
  border: 1px solid $red;
}
label.error {
  position: absolute;
  right: -280px;
  color: $red;
  top: 8px;
  width: 280px;

  @include media-breakpoint-down(sm) {
    display: none !important;
  }
}

input[type='submit'] {
  font-family: 'PT Sans', sans-serif;

  &:hover {
    cursor: pointer;
  }
}

// INFO
.info {
  display: flex;
  border-top: 1px solid;
  border-bottom: 1px solid;
  padding-bottom: 2px;
  align-items: center;
  font-style: italic;
  margin-bottom: 16px;
  margin-right: 30px;
  min-width: 50px;

  @include media-breakpoint-only(xs) {
    margin-right: 0;
  }

  span {
    font-size: 28px;
    margin-right: 16px;
    padding-left: 8px;
  }

  &-gray {
    border-color: #3f3e45;
    color: #3f3e45;
    span {
      color: #fff;
    }
  }

  &-red {
    border-color: $red;
    color: $red;
  }
}

// TOTALS
.totals {
  background: url("../img/totals-bg.jpg") top no-repeat;
  background-size: cover;

  .row {
    min-height: 370px;
    @include media-breakpoint-down(sm) {
      min-height: 272px;
    }
  }

  &-col-inner {
    height: auto;

    @include media-breakpoint-up(md) {
      height: 360px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  &-inner {
    padding-bottom: 32px;
  }

  .number {
    color: $red;
    font-size: 48px;
    text-align: center;
    font-weight: 600;
    line-height: 0.8947em;
    margin-top: 32px;

    @include media-breakpoint-down(sm) {
      font-size: 34px;
    }
    @include media-breakpoint-up(md) {
      font-size: 76px;
    }

    &-label {
      font-size: 38px;
      text-align: center;
      margin-top: 6px;
      margin-bottom: 16px;
      line-height: 1.1em;
      color: #fff;

      @include media-breakpoint-down(sm) {
        font-size: 24px;
      }
    }
  }
}

// --------------------------------
// Gouges
// --------------------------------
$main-radial-color: #4ab381;
$overlayColor: #2c2c3a;
$backColor: #3c3c49;

.progress {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;

  &-label {
    color: $main-radial-color;
    font-size: 15px;
  }
  &-radial {
    float: left;
    margin-right: 10px;
    position: relative;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background-color: $main-radial-color;

    .overlay {
      position: absolute;
      width: 26px;
      height: 26px;
      background-color: $overlayColor;
      border-radius: 50%;
      margin-left: 6px;
      margin-top: 6px;
      text-align: center;
      line-height: 60px;
      font-size: 16px;
    }
  }
}

$step: 5;
$loops: round(100 / $step);
$increment: 360 / $loops;
$half: round($loops / 2);
@for $i from 0 through $loops {
  .progress-#{$i*$step} {
    @if $i < $half {
      $nextdeg: 90deg + ( $increment * $i );
      background-image: linear-gradient(90deg, $backColor 50%, transparent 50%, transparent), linear-gradient($nextdeg, $main-radial-color 50%, $backColor 50%, $backColor);
    } @else {
      $nextdeg: -90deg + ( $increment * ( $i - $half ) );
      background-image: linear-gradient($nextdeg, $main-radial-color 50%, transparent 50%, transparent), linear-gradient(270deg, $main-radial-color 50%, $backColor 50%, $backColor);
    }
  }
}
// --------------------------------
// end Gouges
// --------------------------------

// Placeholder color
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color:    #fff;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:    #fff;
  opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:    #fff;
  opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:    #fff;
}