.header {

  .maxw {
    overflow: visible;
  }

  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: rgba(255, 254, 255, 0.03);

  .mobile-hamburger {

    margin-top: 36px;
    margin-right: -25px;

    @include media-breakpoint-up(md) {
      display: none;
    }

    .line {
      width: 50px;
      height: 5px;
      background-color: #ecf0f1;
      display: block;
      margin: 8px auto;
      transition: all 0.3s ease-in-out;
    }

    &.is-active .line:nth-child(2) {
      opacity: 0;
    }

    &.is-active .line:nth-child(1) {
      transform: translateY(13px) rotate(45deg);
    }

    &.is-active .line:nth-child(3) {
      transform: translateY(-13px) rotate(-45deg);
    }
  }

  &-mobile-menu {

    position: absolute;
    width: 100%;
    left: 14px;
    top: 90px;
    margin-left: -15px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.6s ease-in-out;

    @include media-breakpoint-up(md) {
      display: none;
    }

    &.activated {
      max-height: 500px;
    }

    ul {
      background-color: rgba(223, 66, 69, 0.9);

      li {
        text-transform: uppercase;
      }
    }
    
    a {
      color: #fff;

      &:focus {
        background-color: $red !important;
      }
    }
    
    .open {
      a {
        color: #fff;
      }
    }

    .mobile-prisijungti {
      background-color: #272030;
    }

    .mobile-registruotis {
      background-color: #42df8c;
    }

    .navbar-nav {
      margin: 10px 0 11px 0;
    }

  }

  .user-menu {
    list-style-type: none;
    display: flex;
    margin-bottom: 0;
    padding-left: 0;
    width: 100%;
    align-items: center;
    justify-content: flex-end;

    .btn_red {
      background-color: $red;
      border: none;
      color: #fff;
    }

    .btn_green {
      background-color: $green;
      border: none;

      @include media-breakpoint-only(xs) {
        margin-top: 6px;
      }
    }

    &--exit {
      padding-top: 3px;
    }

    li {
      margin-right: 24px;
      position: relative;

      > div {
        position: absolute;
        top: -4px;
        right: -7px;
      }

      &:first-child {
        a {
          text-transform: uppercase;
          text-decoration: underline;
        }
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    padding-bottom: 14px;

    @include media-breakpoint-up(md) {
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
      height: 120px;
    }

    @include media-breakpoint-up(xl) {
      flex-direction: row;
      align-items: center;
      height: 138px;
    }
  }

  &-logo {
    img {
      margin-top: 9px;
      width: 260px;
    }
  }

  &-menus {
    position: relative;
    height: 65px;

    > div:first-child {
      position: absolute;
      width: 100%;
    }
    > div:last-child {
      display: none;
      position: absolute;
      right: 0px;
      width: 672px;
    }
  }

  &-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;

    a {
      height: 63px;
      display: table-cell;
      vertical-align: middle;
      border-bottom: 1px solid transparent;

      &:active,
      &:focus,
      &:hover {
        color: $green;
        border-bottom: 1px solid $green;
        text-decoration: none;
      }

      @include media-breakpoint-up(xl) {
        height: 78px;
      }
    }

    &-ideti {
      a {
        &:active,
        &:focus,
        &:hover {
          border-bottom: 1px solid transparent;
        }
      }
    }

    .active {
      a {
        color: $red;
        border-bottom: 1px solid $red;
      }
    }
  }

  &-submenu {
    background-color: rgba(234, 234, 236, 0.05);

    height: 0;
    border: none;
    overflow: hidden;

    &.active {
      height: 53px;
      border-bottom: 2px solid rgba(93, 109, 133, 0.56);
    }

    ul {
      position: relative;
      margin: 0;
      list-style-type: none;
      padding: 0;
      display: flex;
      color: #fff;
      height: 53px;
      align-items: center;
      justify-content: flex-start;
      width: 825px;
      float: right;
    }

    .close {
      text-shadow: none;
      font-size: 21px;
    }
    
    a {
      color: #818187;
      
      &:hover {
        color: #fff;
        text-decoration: none;
      }
    }

    li:not(.close) {
      display: none;

      &.active {
        display: block;
        padding-right: 35px;
      }
    }
  }

  &-right {

    margin-top: 15px;
    width: 100%;
    max-width: 825px;
    z-index: 1;

    @include media-breakpoint-up(md) {
      margin-top: 25px;
    }
    @include media-breakpoint-up(xl) {
      margin-top: 10px;
      height: 80px;
    }

    &-inner {
      position: relative;

      > div {

        a {
          color: #fff;

          &:hover {
            text-decoration: none;
          }
        }

        &:first-child {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          position: absolute;
          right: 68px;
          top: 13px;
          width: 575px;

          @include media-breakpoint-up(md) {
            top: 27px;
          }
          @include media-breakpoint-up(lg) {
            width: 100%;
            right: 5px;
            top: 0;
          }

          > a {
            margin-right: 16px;
          }

          > div {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            width: 100%;
            max-width: 100px;
            color: #fff;
            font-size: 16px;

            a {
              padding-left: 10px;
              padding-right: 5px;
            }
          }
        }

        &:last-child {
          overflow: hidden;

          @include media-breakpoint-down(md) {
            display: none;
          }
          @include media-breakpoint-up(lg) {
            top: 31px;
            right: 10px;
            position: absolute;
            width: 100%;
            max-width: 870px;
          }
        }

      }
    }

    .btn {
      width: 105px;
      height: 25px;
      border-radius: 15px;
      line-height: 1em;
      font-size: 13px;
      display: inline-block;

      @include media-breakpoint-up(lg) {
        width: 156px;
        height: 30px;
        font-size: 16px;
      }

      span {
        &:first-child {
          margin-right: 6px;
        }
        &:last-child {

        }
      }

      &-login {
        background-color: transparent;
        color: #fff;
        border: 1px solid #fff;
        position: relative;

        .ico-lock {
          position: absolute;
          top: 5px;
          left: 32px;
        }
        span:not(.ico-lock) {
          position: absolute;
          left: 56px;
          top: 5px;
        }
      }

      &-register {
        background-color: #42df8c;
        border: 1px solid #0f1821;
        color: #0f1821;
        position: relative;

        .ico-user {
          position: absolute;
          left: 26px;
          top: 6px;
        }

        span:not(.ico-user) {
          position: absolute;
          left: 50px;
          top: 5px;
        }
      }
    }


  }

  &.guest {
    @include media-breakpoint-down(md) {
      .header-inner {
        flex-direction: row;
      }
      .header-right {
        margin-top: 17px;
      }
      .header-right-inner > div:first-child {
        width: auto;
        z-index: -1;
      }
      .header-right .btn {
        width: 123px;
      }
      .header-right .btn-login .ico-lock {
        left: 19px;
      }
      .header-right .btn-register .ico-user {
        left: 19px;
      }
      .header-right .btn-login span:not(.ico-lock) {
        left: 41px;
        top: 6px;
      }
      .header-right .btn-register span:not(.ico-user) {
        left: 41px;
        top: 6px;
      }
    }
    @include media-breakpoint-down(sm) {
      .header-right-inner > div:first-child {
        top: -10px;
      }
    }
    @include media-breakpoint-down(xs) {
      .header-inner {
        flex-direction: column;
      }
      .header-right-inner {
        width: 100%;
        height: 81px;
        z-index: -1;
      }
      .header-right-inner > div:first-child {
        flex-direction: column;
        top: 0;
        left: 0;
        flex-wrap: nowrap;
        justify-content: center;
        width: 100%;
      }
      .header-right-inner > div:first-child > a {
        margin-right: 2px;
      }
      .header-right-inner > div:first-child > div {
        justify-content: center;
        margin-top: 4px;
      }
    }
  }
  &.loggedin {
    @include media-breakpoint-down(sm) {
      .header-right-inner {
        height: 43px;
      }
      .header-right-inner > div:first-child {
        z-index: 0;
      }
    }
    @include media-breakpoint-only(xs) {
      .header-right-inner {
        height: 102px;
        z-index: -1;
      }
      .header-right-inner > div:first-child {
        flex-direction: column;
        justify-content: center;
        position: static;
        width: auto;
      }
      .user-menu {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 9px;

        li {
          margin-bottom: 7px;
        }
      }
    }
  }

}
