@font-face {
  font-family: "Icons";
  src: url('../fonts/icons/Icons.eot');
  src: url('../fonts/icons/Icons.eot?#iefix') format('eot'),
  url('../fonts/icons/Icons.woff') format('woff'),
  url('../fonts/icons/Icons.ttf') format('truetype');
}

@mixin ico-styles {
  font-family: "Icons";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  // speak: none; // only necessary if not using the private unicode range (firstGlyph option)
  text-decoration: none;
  text-transform: none;
}

%ico {
  @include ico-styles;
}

@function ico-char($filename) {
  $char: "";

  @if $filename == aktyvumas {
  $char: "\E001";
}
  @if $filename == amfootball {
  $char: "\E002";
}
  @if $filename == auto {
  $char: "\E003";
}
  @if $filename == back {
  $char: "\E004";
}
  @if $filename == block {
  $char: "\E005";
}
  @if $filename == dart {
  $char: "\E006";
}
  @if $filename == dises {
  $char: "\E007";
}
  @if $filename == esportas {
  $char: "\E008";
}
  @if $filename == euro {
  $char: "\E009";
}
  @if $filename == exit {
  $char: "\E00A";
}
  @if $filename == followers {
  $char: "\E00B";
}
  @if $filename == following {
  $char: "\E00C";
}
  @if $filename == football {
  $char: "\E00D";
}
  @if $filename == forum {
  $char: "\E00E";
}
  @if $filename == gauk {
  $char: "\E00F";
}
  @if $filename == gauti {
  $char: "\E010";
}
  @if $filename == graph {
  $char: "\E011";
}
  @if $filename == hand-share {
  $char: "\E012";
}
  @if $filename == krepsinis {
  $char: "\E013";
}
  @if $filename == laimek {
  $char: "\E014";
}
  @if $filename == lock {
  $char: "\E015";
}
  @if $filename == lock2 {
  $char: "\E016";
}
  @if $filename == money {
  $char: "\E017";
}
  @if $filename == patogumas {
  $char: "\E018";
}
  @if $filename == raskite {
  $char: "\E019";
}
  @if $filename == regbis {
  $char: "\E01A";
}
  @if $filename == removeaus {
  $char: "\E01B";
}
  @if $filename == saka-all {
  $char: "\E01C";
}
  @if $filename == sauktukas {
  $char: "\E01D";
}
  @if $filename == sekite {
  $char: "\E01E";
}
  @if $filename == snukeris {
  $char: "\E01F";
}
  @if $filename == specials {
  $char: "\E020";
}
  @if $filename == tenisas {
  $char: "\E021";
}
  @if $filename == topic {
  $char: "\E022";
}
  @if $filename == upload {
  $char: "\E023";
}
  @if $filename == user {
  $char: "\E024";
}
  @if $filename == users {
  $char: "\E025";
}
  @if $filename == wallet {
  $char: "\E026";
}
  @if $filename == winner {
  $char: "\E027";
}
  @if $filename == zirgai {
  $char: "\E028";
}

@return $char;
}

@mixin ico($filename, $insert: before, $extend: true) {
&:#{$insert} {
  @if $extend {
    @extend %ico;
  } @else {
    @include ico-styles;
  }
  content: ico-char($filename);
}
}

.ico-aktyvumas {
  @include ico(aktyvumas);
}
.ico-amfootball {
  @include ico(amfootball);
}
.ico-auto {
  @include ico(auto);
}
.ico-back {
  @include ico(back);
}
.ico-block {
  @include ico(block);
}
.ico-dart {
  @include ico(dart);
}
.ico-dises {
  @include ico(dises);
}
.ico-esportas {
  @include ico(esportas);
}
.ico-euro {
  @include ico(euro);
}
.ico-exit {
  @include ico(exit);
}
.ico-followers {
  @include ico(followers);
}
.ico-following {
  @include ico(following);
}
.ico-football {
  @include ico(football);
}
.ico-forum {
  @include ico(forum);
}
.ico-gauk {
  @include ico(gauk);
}
.ico-gauti {
  @include ico(gauti);
}
.ico-graph {
  @include ico(graph);
}
.ico-hand-share {
  @include ico(hand-share);
}
.ico-krepsinis {
  @include ico(krepsinis);
}
.ico-laimek {
  @include ico(laimek);
}
.ico-lock {
  @include ico(lock);
}
.ico-lock2 {
  @include ico(lock2);
}
.ico-money {
  @include ico(money);
}
.ico-patogumas {
  @include ico(patogumas);
}
.ico-raskite {
  @include ico(raskite);
}
.ico-regbis {
  @include ico(regbis);
}
.ico-removeaus {
  @include ico(removeaus);
}
.ico-saka-all {
  @include ico(saka-all);
}
.ico-sauktukas {
  @include ico(sauktukas);
}
.ico-sekite {
  @include ico(sekite);
}
.ico-snukeris {
  @include ico(snukeris);
}
.ico-specials {
  @include ico(specials);
}
.ico-tenisas {
  @include ico(tenisas);
}
.ico-topic {
  @include ico(topic);
}
.ico-upload {
  @include ico(upload);
}
.ico-user {
  @include ico(user);
}
.ico-users {
  @include ico(users);
}
.ico-wallet {
  @include ico(wallet);
}
.ico-winner {
  @include ico(winner);
}
.ico-zirgai {
  @include ico(zirgai);
}