.profile {

  .user-avatar {
    width: 170px;
    border-radius: 50%;

    img {
      max-width: 170px;
    }
  }

  .radial-label {
    width: 125px;
    text-align: center;
    line-height: 1.1em;
    margin-top: 16px;
    text-transform: uppercase;
    color: #fff;

    @include media-breakpoint-down(sm) {
      width: 90px;
    }
  }
  .progress {
    width: 125px;

    @include media-breakpoint-down(sm) {
      width: 90px;
    }
  }
  .progress-radial {
    width: 86px;
    height: 86px;
    background-color: #42df8c;
    margin-right: 0;

    .overlay {
      width: 53px;
      height: 53px;
      margin-left: 16px;
      margin-top: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 21px;
      font-weight: 700;
      color: #42df8c;
    }
  }

  .btn_prenumeratos,
  .btn_pardavimai,
  .btn_susisiekti {
    width: 100%;
    max-width: 288px;
    border: 1px solid #fff;
    border-radius: 26px;
    line-height: 2.2em;
    text-transform: uppercase;
    transition: background-color 0.2s;
    font-weight: 700;

    @include media-breakpoint-down(sm) {
      margin-bottom: 6px;
      min-width: 260px;
    }
  }
  .btn_susisiekti {
    background-color: $red;
    color: #fff;
    &:hover {
      background-color: darken($red,5);
    }
  }
  .btn_pardavimai {
    background-color: #42df8c;
    color: #000;
    &:hover {
      background-color: darken(#42df8c,5);
    }
  }
  .btn_prenumeratos {
    background-color: #181a27;
    color: #fff;
    width: 288px;

    &:hover {
      background-color: darken(#181a27,5);
    }
  }

  &--top {
    display: flex;
    height: 235px;
    align-items: flex-end;
    justify-content: flex-start;

    @include media-breakpoint-down(sm) {
      height: 425px;
      align-items: center;
      flex-direction: column;
    }

    &---left {
      flex-basis: 200px;
    }

    &---middle {
      flex-basis: 400px;
      color: #fff;

      @include media-breakpoint-down(sm) {
        flex-basis: 200px;
        text-align: center;
      }

      > div {
        &:nth-child(1) {
          text-transform: uppercase;
          color: #a43a3f;
          font-size: 31px;
          font-weight: 700;
        }
        &:nth-child(2) {
          text-transform: uppercase;
          font-size: 19px;
        }
        &:nth-child(3) {
          font-size: 19px;
          a {
            color: #abaaad;
            text-transform: uppercase;
            text-decoration: underline;
          }
        }
        &:nth-child(4) {
          display: flex;
          margin-top: 10px;
          > div {
            flex-basis: 140px;
            display: flex;
            font-size: 16px;
          }
          a {
            color: #fff;
            text-transform: uppercase;
          }
        }
      }
    }

    &---right {
      display: flex;
      height: 135px;
      width: 43%;
      justify-content: flex-end;

      @include media-breakpoint-down(sm) {
        width: 100%;
        height: 259px;
        justify-content: center;
        margin-top: 21px;
      }

      > div {
        @include media-breakpoint-down(sm) {
          width: 95px;
        }
      }
    }
  }

  &--bottom {
    height: 142px;
    display: flex;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 8px;
    border-top: 1px solid $borders;
    border-bottom: 1px solid $borders;
    margin-top: 32px;

    @include media-breakpoint-down(sm) {
      height: 234px;
      margin-top: 82px;
      flex-direction: column;
    }

    &---left {
      @include media-breakpoint-down(sm) {
        width: 100%;
        text-align: center;
        margin-top: 8px;
        flex-basis: 35%;
        margin-right: 10px;
      }
      @include media-breakpoint-up(md) {
        flex-basis: 100%;
      }
    }

    &---right {
      display: flex;
      width: 58%;
      justify-content: space-between;
      text-align: center;

      @include media-breakpoint-down(sm) {
        width: 100%;
      }
      @include media-breakpoint-up(lg) {
        width: 45%;
      }
      @include media-breakpoint-up(xl) {
        width: 50%;
      }

      > a {

        @include media-breakpoint-down(sm) {
          width: 100%;
          margin-right: 10px;
        }

        &:hover {
          text-decoration: none;
          .plan {
            background-color: $red;
          }
        }
      }

      .plan {
        width: 121px;
        height: 117px;
        border-radius: 18px;
        border: 1px solid #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #181a27;
        transition: background-color 0.2s;

        > div {
          &:nth-child(1) {
            font-size: 35px;
            line-height: 1em;
            font-weight: 700;
            color: #fff;
          }
          &:nth-child(2) {
            text-transform: uppercase;
            font-size: 18px;
            color: #fff;
          }
          &:nth-child(3) {
            color: #42df8c;
            border-top: 1px solid $borders;
            font-size: 18px;
          }
        }
      }
    }
  }

}
.mano-profilis {
  .profile--bottom {
    @include media-breakpoint-down(sm) {
      height: 195px;
    }
  }
  .profile--bottom---right {
    display: block;
    text-align: right;
    padding-right: 30px;

    @include media-breakpoint-up(xl) {
      padding-right: 0;
    }
    @include media-breakpoint-down(md) {
      width: 33%;
    }
    @include media-breakpoint-down(xs) {
      width: 100%;
      padding-right: 10px;
    }
  }

  .profile--bottom---left {
    @include media-breakpoint-up(lg) {
      flex-basis: 70%;
    }
    @include media-breakpoint-down(md) {
      flex-basis: 61%;
    }
    @include media-breakpoint-down(sm) {
      flex-basis: 48%;
      padding-right: 10px;

      button {
        margin-bottom: 8px;
      }
    }
  }
  .btn_susisiekti {
    margin-right: 20px;
  }
}
.profile-comments {
  text-align: right;
  text-transform: uppercase;
  margin-top: 16px;
  margin-bottom: 16px;
  padding-right: 30px;

  @include media-breakpoint-up(xl) {
    padding-right: 0;
  }

  a {
    color: #fff;
    text-decoration: underline;
  }
}