.section-3 {

	background: #151320 url("../img/section-3-bg.jpg") top no-repeat;

	&-inner {
		padding-top: 16px;
		position: relative;
		padding-bottom: 16px;
		min-height: 1590px;

		@media #{$mobile-up} {
			min-height: 1080px;
			padding-top: 120px;
			padding-bottom: 0;
		}

	}

	.highcharts-credits {
		display: none;
	}

	.swiper {

		&-container {
			height: 160px;
			position: absolute;
			bottom: 0;
			width: 100%;
		}

		&-button-next {
			background-size: 15px;
			margin-right: -15px;
		}

		&-button-prev {
			background-size: 15px;
			margin-left: -15px;
		}

		&-slide {
			display: flex;
			justify-content: center;
			align-items: flex-start;
			padding-top: 58px;

			&-inner {
				display: flex;
				align-items: flex-start;
				justify-content: center;
				width: 100%;
			}

			&-left {
				margin-right: 10px;

				button {
					width: 29px;
					height: 24px;
					border-radius: 6px;
					border: 1px solid #fff;
					background-color: transparent;
					color: #fff;
					display: flex;
					align-items: center;
					justify-content: center;
					transition: background-color 0.2s;

					@media #{$mobile-down} {
						display: none;
					}
					
					&:hover {
						background-color: #fff;
						color: #333;
					}
				}
			}

			&-right {
				a {
					&:hover,
					&focus {
						text-decoration: none;
					}

					@media #{$mobile-down} {
						display: block;
						width: 253px;
						margin: 0 auto;
					}
				}
				a > div {
					&:first-child {
						font-size: 18px;
						text-transform: uppercase;
						color: #c5c3cb;
					}
					&:last-child {
						font-size: 17px;
						color: $red;
						text-transform: uppercase;
					}
				}
			}
		}

	}

	.section-header {
	    text-align: center;
	    position: inherit;
	    margin-bottom: 32px;
	    margin-top: 24px;

	    @media #{$tablet-up} {
	    	right: 0;
	      	text-align: right;
	      	margin-top: auto;
	      	margin-bottom: auto;
	    }

	    @media #{$desktop-up} {
	      position: absolute;
	    }

	    h2 {
	      &:nth-child(2) {
	        margin-left: auto;

	        @media #{$tablet-up} {
	          margin-left: 211px;
	        }
	      }
	    }

	    h4 {
	      margin-left: auto;

	      @media #{$tablet-up} {
	        margin-left: 211px;
	        font-size: 22px;
    		margin-top: 7px;
	      }
	    }
	  }

	&-objs {
	    position: absolute;
	    top: 16%;
	    z-index: 1;
	    width: 751px;

	    @media #{$tablet-down} {
	      display: none;
	    }

	    @media #{$tablet-up} {
			right: 15px;
	    }

	    &-inner {
	      position: relative;
	    }

	    .obj-1 {
	      img {
	        width: 750px;
	      }
	    }

	  }

	.stats {

		@media #{$desktop-up} {
			margin-top: 90px;
		}

		button {
			justify-content: center;
			max-width: inherit;
			width: 100%;
		    background-color: transparent;
		    color: #fff;
		    border: none;
		    display: flex;
		    align-items: center;
		    text-transform: uppercase;
		    font-size: 20px;
		    padding-left: 0;
		    padding-right: 0;
		    margin-bottom: 16px;

			@media #{$tablet-up} {
				max-width: 577px;
				justify-content: space-between;
			}

		    &:focus {
		    	background-color: transparent;
		    	color: #fff;
		    }

			> span {
				&:first-child {
					margin-right: 55px;

					@media #{$mobile-down} {
						margin-right: 11px;
						font-size: 16px;
					}
				}
			}

		    .highlighted {
		    	color: $red;
		    }

		    .caret {
		    	border-top: 8px dashed;
		    	border-right: 8px solid transparent;
		    	border-left: 8px solid transparent;
		    }
		}

		.dropdown {
			z-index: 9;
		}

		.dropdown.open {
			button {
				color: #fff;
    			background-color: transparent;
    			border-color: transparent;
			}
		}

		.dropdown-menu {
			left: 0;
			right: 0;
			margin-left: auto;
			margin-right: auto;
			max-width: 596px;
			width: 100%;
		    border-radius: 0;
		    background-color: rgba(23, 22, 29, 0.90);
		    padding-top: 0;
		    padding-bottom: 0;

			@media #{$tablet-up} {
				max-width: 580px;
				margin-left: -1px;
			}

		    .highlighted {
		    	color: $red;
		    }
		    
		    a {
		    	color: #fff;
		    	padding-top: 16px;
    			padding-bottom: 16px;
    			transition: background-color 0.2s;

		    	&:hover,
		    	&:focus {
		    		background-color: rgba(23, 22, 29, 0.95);
		    	}
		    }
		}
	}

	.stats-blocks {
		display: flex;
    	align-items: center;
    	flex-wrap: wrap;
    	justify-content: flex-start;

		@media #{$tablet-down} {
			justify-content: center;
		}

    	&-footer {
			text-align: right;
		    width: 100%;
		    max-width: 577px;
    		a {
    			color: #fff;
    		}
		}
	}

	.stats-block {
		flex-basis: 282px;
		background-color: transparentize(#100e18,0.55);
    	border: 1px solid #617c92;
    	margin-bottom: 12px;
    	color: #fff;
    	padding-top: 16px;
    	margin-right: 14px;
		z-index: 4;
		height: 265px;

		@media #{$tablet-up} {
			height: 239px;
		}

		&-top {
			display: flex;
			align-items: center;
    		justify-content: center;

    		&-right {
    			> div {
    				&:first-child {
    					text-transform: uppercase;
    				}
    				&:last-child {
    					color: transparentize(#ffffff,0.57);
    				}
    			}
    		}

			img {
				max-width: 76px;
    			border-radius: 50%;
    			margin-right: 15px;
			}
		}

		&-middle {
			height: 80px;
		}

		&-bottom {
			> div {
				display: flex;
				flex-direction: row;
				justify-content: center;

				&:first-child {
					border-bottom: 1px solid #504d54;
				    margin-left: 21px;
				    margin-right: 21px;
				    padding-bottom: 5px;
				    margin-bottom: 5px;
				}

				div {
					&:first-child {
						margin-right: 102px;
					}
				}
			}
		}
	}

}