.section-2 {

  background: #261b2b url("../img/section-2-bg.jpg") top no-repeat;

  &-winners {
    position: relative;
    z-index: 5;
    margin-top: 45px;
    border-top: 0;
    padding-top: 10px;

    @media #{$tablet-up} {
      border-top: 1px solid rgba(255, 255, 255, 0.24);
      padding-top: 0;
    }

    &-title {
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      left: 0;
      right: 0;
      padding-left: 0;
      top: -12px;
      color: #fff;
      background-color: transparent;
      font-size: 18px;

      @media #{$tablet-up} {
        background-color: rgb(20, 22, 34);
        padding-left: 16px;
        left: auto;
        font-size: 16px;
      }
    }

    &-list {
      display: flex;
      flex-direction: row;
      overflow: overlay;
      align-items: center;
      justify-content: space-between;
      margin-top: 34px;
    }
  }

  &-winner {
    color: #fff;
    text-align: center;

    @media #{$mobile-down} {
      margin-right: 12px;
    }

    > div {
      &:first-child {
        margin-bottom: 6px;
        img {
          max-width: 110px;
          border-radius: 50%;
        }
      }
      &:last-child {
        color: $red;
        border-top: 1px solid rgba(255, 255, 255, 0.24);
        padding-top: 4px;
        margin-top: 6px;
      }
    }
  }

  .section-header {
    text-align: center;
    position: inherit;
    margin-bottom: 32px;
    margin-top: 24px;

    @media #{$tablet-up} {
      text-align: left;
      margin-top: auto;
      margin-bottom: auto;
    }

    @media #{$desktop-up} {
      position: absolute;
    }

    h2 {
      &:nth-child(2) {
        margin-left: auto;

        @media #{$tablet-up} {
          margin-left: 211px;
        }
      }
    }

    h4 {
      margin-left: auto;

      @media #{$tablet-up} {
        margin-left: 211px;
      }
    }
  }

  .ekspertai {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    &-daugiau {
      text-align: right;
      margin-top: 26px;
      text-decoration: underline;
    }
  }

  .ekspertas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.24);
    padding-bottom: 12px;
    padding-top: 12px;

    @media #{$tablet-up} {
      flex-direction: row;
    }

    &-avatar {
      flex-basis: 100px;

      img {
        max-width: 76px;
        border-radius: 50%;
      }
    }

    &-name {
      flex-basis: 150px;
      margin-top: 8px;
      text-align: center;

      @media #{$tablet-up} {
        flex-basis: 190px;

      }

      > div {
        &:first-child {
          color: $red;
          font-size: 36px;
          line-height: 1em;
        }
        &:last-child {
          text-transform: uppercase;
          font-size: 14px;
        }
      }
    }

    &-data {
      width: 100%;
      flex-basis: 100%;

      @media #{$tablet-up} {
        width: auto;
      }

      &-top {
        display: flex;
        flex-direction: row;
        font-size: 13px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.24);
        padding-bottom: 6px;

        > div {
          flex-grow: 1;

          &:last-child {
            text-align: right;
          }
        }
      }
      &-bottom {
        display: flex;
        flex-direction: row;
        color: $red;
        padding-top: 4px;

        > div {
          flex-grow: 1;

          &:last-child {
            text-align: right;
          }
        }
      }
    }

    &.menesio {
      .ekspertas-data-bottom > div {
        &:nth-child(2) {
          padding-left: 6px;
        }
      }

    }
  }

  .info {
    padding-bottom: 24px;
    margin-bottom: 24px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.53);

    &:last-child {
      border-bottom: none;
    }
  }
  
  &-infotabs {
    display: flex;
    color: #fff;
    flex-direction: row;
    height: auto;

    @media #{$mobile-down} {
      flex-direction: column;
    }

    @media #{$tablet-up} {
      height: 520px;
      flex-direction: row;
    }
    
    a {
      color: #fff;
    }

    .tab {

      &-content {
        height: 0;
        flex-direction: column;
        transition: height 0.2s;
        max-width: 500px;
        overflow: hidden;

        &.opened {
          display: flex;
          height: 720px;

          @media #{$tablet-up} {
            height: 450px;
          }
        }
        
        span {
          color: $red;
        }
      }

      &-informacija {
        &.opened {
          height: 480px;
        }
      }

    }
    
    .tabs {
      display: flex;
      flex-direction: column;
      align-self: auto;
      margin-bottom: 32px;
      align-items: center;

      @media #{$tablet-up} {
        align-self: flex-end;
        margin-bottom: 0;
      }

      &-content {
        border: 1px solid rgba(255, 255, 255, 0.53);
        background-color: rgba(14, 17, 30, 0.53);
        padding: 16px;
        z-index: 10;
        position: relative;

        @media #{$tablet-up} {
          padding: 35px;
        }

        .circle {
          position: absolute;
          top: -11px;
          width: 22px;
          height: 22px;
          border-radius: 11px;
          background-color: #181a27;
          left: 0;
          right: 0;
          margin-left: auto;
          margin-right: auto;
          border: 1px solid rgba(255, 255, 255, 0.53);
        }

        h4 {
          margin-bottom: 16px;
          text-align: center;

          @media #{$tablet-up} {
            margin-top: 0;
            margin-bottom: 35px;
          }
        }
      }

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 5;
        text-align: center;
        width: 292px;
        height: 46px;
        border-radius: 23px;
        border: 1px solid #acacac;
        background-color: $red;
        margin-bottom: 16px;
        margin-right: 25px;
        transition: background-color 0.2s;

        &:focus,
        &:active,
        &:hover {
          text-decoration: none;
          background-color: darken($red,5);
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  &-inner {
    padding-top: 16px;
    position: relative;
    min-height: 825px;
    padding-bottom: 16px;

    @media #{$tablet-up} {
      min-height: 1080px;
      padding-top: 120px;
      padding-bottom: 0;
    }
  }

  &-objs {
    position: absolute;
    top: 28%;
    left: -54px;
    z-index: 1;
    width: 100%;

    @media #{$tablet-down} {
      display: none;
    }

    @media #{$desktop-lg} {
      left: -10px;
    }

    &-inner {
      position: relative;
    }

    .obj-1 {
      img {
        width: 750px;
      }
    }

  }

  &-buttons {
    position: relative;
    height: 170px;
    text-align: center;
    margin-top: 30px;
    z-index: 2;

    @media #{$desktop-up} {
      margin-top: 0;
    }

    a {
      position: relative;
      bottom: 0;

      @media #{$desktop-up} {
        position: absolute;
        right: 0;
      }

      &:first-child {
        @media #{$desktop-up} {
          bottom: 65px;
        }
      }
      &:last-child {
        @media #{$desktop-up} {
          bottom: 0;
        }
      }
    }

    button {
      height: 47px;
      width: 295px;
      border-radius: 23px;
      background-color: #0e111e;
      color: #fff;
      text-align: center;
      border: 1px solid #7a7b84;
      text-transform: uppercase;
      margin-top: 16px;
      transition: background-color 0.2s;
      
      &:hover {
        background-color: $green;
        color: #0e111e;
      }
    }
  }
  
  &-bottom {

    width: 100%;
    min-height: 520px;

    @media #{$mobile-down} {
      flex-wrap: wrap-reverse;
    }

    @media #{$tablet-down} {
      min-height: 257px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column-reverse;
    }

    @media #{$tablet-up} {
      position: absolute;
      bottom: 0;
      left: 0;
    }

    .step {
      width: 150px;
      height: 150px;
      text-align: center;
      background-color: #0e111e;
      color: #fff;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      transition: box-shadow 0.2s;
      z-index: 2;

      @media #{$tablet-down} {
        height: 200px;
      }

      @media #{$tablet-up} {
        width: 100%;
        height: 100%;
        max-width: 383px;
      }

      &-arrow {
        position: absolute;
        top: 125px;
        left: -11px;
        width: 20px;
        height: 20px;
        background-color: #df4244;
        color: #fff;
        border-radius: 10px;
        border: 1px solid #fff;
        text-align: center;
        font-size: 8px;
        display: flex;
        align-items: center;
        justify-content: center;

        &.last {
          top: -10px;
          left: 183px;
          transform: rotate(-90deg);
        }

        @media #{$mobile-down} {
          display: none;
        }
      }

      &:hover {
        box-shadow: inset 0 0 6px 1px #fff;
        cursor: pointer;
      }

      &-heading {
        font-size: 28px;
      }

      &-bottom {
        color: #6c6a71;
      }
    }

    &-row-1 {
      display: flex;
      justify-content: flex-end;
      width: 100%;

      @media #{$mobile-down} {
        width: 100%;
      }

      .step {

        @media #{$tablet-down} {
          width: 100%;
          margin-top: 3px;
        }

        @media #{$tablet-up} {
          flex-basis: 33%;
          height: 260px;
          margin-top: 3px;
        }

      }
    }

    &-row-2 {
      flex-wrap: wrap;
      display: flex;
      width: 100%;
      justify-content: space-between;

      @media #{$mobile-down} {
        width: 100%;
      }

      @media #{$tablet-up} {
        justify-content: flex-end;
        flex-wrap: nowrap;
      }

      .step {
        background-color: #272030;
        flex-basis: 33%;

        @media #{$mobile-down} {
          width: 100%;
          flex-basis: 100%;
        }

        @media #{$tablet-up} {
          height: 262px;
          display: flex;
          flex-direction: row;
          justify-content: space-around;

          &-right {
            text-align: left;
            max-width: 210px;
          }
        }

        @media #{$desktop-up} {
          justify-content: center;

          &-right {
            margin-left: 25px;
          }
        }
      }
    }
    
    span {
      font-size: 52px;
      color: $red;
    }
    
  }


}
