.section-1 {

  background: #261b2b url("../img/section-1-bg.jpg") top no-repeat;

  &-inner {
    padding-top: 192px;
    position: relative;
    min-height: 825px;
    padding-bottom: 16px;

    @media #{$tablet-up} {
      min-height: 1080px;
      padding-top: 225px;
      padding-bottom: 0;
    }
  }

  &-objs {
    position: absolute;
    top: 25%;
    left: -223px;
    z-index: 1;
    width: 100%;

    @media #{$tablet-down} {
      display: none;
    }

    @media #{$desktop-lg} {
      left: -10px;
    }

    &-inner {
      position: relative;
    }

    .obj-1 {
      img {
        width: 750px;
      }
    }

    .obj-2 {
      position: absolute;
      top: 139px;
      right: 215px;

      @media #{$desktop-lg} {
        top: 134px;
        right: 390px;
      }

      img {
        width: 255px;

        @media #{$desktop-lg} {
          img {
            width: 280px;
          }
        }
      }
    }
  }

  &-buttons {
    position: relative;
    height: 170px;
    text-align: center;
    margin-top: 30px;
    z-index: 2;

    @media #{$desktop-up} {
      margin-top: 0;
    }

    a {
      position: relative;
      bottom: 0;

      @media #{$desktop-up} {
        position: absolute;
        right: 0;
      }

      &:first-child {
        @media #{$desktop-up} {
          bottom: 65px;
        }
      }
      &:last-child {
        @media #{$desktop-up} {
          bottom: 0;
        }
      }
    }

    button {
      height: 47px;
      width: 295px;
      border-radius: 23px;
      background-color: #0e111e;
      color: #fff;
      text-align: center;
      border: 1px solid #7a7b84;
      text-transform: uppercase;
      margin-top: 16px;
      transition: background-color 0.2s;
      
      &:hover {
        background-color: $green;
        color: #0e111e;
      }
    }
  }
  
  &-bottom {

    width: 100%;
    min-height: 520px;

    @media #{$mobile-down} {
      flex-wrap: wrap-reverse;
    }

    @media #{$tablet-down} {
      min-height: 257px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column-reverse;
    }

    @media #{$tablet-up} {
      position: absolute;
      bottom: 0;
      left: 0;
    }

    .step {
      width: 150px;
      height: 150px;
      text-align: center;
      background-color: #0e111e;
      color: #fff;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      transition: box-shadow 0.2s;
      z-index: 2;

      @media #{$tablet-down} {
        height: 200px;
      }

      @media #{$tablet-up} {
        width: 100%;
        height: 100%;
        max-width: 383px;
      }

      &-arrow {
        position: absolute;
        top: 125px;
        left: -11px;
        width: 20px;
        height: 20px;
        background-color: #df4244;
        color: #fff;
        border-radius: 10px;
        border: 1px solid #fff;
        text-align: center;
        font-size: 8px;
        display: flex;
        align-items: center;
        justify-content: center;

        &.last {
          top: -10px;
          left: 183px;
          transform: rotate(-90deg);
        }

        @media #{$tablet-down} {
          display: none;
        }
      }

      &:hover {
        box-shadow: inset 0 0 6px 1px #fff;
        cursor: pointer;
      }

      &-heading {
        font-size: 28px;
      }

      &-bottom {
        color: #6c6a71;
      }
    }

    &-row-1 {
      display: flex;
      justify-content: flex-end;
      width: 100%;

      @media #{$mobile-down} {
        width: 100%;
      }

      .step {

        @media #{$tablet-down} {
          width: 100%;
          margin-top: 3px;
        }

        @media #{$tablet-up} {
          flex-basis: 33%;
          height: 260px;
          margin-top: 3px;
        }

      }
    }

    &-row-2 {
      flex-wrap: wrap;
      display: flex;
      width: 100%;
      justify-content: space-between;

      @media #{$mobile-down} {
        width: 100%;
      }

      @media #{$tablet-up} {
        justify-content: flex-end;
        flex-wrap: nowrap;
      }

      .step {
        background-color: #272030;
        flex-basis: 33%;

        @media #{$mobile-down} {
          width: 100%;
          flex-basis: 100%;
        }

        @media #{$tablet-up} {
          height: 262px;
          display: flex;
          flex-direction: row;
          justify-content: space-around;

          &-right {
            text-align: left;
            max-width: 210px;
          }
        }

        @media #{$desktop-up} {
          justify-content: center;

          &-right {
            margin-left: 25px;
          }
        }
      }
    }
    
    span {
      font-size: 52px;
      color: $red;
    }
    
  }


}