.section-4 {

  background: #151320 url("../img/section-4-bg.jpg") top no-repeat;

  .section-header {
    margin-top: 32px;
    margin-bottom: 32px;
    text-align: center;

    @media #{$tablet-up} {
      text-align: left;
      margin-top: 250px;
      margin-bottom: auto;
    }
  }

  &-inner {
    position: relative;
    min-height: 785px;
    padding-bottom: 16px;

    @media #{$tablet-up} {
      padding-bottom: 0;
    }
  }
  
  &-bottom {

    width: 100%;
    min-height: 520px;

    @media #{$mobile-down} {
      flex-wrap: wrap-reverse;
    }

    @media #{$tablet-down} {
      min-height: 257px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column-reverse;
    }

    @media #{$tablet-up} {
      position: absolute;
      bottom: 0;
      left: 0;
    }

    .step {
      width: 150px;
      height: 150px;
      text-align: center;
      background-color: #0e111e;
      color: #fff;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      transition: box-shadow 0.2s;
      z-index: 2;

      @media #{$tablet-down} {
        height: 200px;
      }

      @media #{$tablet-up} {
        width: 100%;
        height: 100%;
        max-width: 383px;
      }

      &-arrow {
        position: absolute;
        top: 125px;
        left: -11px;
        width: 20px;
        height: 20px;
        background-color: #df4244;
        color: #fff;
        border-radius: 10px;
        border: 1px solid #fff;
        text-align: center;
        font-size: 8px;
        display: flex;
        align-items: center;
        justify-content: center;

        &.last {
          top: -10px;
          left: 183px;
          transform: rotate(-90deg);
        }

        @media #{$mobile-down} {
          display: none;
        }
      }

      &:hover {
        box-shadow: inset 0 0 6px 1px #fff;
        cursor: pointer;
      }

      &-heading {
        font-size: 28px;
      }

      &-bottom {
        color: #6c6a71;
      }
    }

    &-row-1 {
      display: flex;
      justify-content: flex-start;
      width: 100%;

      @media #{$mobile-down} {
        width: 100%;
      }

      .step {
        background-color: #0e111e;
        flex-basis: 33%;

        @media #{$mobile-down} {
          width: 100%;
          flex-basis: 100%;
        }

        @media #{$tablet-up} {
          height: 262px;
          display: flex;
          flex-direction: row;
          justify-content: space-around;

          &-right {
            text-align: left;
            max-width: 210px;
          }
        }

        @media #{$desktop-up} {
          justify-content: center;

          &-right {
            margin-left: 25px;
          }
        }
      }
    }

    &-row-2 {
      flex-wrap: wrap;
      display: flex;
      width: 100%;
      justify-content: space-between;

      @media #{$mobile-down} {
        width: 100%;
      }

      @media #{$tablet-up} {
        justify-content: flex-start;
        flex-wrap: nowrap;
      }

      .step {
        background-color: #272030;
        flex-basis: 33%;

        @media #{$mobile-down} {
          width: 100%;
          flex-basis: 100%;
        }

        @media #{$tablet-up} {
          height: 262px;
          display: flex;
          flex-direction: row;
          justify-content: space-around;

          &-right {
            text-align: left;
            max-width: 210px;
          }
        }

        @media #{$desktop-up} {
          justify-content: center;

          &-right {
            margin-left: 25px;
          }
        }
      }
    }

    span {
      font-size: 52px;
      color: $red;
    }
    
  }


}
