.widget {
  margin-bottom: 32px;
  padding: 10px;

  &.wbg {
    background-color: #2b2935;
  }

  h4 {
    text-transform: uppercase;
    color: #c5c3cb;
    font-size: 21px;
    font-weight: 400;
    text-align: center;

    span {
      color: $red;
    }
  }

  .block {
    height: 196px;
    background-color: transparentize(#1c1d2a,0.1);
    border: 1px solid $borders-blue;
    margin-bottom: 8px;
    padding: 16px;

    &--top {
      display: flex;
      align-items: flex-start;

      &---right {
        padding-left: 16px;
        width: 100%;

        > div {
          &:first-child {
            text-transform: uppercase;
            color: #fff;
            padding-top: 8px;

            img {
              border-radius: 6px;
              margin-left: 6px;
            }
          }
          &:last-child {
            border-bottom: 1px solid #535460;
            padding-bottom: 6px;
            padding-top: 6px;
          }
        }
        
        a {
          color: #b5b5b8;
        }
      }
    }

    &--bottom {
      display: flex;
      align-items: flex-end;
      justify-content: flex-start;

      &---left {
        width: 65%;
        position: relative;
        height: 87px;

        .chart {
          bottom: -11px;
          left: -7px;
          width: 215px;
          position: absolute;
        }
      }
      &---right {
        width: 35%;
        color: #fff;

        > div {
          display: flex;
          justify-content: space-between;
        }
      }
    }
  }

  .user-avatar {
    width: 80px;
    border-radius: 40px;

    img {
      max-width: 80px;
    }
  }

}

.sidebar-toggler {
  position: absolute;
  top: 120px;
  right: -10px;
  width: 21px;
  background-color: $red;
  height: 100%;
  z-index: 9999;
  display: none;

  @media (max-width: 101.75em) {
    display: block;

    &:hover {
      cursor: pointer;
    }
  }
}

.scotch-panel-right {
  background-color: #353440;
  overflow: auto;
  overflow-y: scroll !important;
  margin-right: -15px;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
}

.long {
  display: none;
}

.toggler-badget {
  margin-left: -25px;
  margin-top: 32px;
  background-color: #cc4146;
  width: 35px;
  height: 35px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  color: #fff;

  i {
    transition: transform 0.2s;
  }

  &:hover {
    cursor: pointer;

    i {
      transform: rotate(180deg);
    }
  }

}

.scotch-is-showing {
  .short {
    display: none;
  }
  .long {
    display: block;
  }
  .container-fluid {
    margin-right: -15px;
  }
  .sidebar-toggler {
    right: -15px;
    top: 0;
  }
}
