.widget {

  &.user {
    background-color: rgba(52, 51, 62, 0.80);
    padding-bottom: 0;

    @include media-breakpoint-up(xl) {
      margin-top: -35px;
    }
  }

  h4 {
    margin-bottom: 32px;
  }

  .hero-stats {
    margin-left: -10px;
    margin-right: -10px;
    background-color: #52515b;
    display: flex;
    height: 110px;
    align-items: center;
    justify-content: space-around;

    > div {
      > div {
        text-align: center;
        color: #fff;

        &:first-child {
          font-size: 28px;
          font-weight: 700;
        }
        &:last-child {
          text-transform: uppercase;
        }
      }
    }
  }
  .eksport {
    background-color: #35333f;
    margin-left: -10px;
    margin-right: -10px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;

    .btn_eksport {
      background-color: #d35c60;
      color: #fff;
      border: 1px solid #b8b8b8;
      border-radius: 16px;
      line-height: 2.8em;
      font-size: 16px;
      text-transform: uppercase;
      font-weight: 700;
      width: 80%;
      transition: background-color 0.2s;

      &:hover {
        background-color: darken(#d35c60,5);
      }
    }
  }
  .other-stats {
    margin-left: -10px;
    margin-right: -10px;
    background-color: #52515b;
    padding: 40px;
    padding-top: 20px;
    padding-bottom: 80px;

    .color-green { color: $green; }

    > div {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 8px;

      > div {
        color: #fff;

        &:first-child {
          text-align: left;
          width: 55%;
        }
        &:last-child {
          text-align: right;
          width: 45%;
        }

      }
    }
  }
  .overall-stats {
    background-color: rgba(52, 51, 62, 1);
    margin-left: -10px;
    margin-right: -10px;
    padding: 40px;
    padding-top: 20px;
    padding-bottom: 80px;

    &.lighter {
      background-color: #484651;
    }

    .color-green { color: $green; }
    .color-red { color: $red }

    &.bordered {
      > div {
        border-bottom: 1px solid #5d5c65;
        padding-bottom: 8px;
      }
    }

    > div {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 8px;

      > div {
        color: #fff;

        &:first-child {
          text-align: left;
          width: 75%;
          text-transform: capitalize;
        }
        &:last-child {
          text-align: right;
          width: 25%;
        }

      }
    }
  }

}