.lapelis {
  margin-top: -46px;
  color: #fff;
  background-color: #393a47;

  .statymas {
    margin-bottom: 24px;
  }

  form {
    padding-bottom: 30px;
  }

  &-middle {
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 16px;
  }
  &-bendraskoef {
    border-top: 1px solid;
    border-bottom: 1px solid;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 66px;
    background-color: #403e49;

    > div {
      &:last-child {
        color: $green;
        text-decoration: underline;
        font-weight: 600;
        font-size: 18px;
      }
    }
  }
  &-analize {
    background-color: #52515a;
    padding: 30px;
    padding-top: 15px;
    padding-bottom: 15px;

    textarea {
      width: 100%;
      height: 169px;
      border-radius: 6px;
      padding-left: 12px;
      padding-top: 12px;
    }
  }
  &-bottom {
    padding: 30px;
    padding-top: 15px;
    padding-bottom: 15px;

    .radio-group {
      margin-top: 15px;
    }

    button {
      background-color: #cc4146;
      color: #fff;
      border: 1px solid #acacac;
      border-radius: 15px;
      width: 100%;
      line-height: 2.5em;
      text-transform: uppercase;
      font-size: 14px;
      margin-top: 10px;

      &.disabled {
        background-color: #543740;
        border: 1px solid #56555e;
      }
      
      &:hover {
        cursor: pointer;
      }
    }
  }
  
  .ico-removeaus {
    transition: color 0.2s;
    &:hover {
      cursor: pointer;
      color: darken(#fff,10);
    }
  }

  .info-gray {
    padding: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #d9d8da;
    display: flex;
    align-items: center;
    line-height: 1.1em;
    font-style: italic;
    font-size: 14px;
    border-bottom: 1px solid #56555e;
    border-top: 1px solid #56555e;
    margin-left: 30px;
    margin-right: 30px;

    span {
      font-size: 23px;
      margin-right: 10px;
    }
  }


  h2 {
    background-color: #51505a;
    text-transform: uppercase;
    text-align: center;
    line-height: 2.45em;
    margin-bottom: 0;
    font-weight: 500;
    color: #c5c3cb;

    span {
      color: $red;
    }
  }
  h3 {
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    font-size: 15px;
    border-bottom: 1px solid;
    margin-bottom: 12px;
  }

  .aus {
    background-color: #1e202d;
    border: 1px solid;
    border-radius: 6px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 8px;
    line-height: 2em;

    span {
      font-size: 35px;
      line-height: 1em;
      margin-bottom: -5px;
    }
  }

  .bukmekeris,
  .koef {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 12px;

    img {
      width: 100px;
    }
  }

  .koef {
    > div {
      &:last-child {
        color: $green;
        text-decoration: underline;
        font-weight: 600;
        font-size: 18px;
      }
    }
  }
}