---
title: Aktyvūs įvykiai - Tipstershub.com
bodyClass: mano-profilis aktyvus-ivykiai
---

<section class="section-1" id="section_1">
    <div class="container-fluid maxw">
        <div class="section-1-inner">

          <div class="sidebar-toggler short">
            <div class="toggler-badget">
              <i class="fa fa-angle-right" aria-hidden="true"></i>
            </div>
          </div>

          <div class="row">
              <div class="col-xl-9">
                  {{> profile}}

                  <div class="section-header">
                      <h3>Aktyvės <span>įvykiai</span></h3>
                  </div>

                  <ul class="nav nav-tabs" role="tablist">
                      <li class="nav-item">
                          <a class="nav-link active" data-toggle="tab" href="#aktyvus" role="tab">
                              Aktyvūs įvykiai
                          </a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" data-toggle="tab" href="#pasibaige" role="tab">
                              Pasibaigę įvykiai
                          </a>
                      </li>
                  </ul>
                  <div class="tab-content">
                    <div class="tab-pane fade show active" id="aktyvus" role="tabpanel">
                      <div class="ivykis">
                        <div class="ivykis-header">
                          <div>
                            <span class="ico ico-football"></span> <span class="patarimas-type">Paprastas patarimas</span>
                            <span class="patarimas-user">
                              Patarimą paskelbė <i class="fa fa-user" aria-hidden="true"></i> <a href="#" title="Riskfree">Riskfree</a>
                            </span>
                          </div>
                          <div>2017-03-16 13:25</div>
                        </div>
                        <div class="ivykis-body">
                          <div class="table-responsive">
                            <table>
                              <thead>
                                <tr>
                                  <th>Rungtynės</th>
                                  <th>Patarimas</th>
                                  <th>Koef.</th>
                                  <th>Statymas</th>
                                  <th>Rezultatas</th>
                                  <th>Baigtis</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td data-th="Rungtynės">Charlotte Hornets vs Brooklyn Nets</td>
                                  <td data-th="Patarimas">Under 220.5 points (whole matc @ 1.85</td>
                                  <td data-th="Koef." class="text-green">1.83</td>
                                  <td data-th="Statymas">
                                    <div class="progress">
                                      <div class="progress-radial progress-25">
                                        <div class="overlay"></div>
                                      </div>
                                      <div class="progress-label">8/10</div>
                                    </div>
                                  </td>
                                  <td data-th="Rezultatas"></td>
                                  <td data-th="Baigtis">
                                    <div>
                                      <span class="badge badge-red">loss</span>
                                      <span class="badge badge-red">-1/2</span>
                                      <span class="badge badge-blue">push</span>
                                      <span class="badge badge-green">+1/2</span>
                                      <span class="badge badge-green">win</span>
                                    </div>
                                  </td>
                                </tr>
                                <tr>
                                  <td data-th="Rungtynės">Charlotte Hornets vs Brooklyn Nets</td>
                                  <td data-th="Patarimas">Under 220.5 points (whole matc @ 1.85</td>
                                  <td data-th="Koef." class="text-green">1.83</td>
                                  <td data-th="Statymas">
                                    <div class="progress">
                                      <div class="progress-radial progress-25">
                                        <div class="overlay"></div>
                                      </div>
                                      <div class="progress-label">8/10</div>
                                    </div>
                                  </td>
                                  <td data-th="Rezultatas"></td>
                                  <td data-th="Baigtis">
                                    <div>
                                      <span class="badge badge-red">loss</span>
                                      <span class="badge badge-red">-1/2</span>
                                      <span class="badge badge-blue">push</span>
                                      <span class="badge badge-green">+1/2</span>
                                      <span class="badge badge-green">win</span>
                                    </div>
                                    <div><img src="{{root}}assets/img/TVS/tonybet.png" alt=""></div>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="tab-pane fade show" id="pasibaige" role="tabpanel">
                      pasibaigę
                    </div>
                  </div>

              </div>
              <div class="col-xl-3">{{> sidebar-stats}}</div>
          </div>
          
        </div>
    </div>
</section>

{{> totals}}
