---
title: Atkurti slaptažodį - Tipstershub.com
bodyClass: atkurti-slaptazodi
---

<section class="section-1" id="section_1">
    <div class="container-fluid maxw">
        <div class="section-1-inner">

            <div class="row">
                <div class="col-lg-12">

                    <div class="section-header">
                        <h2>ATKURTI SLAPTAŽODĮ</h2>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="msg">
                                <ul>
                                    <li class="msg-success">Slaptažodžio pakeitimas sėkmingai išsiustas Jums į el. paštą</li>
                                    <li class="msg-error">Naudotojo vardas arba el. paštas "tipsters@gmail.com" neegzistuoja.</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-lg-4">
                            <form action="" method="post" id="restorepass_form">
                                <input type="text" name="login_name" placeholder="Naudotojo vardas arba el. paštas" required>
                                <input type="submit" class="btn_submit" value="Tęsti">
                            </form>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>

{{> totals}}