---
title: Blokuojami puslapiai - Tipstershub.com
bodyClass: blokuojami-puslapiai
---

<section class="section-1" id="section_1">
    <div class="container-fluid maxw">
        <div class="section-1-inner">

            <div class="row">
                <div class="col-lg-12">

                    <div class="section-header">
                        <h2>KAIP PASIEKTI <span>BLOKUOJAMUS PUSLAPIUS?</span></h2>
                        <h4>MES JUMS PADĖSIME TAPTI EKSPERTAIS</h4>
                    </div>

                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#windows" role="tab">
                                <i class="fa fa-windows" aria-hidden="true"></i> &nbsp; Windows
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#mac" role="tab">
                                <i class="fa fa-apple" aria-hidden="true"></i> &nbsp; Mac
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="windows" role="tabpanel">
                            <ul>
                                <li>1. Paspauskite START mygtuką ir paieškos lange įrašykite ncpa.cpl bei spustelkite ENTER.</li>
                                <li>2. Atsidariusiame lange pasirinkite aktyvų interneto šaltinį, spauskite ant jo dešinį pelės mygtuką, o tuomet PROPERTIES.</li>
                                <li>3. NETWORKING sekcijoje pasirinkite Internet Protocol Version 4 (TCP/IPv4) bei paspauskite PROPERTIES mygtuką, esantį žemiau dešinėje.</li>
                                <li>
                                    <div class="row">
                                        <div class="col-md-6"><img src="{{root}}assets/img/win-1.jpg" alt=""></div>
                                        <div class="col-md-6"><img src="{{root}}assets/img/win-2.jpg" alt=""></div>
                                    </div>
                                </li>
                                <li>4. Atsidariusio lango GENERAL sekcijoje pasirinkite Use the following DNS server addresses. Tai jums leis įrašyti kitus serverio adresus. Įrašome Google DNS (8.8.8.8 ir 8.8.4.4)</li>
                                <li>
                                    <div class="row">
                                        <div class="col-md-6"><img src="{{root}}assets/img/win-3.jpg" alt=""></div>
                                    </div>
                                </li>
                                <li>5. Voila!</li>
                            </ul>
                        </div>
                        <div class="tab-pane fade" id="mac" role="tabpanel">
                            <ul>
                                <li>1. Pasirenkame SYSTEM PREFERENCES</li>
                                <li>2. Spaudžian NETWORK</li>
                                <li>
                                    <div class="row">
                                        <div class="col-md-6"><img src="{{root}}assets/img/mac-1.jpg" alt=""></div>
                                        <div class="col-md-6"><img src="{{root}}assets/img/mac-2.jpg" alt=""></div>
                                    </div>
                                </li>
                                <li>3. Atsidariusio lango dešiniame kampe apačioje pamatysite ADVANCED, spauskite.</li>
                                <li>
                                    <div class="row">
                                        <div class="col-md-6"><img src="{{root}}assets/img/mac-3.jpg" alt=""></div>
                                        <div class="col-md-6"><img src="{{root}}assets/img/mac-4.jpg" alt=""></div>
                                    </div>
                                </li>
                                <li>4. Pasirienkame DNS skiltį</li>
                                <li>5.  Kairiajame lango kampe apačioje yra pliuso ženklu pažymėtas mygtukas. Paspaudę jį įveskite serverių adresus.</li>
                                <li class="text-red">
                                    Google DNS:<br>
                                    Primary 8.8.8.8<br>
                                    Secondary 8.8.4.4
                                </li>
                                <li>
                                    <div class="row">
                                        <div class="col-md-6"><img src="{{root}}assets/img/mac-5.jpg" alt=""></div>
                                        <div class="col-md-6"><img src="{{root}}assets/img/mac-6.jpg" alt=""></div>
                                    </div>
                                </li>
                                <li>6. Tuomet pažymėkite savo seną DNS serverio adresą ir paspauskite minuso ženklu pažymėtą mygtuką, taip panaikinsite nereikalingo serverio adresą, kuris blokavo jums prieigą prie norimo puslapio.</li>
                                <li>
                                    <div class="row">
                                        <div class="col-md-6"><img src="{{root}}assets/img/mac-7.jpg" alt=""></div>
                                    </div>
                                </li>
                                <li>7. Voila!</li>
                            </ul>
                        </div>
                    </div>

                    <div class="atgal">
                        <input type="button" id="go_back" class="btn btn-atgal" value="Atgal">
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>

<section class="section-2" id="section_2">
    <div class="container-fluid maxw">
        <div class="section-2-inner">

            <div class="row">
                <div class="col-lg-12">

                    <div class="section-header">
                        <h4>TAIP PAT SKAITYKITE</h4>
                    </div>

                    {{> readmore}}

                </div>
            </div>

        </div>
    </div>
</section>

{{> totals}}