---
title: Bonusas - Tipstershub.com
bodyClass: bonusas
---

<section class="section-1" id="section_1">
    <div class="container-fluid maxw">
        <div class="section-1-inner">

            <div class="row">
                <div class="col-lg-12">

                    <div class="section-header">
                        <h2>
                            Bonusas
                            <img src="{{root}}assets/img/TVS/cbet.png" alt="">
                            <div>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                        </h2>
                        <h4>Svarbiausi faktai apie lažybų bendrovę bei <span>siūlomą premiją</span></h4>
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-md-5 col-lg-4">
                    <div class="bonus">
                        <div>NAUJIEMS VARTOTOJAMS</div>
                        <h2>100%</h2>
                        <div>DEPOZITO BONUSAS <br>iki 200 EUR</div>
                        <button>PASIIMTI DABAR</button>
                    </div>
                </div>
                <div class="col-md-7 col-lg-8">
                    <div class="bonusas--right">
                        <ul>
                            <li>
                                Lietuviškas lažybų portalas, pritaikytas Lietuvos Respublikos ir kitų šalių piliečiams
                                teikti tik aukščiausius kokybės standartus atitinkančias paslaugas.
                            </li>
                            <li>
                                Geriausios rinkoje premijos naujokams.
                            </li>
                            <li>
                                Patogus bei greitas laimėjimų išgryninimas, tobulai pritaikytas Lietuvoje
                                gyvenantiems asmenims.
                            </li>
                            <li>
                                Plati populiariausių sporto šakų įvykių pasiūla.
                            </li>
                            <li>
                                Visą parą dirbantis vartotojų aptarnavimo skyrius.
                            </li>
                            <li>
                                Unikalus bonuso kodas, kurį panaudojus atlikdami įmoką gausite premiją - ''TIPSTERSHUB''
                            </li>
                            <li>
                                Šis CBet pasiūlymas galioja tik naujai registruotiems žaidėjams bei atliekantiems pirmą
                                įmoką į savo lažybų sąskaitą. Minimali įmokos suma - 10€, maksimali - 200€
                            </li>
                            <li>
                                Premijos suma (identišką įmokai) bus pervesta į lažybų sąskaitą iš karto, kai bus
                                gauta pirma įmoka
                            </li>
                            <li>
                                Gautos premijos dydžio suma turi būti pražaista 12 kartų su bendru 1.85 arba aukštesniu
                                koeficientu,iki kol pinigai galės būti išmokami
                            </li>
                            <li>
                                Jei po premijos gavimo 60 dienų laikotarpyje premijos sąlygos nėra įvykdomos, premija
                                ir visi laimėjimai, kurie buvo įskaityti po premijos gavimo, automatiškai anuliuojami.
                            </li>
                        </ul>

                        <button class="btn btn-taisykles" data-toggle="rules">Taisyklės <i class="fa fa-angle-down" aria-hidden="true"></i></button>
                        <div id="rules" class="taisykles">
                            <p>
                                Trijų baigčių pranašumas – pasirinkus statyme lažybų įvykio baigties interpretavimo
                                variantą “3 baigčių pranašumas”, po lažybų įvykio baigties prie galutinio rezultato
                                pridedami (jei su „-“ ženklu – atimami) įvarčiai (taškai ir pan.) prie išsirinktos
                                komandos ar kito dalyvio pranašumo.
                            </p>
                            <p>
                                Jeigu, sudėjus lažybų įvykio rezultatą su pranašumu, lažybų įvykio rezultatas
                                (su pranašumu) yra išsirinktos komandos naudai, tai statymas laikomas laimėtu.
                                Jeigu rezultatas, įvertinus pranašumą, yra priešingos komandos naudai, tai statymas
                                laikomas pralaimėtu. Tuo tarpu, jei įvertinus pranašumą rezultatas tampa lygus - laimi
                                statymai už lygiąsias su pasirinktu pranašumu.
                            </p>
                            <p>
                                Lažybų įvykio nugalėtojais paskelbus kelis lažybų įvykio dalyvius ar baigtis,
                                laimėjimo suma yra apskaičiuojama, lažybų kortelėje nurodytą lažybų koeficientą
                                padalinant iš nugalėjusių dalyvių arba baigčių skaičiaus. Perskaičiuotas lažybų
                                koeficientas negali būti mažesnis už 1.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="section-2" id="section_2">
    <div class="container-fluid maxw">
        <div class="section-2-inner">

            <div class="row">
                <div class="col">

                    <div class="section-header">
                        <h2><span>TOP 21</span> LAŽYBŲ BENDROVĖS</h2>
                    </div>

                    <div class="slider">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">

                                {{#each bukmekeriai}}
                                <div class="swiper-slide">
                                    <div class="bukmekeris">
                                        <div class="bukmekeris--top">
                                            <div>{{ this.nr }}</div>
                                            <div><img src="{{ root }}assets/img/TVS/{{#tolower}}{{ this.name }}{{/tolower}}.png" alt="{{ this.name }}"></div>
                                        </div>
                                        <div class="bukmekeris--bottom">
                                            <div class="bukmekeris--bottom---left">
                                                <div>{{ this.name }}</div>
                                                <div>
                                                    {{#ifequal stars 5}}
                                                    {{#repeat 5}}<i class="fa fa-star" aria-hidden="true"></i>{{/repeat}}
                                                    {{/ifequal}}

                                                    {{#ifequal stars 4}}
                                                    {{#repeat 4}}<i class="fa fa-star" aria-hidden="true"></i>{{/repeat}}
                                                    {{/ifequal}}

                                                    {{#ifequal stars 3}}
                                                    {{#repeat 3}}<i class="fa fa-star" aria-hidden="true"></i>{{/repeat}}
                                                    {{/ifequal}}

                                                    {{#ifequal stars 2}}
                                                    {{#repeat 2}}<i class="fa fa-star" aria-hidden="true"></i>{{/repeat}}
                                                    {{/ifequal}}

                                                    {{#ifequal stars 1}}
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    {{/ifequal}}
                                                </div>
                                            </div>
                                            <div class="bukmekeris--bottom---right">
                                                <div>Bonusas: &nbsp;</div>
                                                <div>
                                                    {{#if bonus}}
                                                    <a href="{{root}}bonusas.html">
                                                        <button class="btn btn_bonus">{{this.bonus}}</button>
                                                    </a>
                                                    {{else}}
                                                    <button class="btn btn_nobonus">N/A</button>
                                                    {{/if}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {{/each}}

                            </div>
                        </div>
                        <div class="swiper-button-next swiper-button-white"></div>
                        <div class="swiper-button-prev swiper-button-white"></div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>

{{> totals}}