---
title: Ekspertai - Tipstershub.com
bodyClass: ekspertai
---

<section class="section-1" id="section_1">
    <div class="container-fluid maxw">
        <div class="section-1-inner">

            <div class="row">
                <div class="col-lg-12">

                    <div class="section-header">
                        <h2>Ekspertai</h2>
                        <h4>Ieškokite tarp <span>geriausių</span> ekspertų</h4>
                    </div>

                    <div class="ekspertai--main">
                        <!-- FILTRAS -->
                        <form action="" method="post">
                            <div class="filter">
                                <div class="row">
                                    <div class="col-sm-6 col-lg-3">
                                        <label>
                                            <span class="label">Ekspertų tipas</span>
                                            <select class="select2" name="ekspertu_tipas">
                                                <option value="">Nemokamai</option>
                                            </select>
                                        </label>
                                    </div>
                                    <div class="col-sm-6 col-lg-3">
                                        <label>
                                            <span class="label">Mėnesis</span>
                                            <select class="select2" name="ekspertu_tipas">
                                                <option value="">Pasirinkite</option>
                                            </select>
                                        </label>
                                    </div>
                                    <div class="col-sm-6 col-lg-3">
                                        <label>
                                            <span class="label">Sportas</span>
                                            <select class="select2" name="ekspertu_tipas">
                                                <option value="">Pasirinkite</option>
                                            </select>
                                        </label>
                                    </div>
                                    <div class="col-sm-6 col-lg-3">
                                        <label>
                                            <span class="label">ĮVYKIŲ SKAIČIUS</span>
                                            <select class="select2" name="ekspertu_tipas">
                                                <option value="">Pasirinkite</option>
                                            </select>
                                        </label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-lg-3">
                                        <label>
                                            <span class="label">Pelnas</span>
                                            <select class="select2" name="ekspertu_tipas">
                                                <option value="">Pasirinkite</option>
                                            </select>
                                        </label>
                                    </div>
                                    <div class="col-sm-6 col-lg-3">
                                        <label>
                                            <span class="label">Grąža (%)</span>
                                            <select class="select2" name="ekspertu_tipas">
                                                <option value="">Pasirinkite</option>
                                            </select>
                                        </label>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="checkbox-group">
                                            <div class="checkbox-rounded">
                                                <input type="checkbox" value="1" id="prisiminti" name="check" />
                                                <label for="prisiminti"></label>
                                            </div>
                                            <div class="checkbox-label">TURI AKTYVIŲ statymų per paskutines 30 dienų</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="filter-button">
                                    <input class="btn_submit" type="submit" value="Ieškoti">
                                </div>
                            </div>
                        </form>
                        <!-- end FILTRAS -->

                        <!-- PAIESKOS REZULTATAI -->
                        <div class="search-results">
                            <div class="search-results--title">
                                <h4>Rasta <span>98 aktyvių</span> ekspertų</h4>
                                <form action="" method="post">
                                    <div>
                                        <label>
                                            <span class="label">Ieškoti pagal vardą:</span>
                                            <input type="text" name="user_name" placeholder="Vartotojas" required>
                                        </label>
                                        <button class="btn btn_subscribe">Ieškoti</button>
                                    </div>
                                </form>
                            </div>

                            <label>
                                <span class="label">Rušiuoti pagal</span>
                                <select class="select2" name="ekspertu_tipas" id="">
                                    <option value="">Option 1</option>
                                    <option value="">Option 2</option>
                                    <option value="">Option 3</option>
                                </select>
                            </label>

                            <div class="ekspertai-results">

                                {{#each experts}}
                                    <div class="ekspertas">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="ekspertas--left">
                                                    <div class="user-avatar"><img src="https://api.adorable.io/avatars/285/{{this.user}}@tipstershub.com.png" alt="{{this.user}}"></div>
                                                    <div class="user-data">
                                                        <div>{{ this.user }} <img src="{{ root }}assets/img/{{ this.country }}.png" alt="{{ this.country }}"></div>
                                                        <div><a href="#">{{ this.user }}.tipstershub.com</a></div>
                                                        <div>
                                                            <i class="fa fa-star" aria-hidden="true"></i>
                                                            <i class="fa fa-check-circle" aria-hidden="true"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-7">
                                                <div class="ekspertas--middle">
                                                    <div>
                                                        <div>{{ this.statymai }}</div>
                                                        <div>Statymai</div>
                                                    </div>
                                                    <div>
                                                        <div>{{ this.pelnas }}</div>
                                                        <div>Pelnas</div>
                                                    </div>
                                                    <div>
                                                        <div>{{ this.graza }}</div>
                                                        <div>Grąža (%)</div>
                                                    </div>
                                                    <div>
                                                        <div>{{ this.sekejai }}</div>
                                                        <div>Sekėjai</div>
                                                    </div>
                                                    <div class="green">
                                                        <div>{{ this.patvirtinta }}%</div>
                                                        <div>Patvirtinta</div>
                                                    </div>
                                                    <div class="chart">
                                                        <div id="user_{{ this.id }}_stats" data-userdata="{{ root }}data/userdata_{{ this.id }}.json"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="ekspertas--right">
                                                    <a href="#">
                                                        <button class="btn btn_submit">Follow</button>
                                                    </a>
                                                    <div>
                                                        <i class="fa fa-comment-o" aria-hidden="true"></i>
                                                        <a href="{{ root }}ekspertai-komentarai.html">Komentarai ({{ this.komentarai }})</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <div class="ekspertas--bottom">
                                                    <div class="ekspertas--bottom---left">UŽSISAKYTI PASLAUGAS:</div>
                                                    <div class="ekspertas--bottom---right">
                                                        <form action="" id="plan_subscribe">
                                                            <input type="hidden" name="user_id" value="{{ this.id }}">
                                                            <button data-plan="period_1">9 EUR / 7 D</button>
                                                            <button data-plan="period_2">19 EUR / 7 D</button>
                                                            <button data-plan="period_3">19 EUR / 7 D</button>
                                                            <button data-plan="period_4">119 EUR / 90 D</button>
                                                            <button type="submit" class="btn btn_subscribe">SUBSRICE</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {{/each}}

                                <div class="rodyti-daugiau">
                                    <a href="#">
                                        <button class="btn btn_daugiau">Rodyti daugiau</button>
                                    </a>
                                </div>

                            </div>
                        </div>
                        <!-- end PAIESKOS REZULTATAI -->
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>

{{> totals}}