---
title: Komentarai ekspertas Tomas - Tipstershub.com
bodyClass: ekspertai-komentarai
---

<section class="section-1" id="section_1">
    <div class="container-fluid maxw">
        <div class="section-1-inner">

            <div class="row">
                <div class="col-lg-12">

                    <div class="section-header">
                        <h2>Komentarai</h2>
                        <a id="go_back" href="#">Atgal</a>
                    </div>

                    <div class="ekspertas">
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="ekspertas--left">
                                    <div class="user-avatar"><img src="https://api.adorable.io/avatars/285/{{this.user}}@tipstershub.com.png" alt="{{this.user}}"></div>
                                    <div class="user-data">
                                        <div>Tomas <img src="{{ root }}assets/img/lt.png" alt="{{ this.country }}"></div>
                                        <div><a href="#">Tomas.tipstershub.com</a></div>
                                        <div>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-check-circle" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <div class="ekspertas--middle">
                                    <div>
                                        <div>1420</div>
                                        <div>Statymai</div>
                                    </div>
                                    <div>
                                        <div>681</div>
                                        <div>Pelnas</div>
                                    </div>
                                    <div>
                                        <div>10.2</div>
                                        <div>Grąža (%)</div>
                                    </div>
                                    <div>
                                        <div>2245</div>
                                        <div>Sekėjai</div>
                                    </div>
                                    <div class="green">
                                        <div>78%</div>
                                        <div>Patvirtinta</div>
                                    </div>
                                    <div class="chart">
                                        <div id="user_1_stats" data-userdata="{{ root }}data/userdata_1.json"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="ekspertas--right">
                                    <a href="#">
                                        <button class="btn btn_submit">Follow</button>
                                    </a>
                                    <div>
                                        <i class="fa fa-comment-o" aria-hidden="true"></i>
                                        <a href="{{ root }}ekspertai-komentarai.html">Komentarai (5)</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="ekspertas--bottom">
                                    <div class="ekspertas--bottom---left">UŽSISAKYTI PASLAUGAS:</div>
                                    <div class="ekspertas--bottom---right">
                                        <button>9 EUR / 7 D</button>
                                        <button>19 EUR / 7 D</button>
                                        <button>19 EUR / 7 D</button>
                                        <button>119 EUR / 90 D</button>
                                        <button class="btn btn_subscribe">SUBSRICE</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <form action="" method="post" id="add_comment" class="add-comment">
                        <div class="row align-items-end">
                            <div class="col-md-10">
                                <textarea name="comment" id="comment" placeholder="Komentuoti" required></textarea>
                            </div>
                            <div class="col-md-2">
                                <button type="submit" class="btn btn_submit">Komentuoti</button>
                            </div>
                        </div>
                    </form>

                    <div class="comments">
                        {{#each comments}}
                        <div class="comment">
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="comment--left">
                                        <div class="user-avatar"><img src="https://api.adorable.io/avatars/285/{{this.user}}@tipstershub.com.png" alt="{{this.user}}"></div>
                                        <div>
                                            <div>{{ this.user }}</div>
                                            <div>{{ this.nick }} <img src="{{ root }}assets/img/{{ this.country }}.png" alt="{{ this.country }}"></div>
                                            <div><a href="{{ this.nick }}.tipstershub.com">{{ this.nick }}.tipstershub.com</a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-9">
                                    <div class="comment--right">
                                        <p>
                                            {{ this.comment }}
                                            <span>{{ this.date }}</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>

{{> totals}}