---
title: Įdėti live patvirtintą - Tipstershub.com
bodyClass: mano-profilis ideti-live
---

<section class="section-1" id="section_1">
    <div class="container-fluid maxw">
        <div class="section-1-inner">

            <div class="sidebar-toggler short">
                <div class="toggler-badget">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-9">

                    <div class="section-header">
                        <h3>Įdėti <span>live</span> patarimą</h3>
                    </div>

                    <h4>Statymai</h4>

                    <div class="row-sportas">
                        <div class="row align-items-center">
                            <div class="col-sm-2 col-md-1">
                                <div class="row-sportas--left">Sportas</div>
                            </div>
                            <div class="col-sm-10 col-md-11">
                                <div class="row-sportas--right">
                                    <select name="sportas" id="sportas" class="select2">
                                        <option value="">Pasirinkite</option>
                                        <option value="">Tennis</option>
                                        <option value="">Football</option>
                                        <option value="">Basketball</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row-selected-game">
                        <div>
                            <h2><span class="ico-tenisas"></span> Tennis Live</h2>
                            Felipe Cunha Silva v Miguel Semmelr
                        </div>
                        <div class="text-green">
                            AUTO REFRESH IN 9sec
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="live-games">
                                <div class="live-game" data-toggleclass2="active" id="game_1">Markus Eriksson V Jonathan Mridha</div>
                                <div class="live-game" data-toggleclass2="active" id="game_2">Markus Eriksson V Jonathan Mridha</div>
                                <div class="live-game" data-toggleclass2="active" id="game_3">Markus Eriksson V Jonathan Mridha</div>
                                <div class="live-game" data-toggleclass2="active" id="game_4">Markus Eriksson V Jonathan Mridha</div>
                                <div class="live-game" data-toggleclass2="active" id="game_5">Markus Eriksson V Jonathan Mridha</div>
                                <div class="live-game" data-toggleclass2="active" id="game_6">Markus Eriksson V Jonathan Mridha</div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="match-winner">
                                <div class="match-winner-heading">
                                    MATCH WINNER
                                </div>
                                <div class="match-winner-koef">
                                    <div>
                                        Varvara Gracheva
                                        <label data-toggleclass="active">
                                            1.15
                                            <input type="checkbox" value="1.15">
                                        </label>
                                    </div>
                                    <div>
                                        Deborah Kerfs
                                        <label data-toggleclass="active">
                                            1.15
                                            <input type="checkbox" value="1.15">
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="match-winner">
                                <div class="match-winner-heading">
                                    SET BETTING
                                </div>
                                <div class="match-winner-koef">
                                    <div>
                                        Varvara Gracheva to win 2-0
                                        <label data-toggleclass="active">
                                            1.15
                                            <input type="checkbox" value="1.15">
                                        </label>
                                    </div>
                                    <div>
                                        Deborah Kerfs to win 2-1
                                        <label data-toggleclass="active">
                                            1.15
                                            <input type="checkbox" value="1.15">
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="info info-gray">
                        <span class="ico-sauktukas"></span>
                        Norėdami padaryti kombinuotą statymą, rinkites kelis statymus. Statymų lapelyje turėtų atsirasti kombinuotas patarimas.
                    </div>

                    <div class="taisykles" data-toggle="taisykles">
                        <h2>Taisyklės</h2>
                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                    </div>
                    <div class="taisykles-content" id="taisykles">
                        <p>askdlakdlak</p>
                        <p>1. asdhajkhdjkahsdahsdhkahdkj</p>
                    </div>

                </div>
                <div class="col-xl-3">{{> statymu-lapelis}}</div>
            </div>

        </div>
    </div>
</section>

{{> totals}}