---
title: Įdėti patvirtintą - Tipstershub.com
bodyClass: mano-profilis ideti-patvirtinta
---

<section class="section-1" id="section_1">
    <div class="container-fluid maxw">
        <div class="section-1-inner">

          <div class="sidebar-toggler short">
              <div class="toggler-badget">
                  <i class="fa fa-angle-right" aria-hidden="true"></i>
              </div>
          </div>

          <div class="row">
              <div class="col-xl-9">
                  {{> profile}}

                  <div class="section-header">
                      <h3>Įdėti <span>patvirtinta</span> patarimą</h3>
                  </div>

                  <h4>Statymai</h4>
                  <div class="statymai">
                    <div>
                      <div class="form-group row">
                          <label for="sportas" class="col-sm-3 col-md-3 col-form-label">Sportas</label>
                          <div class="col-md-7">
                              <select name="sportas" class="form-control select2" id="sportas">
                                  <option value="1">Krepšinis</option>
                                  <option value="2">Futbolas</option>
                                  <option value="3">Forumlė 1 (F-1) </option>
                              </select>
                          </div>
                      </div>
                      <div class="form-group row">
                          <label for="lyga" class="col-sm-3 col-md-3 col-form-label">Lyga</label>
                          <div class="col-md-7">
                              <select name="lyga" class="form-control select2" id="lyga">
                                  <option value="1">NBA</option>
                                  <option value="2">NBL</option>
                                  <option value="3">NFL</option>
                              </select>
                          </div>
                      </div>
                    </div>
                    <div>
                      <div class="form-group row">
                          <label for="salis" class="col-sm-3 col-md-3 col-form-label">Šalis</label>
                          <div class="col-md-7">
                              <select name="salis" class="form-control" id="salis">
                                  <option value=""></option>
                                  <option value="lt">Lithuania</option>
                                  <option value="ru">Russia</option>
                                  <option value="pl">Poland</option>
                                  <option value="lv">Latvia</option>
                              </select>
                          </div>
                      </div>
                      <div class="form-group row">
                          <label for="rungtynes" class="col-sm-3 col-md-3 col-form-label">Rungtynės</label>
                          <div class="col-md-7">
                              <select name="rungtynes" class="form-control select2" id="rungtynes">
                                  <option value="1561654">L.Rytas (Vilnius) - Prienai Vytautas</option>
                                  <option value="1565654">Žalgiris (Kaunas) - L.Rytas (Vilnius)</option>
                              </select>
                          </div>
                      </div>
                    </div>
                  </div>

                  <div class="secondary">
                      <ul class="nav nav-tabs" role="tablist">
                          <li class="nav-item">
                              <a class="nav-link" data-toggle="tab" id="matches" href="#" role="tab">
                                  Matches
                              </a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link active" data-toggle="tab" href="#relegation" role="tab">
                                  Relegation
                              </a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" data-toggle="tab" href="#promotions" role="tab">
                                  Promotions
                              </a>
                          </li>
                      </ul>
                      <div class="tab-content">
                          <div class="tab-pane fade show active" id="relegation" role="tabpanel">
                              <p>
                                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid consequatur delectus
                                  earum error fugiat iure libero minus mollitia nam, officia porro quia quos soluta
                                  suscipit ut velit voluptas voluptates voluptatum?
                              </p>
                          </div>
                          <div class="tab-pane fade show" id="promotions" role="tabpanel"></div>
                      </div>
                  </div>

                  <ul class="nav nav-tabs primary" role="tablist">
                      <li class="nav-item">
                          <a class="nav-link" id="outrights" href="#">
                              OUTRIGHTS
                          </a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link active" data-toggle="tab" href="#home-away" role="tab">
                              HOME AWAY
                          </a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" data-toggle="tab" href="#home-away-draw" role="tab">
                              HOME AWAY DRAW
                          </a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" data-toggle="tab" href="#over-under" role="tab">
                              OVER/UNDER
                          </a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" data-toggle="tab" href="#odd-even" role="tab">
                              ODD/EVEN
                          </a>
                      </li>
                      <li class="list-select">
                          <select name="pasiulymas" id="pasiulymas" class="select2">
                              <option value="">Pasirinkite pasiūlymą</option>
                              <option value="1">Pasirinkimas nr1</option>
                              <option value="2">Pasirinkimas nr2</option>
                              <option value="3">Pasirinkimas nr3</option>
                          </select>
                      </li>
                  </ul>

                  <div class="tab-content">
                      <div class="tab-pane fade show active" id="home-away" role="tabpanel">
                          <div class="selects">
                              <div>
                                  <select name="match" id="match" class="select2">
                                      <option value="">Option 1</option>
                                      <option value="">Option 2</option>
                                      <option value="">Option 3</option>
                                  </select>
                              </div>
                              <div>
                                  <select name="koef" id="koef" class="select2">
                                      <option value="">Option 1</option>
                                      <option value="">Option 2</option>
                                      <option value="">Option 3</option>
                                  </select>
                              </div>
                          </div>
                          <div class="bukmekeriai-header">
                              <h4>Bukmekeris</h4>
                              <h4>Home</h4>
                              <h4>Away</h4>
                          </div>
                          <div class="bukmekeriai">
                              <div class="bukmekeriai-row">
                                  <div>
                                      <img src="{{root}}assets/img/TVS/1xbet.png" alt="">
                                      <a href="#">1xbet</a>
                                  </div>
                                  <div>
                                      <label data-toggleclass="active">
                                          1.15
                                          <input type="checkbox" value="1.15">
                                      </label>
                                  </div>
                                  <div>
                                      <label data-toggleclass="active">
                                          6.10
                                          <input type="checkbox" value="6.10">
                                      </label>
                                  </div>
                              </div>
                              <div class="bukmekeriai-row">
                                  <div>
                                      <img src="{{root}}assets/img/TVS/marathonbet.png" alt="">
                                      <a href="#">Marathon</a>
                                  </div>
                                  <div>
                                      <label data-toggleclass="active">
                                          1.15
                                          <input type="checkbox" value="1.15">
                                      </label>
                                  </div>
                                  <div>
                                      <label data-toggleclass="active">
                                          6.10
                                          <input type="checkbox" value="6.10">
                                      </label>
                                  </div>
                              </div>
                              <div class="bukmekeriai-row">
                                  <div>
                                      <img src="{{root}}assets/img/TVS/tonybet.png" alt="">
                                      <a href="#">Tonybet</a>
                                  </div>
                                  <div>
                                      <label data-toggleclass="active">
                                          1.15
                                          <input type="checkbox" value="1.15">
                                      </label>
                                  </div>
                                  <div>
                                      <label data-toggleclass="active">
                                          6.10
                                          <input type="checkbox" value="6.10">
                                      </label>
                                  </div>
                              </div>
                          </div>
                          <div class="info info-gray">
                              <span class="ico-sauktukas"></span>
                              Norėdami padaryti kombinuotą statymą, rinkites kelis statymus. Statymų lapelyje turėtų atsirasti kombinuotas patarimas.
                          </div>
                          <div class="info info-red">
                              <span class="ico-sauktukas"></span>
                              Kombinuotų patarimų iš skirtingų bukmeikerių kombinuoti negalima
                          </div>
                      </div>
                      <div class="tab-pane fade show" id="home-away-draw" role="tabpanel"></div>
                      <div class="tab-pane fade show" id="over-under" role="tabpanel"></div>
                      <div class="tab-pane fade show" id="odd-even" role="tabpanel"></div>
                  </div>

                  <div class="taisykles" data-toggle="taisykles">
                      <h2>Taisyklės</h2>
                      <i class="fa fa-angle-down" aria-hidden="true"></i>
                  </div>
                  <div class="taisykles-content" id="taisykles">
                      <p>askdlakdlak</p>
                      <p>1. asdhajkhdjkahsdahsdhkahdkj</p>
                  </div>

              </div>
              <div class="col-xl-3">{{> statymu-lapelis}}</div>
          </div>
          
        </div>
    </div>
</section>