---
title: Pagrindinis - Tipstershub
bodyClass: home aos
---

<!-- SECTION 1 -->
<section class="section-1" id="section_1">
    <div class="container-fluid maxw">

        <div class="section-1-inner">

            <div class="section-1-objs">
                <div class="section-1-objs-inner">

                    <div class="obj-1"
                         data-aos="zoom-out-up"
                         data-aos-offset="300"
                         data-aos-duration="1700"
                         data-aos-easing="ease-in-sine">
                        <img src="{{root}}assets/img/section-1-obj.png" alt="obj1">
                    </div>
                    <div class="obj-2"
                         data-aos="zoom-out-up"
                         data-aos-offset="300"
                         data-aos-duration="1700"
                         data-aos-easing="ease-in-sine">
                        <img src="{{root}}assets/img/section-1-obj2.png" alt="obj2">
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-md-12 col-lg-8">
                    <div class="section-header" data-aos="fade-right" data-aos-duration="500">
                        <h2>TAPK SPORTO EKSPTERTU</h2>
                        <h2>REGISTRUOKIS DABAR</h2>
                        <h4>ir gauk 10€ <span>NEMOKAMAI!</span></h4>
                    </div>
                </div>
                <div class="col-md-12 col-lg-4">
                    <div class="section-1-buttons" data-aos="fade-left" data-aos-duration="500">
                        <a href="#"><button><i class="fa fa-youtube-play" aria-hidden="true"></i> &nbsp; Kodėl verta</button></a>
                        <a href="#"><button>Registruokis</button></a>
                    </div>
                </div>
            </div>

            <div class="section-1-bottom">
                <div class="section-1-bottom-row-1">
                    <div class="step">
                        <span class="ico-winner"></span>
                        <div class="step-heading">LAIMĖKITE</div>
                        <div class="step-bottom">Prizus</div>
                    </div>
                </div>
                <div class="section-1-bottom-row-2">
                    <div class="step">
                        <div class="step-left"><span class="ico-raskite"></span></div>
                        <div class="step-right">
                            <div class="step-heading">RASKITE</div>
                            <div class="step-bottom">ir atsirinkite patikimus ekspertus</div>
                        </div>
                    </div>
                    <div class="step">
                        <div class="step-arrow"><i class="fa fa-chevron-right" aria-hidden="true"></i></div>
                        <div class="step-left"><span class="ico-sekite"></span></div>
                        <div class="step-right">
                            <div class="step-heading">SEKITE</div>
                            <div class="step-bottom">Savo lažybų laimėjimus ir statistiką</div>
                        </div>
                    </div>
                    <div class="step">
                        <div class="step-arrow last"><i class="fa fa-chevron-right" aria-hidden="true"></i></div>
                        <div class="step-arrow"><i class="fa fa-chevron-right" aria-hidden="true"></i></div>
                        <div class="step-left"><span class="ico-gauti"></span></div>
                        <div class="step-right">
                            <div class="step-heading">GAUKITE</div>
                            <div class="step-bottom">Šimtus lažybų patarimų tiesiai į savo telefoną arba el. paštą</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>
<!-- end SECTION 1 -->

<!-- SECTION 2 -->
<section class="section-2" id="section_2">
    <div class="container-fluid maxw">
        <div class="section-2-inner">

            <!-- SECTION HERO TEXT -->
            <div class="section-header" data-aos="fade-right" data-aos-duration="500">
                <h2>KOVOK DĖL <span>2000€</span></h2>
                <h2>PRIZINIO FONDO</h2>
                <h4>SAUSIO MĖNESĮ</h4>
            </div>
            <!-- end SECTION HERO TEXT -->

            <!-- SECTION 2 OBJ -->
            <div class="section-2-objs">
                <div class="section-2-objs-inner">

                    <div class="obj-1"
                         data-aos="fade-up-left"
                         data-aos-offset="300"
                         data-aos-duration="1700"
                         data-aos-easing="ease-in-sine">
                        <img src="{{root}}assets/img/section-2-obj.png" alt="Tipstershub">
                    </div>

                </div>
            </div>
            <!-- end SECTION 2 OBJ -->

            <div class="row">
                <div class="col-sm-12 col-md-9 col-lg-7 offset-md-3 offset-lg-5">
                    <!-- SECTION 2 TABAI -->
                    <div class="section-2-infotabs">
                        <div class="tabs">
                            <a href="#informacija">INFORMACIJA</a>
                            <a href="#top-ekspertai">TOP PERŽIŪRĖTI EKSPERTAI</a>
                            <a href="#top-menesio-ekspertai">TOP MĖNESIO EKSPERTAI</a>
                        </div>
                        <div class="tabs-content">

                            <div class="circle"></div>

                            <div class="tabs-content-inner">
                                <div data-tabcontent="#informacija" class="tab-content tab-informacija opened">
                                    <h4>INFORMACIJA</h4>
                                    <div class="landing-info">
                                        Didžiausią pelną pasiekę ekspertai Sausio mėnesį
                                        išsidalins <span>1500€</span>
                                    </div>
                                    <div class="landing-info">
                                        Dar <span>500€</span> bus išdalinta daugiausiai unikalių peržiūrų
                                        sulaukusiems ekspertams
                                    </div>
                                    <div class="landing-info">
                                        Konkurse automatiškai dalyvauja kiekvienas turintis
                                        aktyvią <span>TipstersHub</span> paskyrą
                                    </div>
                                    <div class="landing-info">
                                        Visi laimėjimai išmokami iki sekančio <span>mėnesio 10
                                        dienos</span>, į CBET.lt sąskaitą, nuo kurios pinigus galėsite
                                        nusiimti be jokių suvaržymų
                                    </div>
                                </div>
                                <div data-tabcontent="#top-ekspertai" class="tab-content">
                                    <h4>TOP PERŽIŪRĖTI EKSPERTAI</h4>
                                    <div class="ekspertai">
                                        <!-- EKSPERTAS -->
                                        <div class="ekspertas">
                                            <div class="ekspertas-avatar">
                                                <!-- Avataras turi būti vienodo pločio ir aukščio. Kitu atveju reikia kelti jau apkirptus paveiksliukus ir paredaguoti _section-2.scss &-avatar klase, nuimant img border-radius stiliu. -->
                                                <img src="{{ root }}assets/img/TVS/avatar.jpg" alt="">
                                            </div>
                                            <div class="ekspertas-name">
                                                <div>1</div>
                                                <div>Jonas</div>
                                            </div>
                                            <div class="ekspertas-data">
                                                <div class="ekspertas-data-top">
                                                    <div>PERŽIŪROS</div>
                                                    <div>PRIZAS</div>
                                                </div>
                                                <div class="ekspertas-data-bottom">
                                                    <div>112</div>
                                                    <div>2300€</div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- end EKSPERTAS -->

                                        <!-- EKSPERTAS -->
                                        <div class="ekspertas">
                                            <div class="ekspertas-avatar">
                                                <!-- Avataras turi būti vienodo pločio ir aukščio. Kitu atveju reikia kelti jau apkirptus paveiksliukus ir paredaguoti _section-2.scss &-avatar klase, nuimant img border-radius stiliu. -->
                                                <img src="{{ root }}assets/img/TVS/avatar.jpg" alt="">
                                            </div>
                                            <div class="ekspertas-name">
                                                <div>2</div>
                                                <div>Petras</div>
                                            </div>
                                            <div class="ekspertas-data">
                                                <div class="ekspertas-data-top">
                                                    <div>PERŽIŪROS</div>
                                                    <div>PRIZAS</div>
                                                </div>
                                                <div class="ekspertas-data-bottom">
                                                    <div>102</div>
                                                    <div>2000€</div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- end EKSPERTAS -->

                                        <!-- EKSPERTAS -->
                                        <div class="ekspertas">
                                            <div class="ekspertas-avatar">
                                                <!-- Avataras turi būti vienodo pločio ir aukščio. Kitu atveju reikia kelti jau apkirptus paveiksliukus ir paredaguoti _section-2.scss &-avatar klase, nuimant img border-radius stiliu. -->
                                                <img src="{{ root }}assets/img/TVS/avatar.jpg" alt="">
                                            </div>
                                            <div class="ekspertas-name">
                                                <div>3</div>
                                                <div>Martynas</div>
                                            </div>
                                            <div class="ekspertas-data">
                                                <div class="ekspertas-data-top">
                                                    <div>PERŽIŪROS</div>
                                                    <div>PRIZAS</div>
                                                </div>
                                                <div class="ekspertas-data-bottom">
                                                    <div>80</div>
                                                    <div>1800€</div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- end EKSPERTAS -->
                                        <div class="ekspertai-daugiau"><a href="{{root}}menesio-ekspertai.html">ŽIŪRĖTI VISUS</a></div>
                                    </div>
                                </div>
                                <div data-tabcontent="#top-menesio-ekspertai" class="tab-content">
                                    <h4>TOP MĖNESIO EKSPERTAI</h4>
                                    <div class="ekspertai">
                                        <!-- EKSPERTAS -->
                                        <div class="ekspertas menesio">
                                            <div class="ekspertas-avatar">
                                                <!-- Avataras turi būti vienodo pločio ir aukščio. Kitu atveju reikia kelti jau apkirptus paveiksliukus ir paredaguoti _section-2.scss &-avatar klase, nuimant img border-radius stiliu. -->
                                                <img src="{{ root }}assets/img/TVS/avatar.jpg" alt="">
                                            </div>
                                            <div class="ekspertas-name">
                                                <div>1</div>
                                                <div>Jonas</div>
                                            </div>
                                            <div class="ekspertas-data">
                                                <div class="ekspertas-data-top">
                                                    <div>PATARIMAI</div>
                                                    <div>PERŽIŪROS</div>
                                                    <div>PRIZAS</div>
                                                </div>
                                                <div class="ekspertas-data-bottom">
                                                    <div>2450</div>
                                                    <div>112</div>
                                                    <div>2300€</div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- end EKSPERTAS -->

                                        <!-- EKSPERTAS -->
                                        <div class="ekspertas menesio">
                                            <div class="ekspertas-avatar">
                                                <!-- Avataras turi būti vienodo pločio ir aukščio. Kitu atveju reikia kelti jau apkirptus paveiksliukus ir paredaguoti _section-2.scss &-avatar klase, nuimant img border-radius stiliu. -->
                                                <img src="{{ root }}assets/img/TVS/avatar.jpg" alt="">
                                            </div>
                                            <div class="ekspertas-name">
                                                <div>2</div>
                                                <div>Petras</div>
                                            </div>
                                            <div class="ekspertas-data">
                                                <div class="ekspertas-data-top">
                                                    <div>PATARIMAI</div>
                                                    <div>PERŽIŪROS</div>
                                                    <div>PRIZAS</div>
                                                </div>
                                                <div class="ekspertas-data-bottom">
                                                    <div>2250</div>
                                                    <div>102</div>
                                                    <div>2000€</div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- end EKSPERTAS -->

                                        <!-- EKSPERTAS -->
                                        <div class="ekspertas menesio">
                                            <div class="ekspertas-avatar">
                                                <!-- Avataras turi būti vienodo pločio ir aukščio. Kitu atveju reikia kelti jau apkirptus paveiksliukus ir paredaguoti _section-2.scss &-avatar klase, nuimant img border-radius stiliu. -->
                                                <img src="{{ root }}assets/img/TVS/avatar.jpg" alt="">
                                            </div>
                                            <div class="ekspertas-name">
                                                <div>3</div>
                                                <div>Martynas</div>
                                            </div>
                                            <div class="ekspertas-data">
                                                <div class="ekspertas-data-top">
                                                    <div>PATARIMAI</div>
                                                    <div>PERŽIŪROS</div>
                                                    <div>PRIZAS</div>
                                                </div>
                                                <div class="ekspertas-data-bottom">
                                                    <div>1980</div>
                                                    <div>80</div>
                                                    <div>1800€</div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- end EKSPERTAS -->
                                    </div>
                                    <div class="ekspertai-daugiau"><a href="{{root}}menesio-ekspertai.html">ŽIŪRĖTI VISUS</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end SECTION 2 TABAI -->

                    <div class="section-2-winners">
                        <div class="section-2-winners-title">GRUODŽIO MĖNESIO NUGALĖTOJAI</div>
                        <!-- SECTION 2 WINNERS -->
                        <div class="section-2-winners-list">
                            <div class="section-2-winner">
                                <!-- Kaip ir tabuose reikia, kad paveiksliukas butu kvadratinis arba jau apkirptas kaip apskritimas. -->
                                <div><img src="{{ root }}assets/img/TVS/avatar.jpg" alt="Tipstershub"></div>
                                <div>Jonas</div>
                                <div>2500€</div>
                            </div>
                            <div class="section-2-winner">
                                <!-- Kaip ir tabuose reikia, kad paveiksliukas butu kvadratinis arba jau apkirptas kaip apskritimas. -->
                                <div><img src="{{ root }}assets/img/TVS/avatar.jpg" alt="Tipstershub"></div>
                                <div>Martynas</div>
                                <div>2400€</div>
                            </div>
                            <div class="section-2-winner">
                                <!-- Kaip ir tabuose reikia, kad paveiksliukas butu kvadratinis arba jau apkirptas kaip apskritimas. -->
                                <div><img src="{{ root }}assets/img/TVS/avatar.jpg" alt="Tipstershub"></div>
                                <div>Petras</div>
                                <div>2300€</div>
                            </div>
                            <div class="section-2-winner">
                                <!-- Kaip ir tabuose reikia, kad paveiksliukas butu kvadratinis arba jau apkirptas kaip apskritimas. -->
                                <div><img src="{{ root }}assets/img/TVS/avatar.jpg" alt="Tipstershub"></div>
                                <div>Mindaugas</div>
                                <div>22000€</div>
                            </div>
                            <div class="section-2-winner">
                                <!-- Kaip ir tabuose reikia, kad paveiksliukas butu kvadratinis arba jau apkirptas kaip apskritimas. -->
                                <div><img src="{{ root }}assets/img/TVS/avatar.jpg" alt="Tipstershub"></div>
                                <div>Juliana</div>
                                <div>2100€</div>
                            </div>
                            <div class="section-2-winner">
                                <!-- Kaip ir tabuose reikia, kad paveiksliukas butu kvadratinis arba jau apkirptas kaip apskritimas. -->
                                <div><img src="{{ root }}assets/img/TVS/avatar.jpg" alt="Tipstershub"></div>
                                <div>Tomas</div>
                                <div>2000€</div>
                            </div>
                        </div>
                        <!-- end SECTION 2 WINNERS -->
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- end SECTION 2 -->

<!-- SECTION 3 -->
<section class="section-3" id="section_3">
    <div class="container-fluid maxw">
        <div class="section-3-inner">

            <!-- SECTION HERO TEXT -->
            <div class="section-header" data-aos="fade-left" data-aos-duration="500">
                <h2>PASIRINK SAU <span>TINKAMA</span></h2>
                <h2>EKSPERTĄ</h2>
                <h4>RINKIS TARP 5450 GERIAUSIŲ</h4>
            </div>
            <!-- end SECTION HERO TEXT -->

            <!-- SECTION 3 OBJ -->
            <div class="section-3-objs">
                <div class="section-3-objs-inner">

                    <div class="obj-1"
                         data-aos="fade-up-right"
                         data-aos-offset="300"
                         data-aos-duration="1700"
                         data-aos-easing="ease-in-sine">
                        <img src="{{root}}assets/img/section-3-obj.png" alt="Tipstershub">
                    </div>

                </div>
            </div>
            <!-- end SECTION 3 OBJ -->

            <div class="row">
                <div class="col-sm-12 col-md-8 col-lg-6">
                    <!-- STATS BLOCK -->
                    <div class="stats">
                        
                        <select name="tops" class="select2" id="stats">
                          <option value="all">Geriausi visų laikų ekspertai</option>
                          <option value="day">Geriausi dienos ekspertai</option>
                          <option value="week">Geriausi savaitės ekspertai</option>
                          <option value="month">Geriausi mėnesio ekspertai</option>
                        </select>

                        <div class="stats-blocks" id="stats_all">
                            <div class="stats-block">
                                <div class="stats-block-top">
                                    <img src="{{ root }}assets/img/TVS/avatar.jpg" alt="Tipstershub">
                                    <div class="stats-block-top-right">
                                        <div>Jonas <img src="{{ root }}assets/img/lt.png" alt=""></div>
                                        <div>jonas.tipstershub.com</div>
                                    </div>
                                </div>
                                <div class="stats-block-middle chart">
                                    <div id="user_1_stats" data-userdata="{{ root }}data/userdata_1.json"></div>
                                </div>
                                <div class="stats-block-bottom">
                                    <div>
                                        <div>Statymų &nbsp;&nbsp;&nbsp; 133</div>
                                        <div>92%</div>
                                    </div>
                                    <div>
                                        <div>Pelnas &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 389</div>
                                        <div>64%</div>
                                    </div>
                                </div>
                            </div>

                            <div class="stats-block">
                                <div class="stats-block-top">
                                    <img src="{{ root }}assets/img/TVS/avatar.jpg" alt="Tipstershub">
                                    <div class="stats-block-top-right">
                                        <div>Petras <img src="{{ root }}assets/img/lt.png" alt=""></div>
                                        <div>petras.tipstershub.com</div>
                                    </div>
                                </div>
                                <div class="stats-block-middle chart">
                                    <div id="user_2_stats" data-userdata="{{ root }}data/userdata_2.json"></div>
                                </div>
                                <div class="stats-block-bottom">
                                    <div>
                                        <div>Statymų &nbsp;&nbsp;&nbsp; 133</div>
                                        <div>92%</div>
                                    </div>
                                    <div>
                                        <div>Pelnas &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 389</div>
                                        <div>64%</div>
                                    </div>
                                </div>
                            </div>

                            <div class="stats-block">
                                <div class="stats-block-top">
                                    <img src="{{ root }}assets/img/TVS/avatar.jpg" alt="Tipstershub">
                                    <div class="stats-block-top-right">
                                        <div>Martynas <img src="{{ root }}assets/img/lt.png" alt=""></div>
                                        <div>martynas.tipstershub.com</div>
                                    </div>
                                </div>
                                <div class="stats-block-middle chart">
                                    <div id="user_3_stats" data-userdata="{{ root }}data/userdata_3.json"></div>
                                </div>
                                <div class="stats-block-bottom">
                                    <div>
                                        <div>Statymų &nbsp;&nbsp;&nbsp; 133</div>
                                        <div>92%</div>
                                    </div>
                                    <div>
                                        <div>Pelnas &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 389</div>
                                        <div>64%</div>
                                    </div>
                                </div>
                            </div>

                            <div class="stats-block">
                                <div class="stats-block-top">
                                    <img src="{{ root }}assets/img/TVS/avatar.jpg" alt="Tipstershub">
                                    <div class="stats-block-top-right">
                                        <div>Juliana <img src="{{ root }}assets/img/lt.png" alt=""></div>
                                        <div>juliana.tipstershub.com</div>
                                    </div>
                                </div>
                                <div class="stats-block-middle chart">
                                    <div id="user_4_stats" data-userdata="{{ root }}data/userdata_4.json"></div>
                                </div>
                                <div class="stats-block-bottom">
                                    <div>
                                        <div>Statymų &nbsp;&nbsp;&nbsp; 133</div>
                                        <div>92%</div>
                                    </div>
                                    <div>
                                        <div>Pelnas &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 389</div>
                                        <div>64%</div>
                                    </div>
                                </div>
                            </div>

                            <div class="stats-blocks-footer"><a href="{{root}}menesio-ekspertai.html">ŽIŪRĖTI VISUS</a></div>
                        </div>
                        <div class="stats-blocks" id="stats_day">
                          <div class="stats-block">
                            <div class="stats-block-top">
                              <img src="{{ root }}assets/img/TVS/avatar.jpg" alt="Tipstershub">
                              <div class="stats-block-top-right">
                                <div>Jonas <img src="{{ root }}assets/img/lt.png" alt=""></div>
                                <div>jonas.tipstershub.com</div>
                              </div>
                            </div>
                            <div class="stats-block-bottom">
                              <div>
                                <div>Statymų &nbsp;&nbsp;&nbsp; 133</div>
                                <div>92%</div>
                              </div>
                              <div>
                                <div>Pelnas &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 389</div>
                                <div>64%</div>
                              </div>
                            </div>
                          </div>

                          <div class="stats-block">
                            <div class="stats-block-top">
                              <img src="{{ root }}assets/img/TVS/avatar.jpg" alt="Tipstershub">
                              <div class="stats-block-top-right">
                                <div>Petras <img src="{{ root }}assets/img/lt.png" alt=""></div>
                                <div>petras.tipstershub.com</div>
                              </div>
                            </div>
                            <div class="stats-block-bottom">
                              <div>
                                <div>Statymų &nbsp;&nbsp;&nbsp; 133</div>
                                <div>92%</div>
                              </div>
                              <div>
                                <div>Pelnas &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 389</div>
                                <div>64%</div>
                              </div>
                            </div>
                          </div>

                          <div class="stats-block">
                            <div class="stats-block-top">
                              <img src="{{ root }}assets/img/TVS/avatar.jpg" alt="Tipstershub">
                              <div class="stats-block-top-right">
                                <div>Martynas <img src="{{ root }}assets/img/lt.png" alt=""></div>
                                <div>martynas.tipstershub.com</div>
                              </div>
                            </div>
                            <div class="stats-block-bottom">
                              <div>
                                <div>Statymų &nbsp;&nbsp;&nbsp; 133</div>
                                <div>92%</div>
                              </div>
                              <div>
                                <div>Pelnas &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 389</div>
                                <div>64%</div>
                              </div>
                            </div>
                          </div>

                          <div class="stats-block">
                            <div class="stats-block-top">
                              <img src="{{ root }}assets/img/TVS/avatar.jpg" alt="Tipstershub">
                              <div class="stats-block-top-right">
                                <div>Juliana <img src="{{ root }}assets/img/lt.png" alt=""></div>
                                <div>juliana.tipstershub.com</div>
                              </div>
                            </div>
                            <div class="stats-block-bottom">
                              <div>
                                <div>Statymų &nbsp;&nbsp;&nbsp; 133</div>
                                <div>92%</div>
                              </div>
                              <div>
                                <div>Pelnas &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 389</div>
                                <div>64%</div>
                              </div>
                            </div>
                          </div>

                          <div class="stats-blocks-footer"><a href="{{root}}menesio-ekspertai.html">ŽIŪRĖTI VISUS</a></div>
                        </div>
                    </div>
                    <!-- end STATS BLOCK -->
                </div>
            </div>

            <!-- SECTION 3 SLIDER -->
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="swiper-slide-inner">
                            <div class="swiper-slide-left">
                                <a href=""><button><i class="fa fa-angle-right" aria-hidden="true"></i></button></a>
                            </div>
                            <div class="swiper-slide-right">
                                <a href="">
                                    <div>KAIP TINKAMAI VALDYTI SAVO BANKĄ?</div>
                                    <div>LAŽYBŲ GIDAS</div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="swiper-slide-inner">
                            <div class="swiper-slide-left">
                                <button><i class="fa fa-angle-right" aria-hidden="true"></i></button>
                            </div>
                            <div class="swiper-slide-right">
                                <a href="">
                                    <div>KAIP PASIRINKTI GERIAUSIĄ LAŽYBŲ BENDROVĘ?</div>
                                    <div>LAŽYBŲ GIDAS</div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="swiper-slide-inner">
                            <div class="swiper-slide-left">
                                <button><i class="fa fa-angle-right" aria-hidden="true"></i></button>
                            </div>
                            <div class="swiper-slide-right">
                                <a href="">
                                    <div>KAIP TINKAMAI VALDYTI SAVO BANKĄ?</div>
                                    <div>LAŽYBŲ GIDAS</div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="swiper-slide-inner">
                            <div class="swiper-slide-left">
                                <button><i class="fa fa-angle-right" aria-hidden="true"></i></button>
                            </div>
                            <div class="swiper-slide-right">
                                <a href="">
                                    <div>KAIP TINKAMAI VALDYTI SAVO BANKĄ?</div>
                                    <div>LAŽYBŲ GIDAS</div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="swiper-slide-inner">
                            <div class="swiper-slide-left">
                                <button><i class="fa fa-angle-right" aria-hidden="true"></i></button>
                            </div>
                            <div class="swiper-slide-right">
                                <a href="">
                                    <div>KAIP TINKAMAI VALDYTI SAVO BANKĄ?</div>
                                    <div>LAŽYBŲ GIDAS</div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="swiper-slide-inner">
                            <div class="swiper-slide-left">
                                <button><i class="fa fa-angle-right" aria-hidden="true"></i></button>
                            </div>
                            <div class="swiper-slide-right">
                                <a href="">
                                    <div>KAIP TINKAMAI VALDYTI SAVO BANKĄ?</div>
                                    <div>LAŽYBŲ GIDAS</div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-button-next swiper-button-white"></div>
                <div class="swiper-button-prev swiper-button-white"></div>
            </div>
            <!-- end SECTION 3 SLIDER -->

        </div>
    </div>
</section>
<!-- end SECTION 3 -->

<!-- SECTION 4 -->
<section class="section-4" id="section_4">
    <div class="container-fluid maxw">
        <div class="section-4-inner">

            <div class="section-header" data-aos="fade-right" data-aos-duration="500">
                <h2>KODĖL <span>VERTA</span> RINKTIS MUS</h2>
                <h4>Bendras pelnas 2953980€</h4>
            </div>

            <div class="section-4-bottom">
                <div class="section-4-bottom-row-1">
                    <div class="step">
                        <div class="step-left"><span class="ico-aktyvumas"></span></div>
                        <div class="step-right">
                            <div class="step-heading">AKTYVUMAS</div>
                            <div class="step-bottom">
                                Daugiau nei 1000 aktyvių
                                tipsterių su patvirtintomis
                                statistikomis bei statymais
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section-4-bottom-row-2">
                    <div class="step">
                        <div class="step-left"><span class="ico-gauk"></span></div>
                        <div class="step-right">
                            <div class="step-heading">GAUK</div>
                            <div class="step-bottom">
                                Daugiau nei 1000 aktyvių
                                tipsterių su patvirtintomis
                                statistikomis bei statymais
                            </div>
                        </div>
                    </div>
                    <div class="step">
                        <div class="step-left"><span class="ico-laimek"></span></div>
                        <div class="step-right">
                            <div class="step-heading">LAIMĖK</div>
                            <div class="step-bottom">
                                Naudokis mūsų įrankiais,
                                kurie leis sekti statistiką
                            </div>
                        </div>
                    </div>
                    <div class="step">
                        <div class="step-left"><span class="ico-patogumas"></span></div>
                        <div class="step-right">
                            <div class="step-heading">PATOGUMAS</div>
                            <div class="step-bottom">
                                Automatizuota ir unikali
                                patarimų įtraukimo sistema.
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- end SECTION 4 -->