---
title: Kontaktai - Tipstershub.com
bodyClass: kontaktai
---

<section class="section-1" id="section_1">
    <div class="container-fluid maxw">
        <div class="section-1-inner">

            <div class="row">
                <div class="col-lg-12">

                    <div class="section-header">
                        <h2>Kontaktai</h2>
                        <h4><span>Susisiekite</span> su mumis</h4>
                    </div>

                    <form class="contact-form">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="contact-form--left">
                                    <input type="text" name="your_name" placeholder="Jūsų vardas" required>
                                    <input type="text" name="your_phone" placeholder="Jūsų telefonas">
                                    <input type="text" name="your_mail" placeholder="Jūsų el.paštas">
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div class="contact-form--right">
                                    <div><textarea name="your_msg" placeholder="Žinutė..."></textarea></div>
                                    <div><input type="submit" class="btn btn_submit" value="Siųsti"></div>
                                </div>
                            </div>
                        </div>
                    </form>

                    <div class="contact-form-bottom">
                        <div><i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:info@tipsterhub.com">info@tipsterhub.com</a></div>
                        <div><i class="fa fa-phone" aria-hidden="true"></i> <a href="tel:+370 67607 905">+370 67607 905</a></div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>

{{> totals}}