---
title: Mano žinutės - Tipstershub.com
bodyClass: mano-profilis mano-zinutes
---

<section class="section-1" id="section_1">
    <div class="container-fluid maxw">
        <div class="section-1-inner">

            <div class="sidebar-toggler short">
                <div class="toggler-badget">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-9">
                    {{> profile}}

                    <div class="section-header">
                        <h3>Mano <span>žinutės</span></h3>
                        <a href="{{root}}mano-zinutes-nauja.html" title="Nauja žinutė"><button type="button" class="btn btn_nauja_zinute"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Nauja žinutė</button></a>
                    </div>

                    <div class="zinutes table-responsive">
                      <table>
                        <thead>
                          <tr>
                            <th>Tema</th>
                            <th>Siuntėjas</th>
                            <th>Gavėjas</th>
                            <th>Atsakymų</th>
                            <th>Paskutinė žinutė</th>
                          </tr>
                        </thead>
                        <tbody>
                        {{#each zinutes}}
                          <tr data-href="{{root}}mano-zinutes-susirasinejimas.html">
                            <td data-th="Tema"><i class="fa fa-envelope" aria-hidden="true"></i> {{this.tema}}</td>
                            <td data-th="Siuntėjas"><a href="#" title="{{this.siuntejas}}">{{this.siuntejas}}</a></td>
                            <td data-th="Gavėjas"><a href="#" title="{{this.gavejas}}">{{this.gavejas}}</a></td>
                            <td data-th="Atsakymų">{{this.atsakymu}}</td>
                            <td data-th="Data">
                              <div>
                                <div>{{this.paskutine_zinute}}</div>
                                <div>Parašė: {{this.siuntejas}}</div>
                              </div>
                              <div><a href="#" title="Trinti žinutę"><img src="{{root}}assets/img/badge-remove.png" alt="Trinti"></a></div>
                            </td>
                          </tr>
                        {{/each}}
                        </tbody>
                      </table>

                      <div class="footer">
                        <label>
                          Rodyti:
                          <select name="zinutes_rodyti" class="select2">
                            <option value="unread">Neperskaitytas</option>
                            <option value="all">Visas</option>
                          </select>
                        </label>

                        <div class="navigation">
                            <div class="active"><a href="#">1</a></div>
                            <div><a href="#">2</a></div>
                            <div><a href="#">3</a></div>
                            <div><a href="#">4</a></div>
                        </div>
                      </div>

                    </div>
                </div>
                <div class="col-xl-3">{{> sidebar-stats}}</div>
            </div>
        	
        </div>
    </div>
</section>

{{> totals}}