---
title: Mano žinutės susirašinėjimas - Tipstershub.com
bodyClass: mano-profilis susirasinejimas
---

<section class="section-1" id="section_1">
    <div class="container-fluid maxw">
        <div class="section-1-inner">

          <div class="sidebar-toggler short">
            <div class="toggler-badget">
              <i class="fa fa-angle-right" aria-hidden="true"></i>
            </div>
          </div>

          <div class="row">
              <div class="col-xl-9">
                  {{> profile}}

                  <div class="section-header">
                      <h3>Mano <span>žinutės</span></h3>
                      <a href="#" title="Atgal" id="go_back" class="btn_atgal">Atgal</a>
                  </div>

                  <div class="actions">
                    <div>
                      Susirašinėjimas su <img src="{{root}}assets/img/flags/lt.png" alt="lt"> <a href="#" title="User Riskfree">Riskfree</a>
                    </div>
                    <div>
                      <a href="#" title="Įstrinti" class="btn btn_trinti"><img src="{{root}}assets/img/badge-remove-white.png" alt="Trinti"> Ištrinti</a>
                      <a href="#" data-toggle="atsakyti" title="Atsakyti" class="btn btn_atsakyti"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Atsakyti</a>
                    </div>
                  </div>

                  <div id="atsakyti" class="atsakyti">
                    <form action="" method="post" id="add_comment" class="add-comment">
                      <div class="row align-items-end">
                        <div class="col-md-10">
                          <textarea name="comment" id="comment" placeholder="Komentuoti" required></textarea>
                        </div>
                        <div class="col-md-2">
                        <button type="submit" class="btn btn_submit">Rašyti</button>
                        </div>
                      </div>
                    </form>
                  </div>

                  <div class="comments">
                    {{#each comments}}
                    <div class="comment">
                      <div class="row">
                        <div class="col-md-4 col-lg-3 col-xl-4">
                          <div class="comment--left">
                            <div class="user-avatar"><img src="https://api.adorable.io/avatars/285/{{this.user}}@tipstershub.com.png" alt="{{this.user}}"></div>
                            <div>
                              <div>{{ this.user }}</div>
                              <div>{{ this.nick }} <img src="{{ root }}assets/img/{{ this.country }}.png" alt="{{ this.country }}"></div>
                              <div><a href="{{ this.nick }}.tipstershub.com">{{ this.nick }}.tipstershub.com</a></div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-8 col-lg-9 col-xl-8">
                          <div class="comment--right">
                            <p>
                              {{ this.comment }}
                              <span>{{ this.date }}</span>
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                    {{/each}}
                  </div>

                  <div class="navigation">
                      <div class="active"><a href="#">1</a></div>
                      <div><a href="#">2</a></div>
                      <div><a href="#">3</a></div>
                      <div><a href="#">4</a></div>
                  </div>

              </div>
              <div class="col-xl-3">{{> sidebar-stats}}</div>
          </div>
          
        </div>
    </div>
</section>

{{> totals}}