---
title: Mano žinutės - Tipstershub.com
bodyClass: mano-profilis mano-pranesimai
---

<section class="section-1" id="section_1">
    <div class="container-fluid maxw">
        <div class="section-1-inner">

            <div class="sidebar-toggler short">
                <div class="toggler-badget">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-9">
                    {{> profile}}

                    <div class="section-header">
                        <h3>Mano <span>pranešimai</span></h3>
                    </div>

                    <div class="pranesimas-vidinis">
                        <div class="pranesimas-vidinis--left">
                            <div class="user-avatar"><img src="https://api.adorable.io/avatars/285/jonas@tipstershub.com.png" alt="Jonas"></div>
                        </div>
                        <div class="pranesimas-vidinis--middle">
                            <span>Laimėtas įvykis</span> VAP KOLOSSOS RODOU - OLYMPIAKOS PIREUS
                        </div>
                        <div class="pranesimas-vidinis--right">
                            Prieš 7 minutes
                        </div>
                    </div>
                    <div class="pranesimas-vidinis-bottom">
                        <p>
                            Lorem ipsum dolor sit amet, vix ullum zril in, has fugit insolens liberavisse et. An
                            quo mnesarchum adipiscing, mucius nostrum sit et. Ut mea admodum denique perpetua, cetero
                            concludaturque et eos. No utroque feugait volutpat his, wisi suscipit lucilius sed cu,
                            numquam fabulas electram te vis. At quo dicta signiferumque. Sed ea eleifend postulant
                            periculis, ut altera debitis conclusionemque quo, ne quodsi efficiendi mel.
                        </p>
                        <div>
                            <div>Administracija</div>
                            <div>2017-05-10</div>
                        </div>
                    </div>
                    <a href="#" id="go_back" class="go-back"><i class="fa fa-angle-left" aria-hidden="true"></i> Grįžti</a>

                </div>
                <div class="col-xl-3">{{> sidebar-stats}}</div>
            </div>

        </div>
    </div>
</section>