---
title: Mano žinutės - Tipstershub.com
bodyClass: mano-profilis mano-pranesimai
---

<section class="section-1" id="section_1">
    <div class="container-fluid maxw">
        <div class="section-1-inner">

            <div class="sidebar-toggler short">
                <div class="toggler-badget">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-9">
                    {{> profile}}

                    <div class="section-header">
                        <h3>Mano <span>pranešimai</span></h3>
                    </div>

                    <div class="pranesimai">
                        <div data-href="{{root}}mano-pranesimai-pranesimas.html" class="pranesimas">
                            <div class="pranesimas-left">
                                <div class="user-avatar"><img src="https://api.adorable.io/avatars/285/jonas@tipstershub.com.png" alt="Jonas"></div>
                            </div>
                            <div class="pranesimas-middle">
                                <p>
                                    Vartotojas <a href="#" class="userlink">RISKFREE</a>  nuo šiol prenumeruoja jūsų įrašus
                                </p>
                            </div>
                            <div class="pranesimas-right">
                                Prieš 7 minutes
                            </div>
                        </div>
                        <div data-href="{{root}}mano-pranesimai-pranesimas.html" class="pranesimas">
                            <div class="pranesimas-left">
                                <div class="user-avatar"><img src="https://api.adorable.io/avatars/285/petras@tipstershub.com.png" alt="Petras"></div>
                            </div>
                            <div class="pranesimas-middle">
                                <p>
                                    Jūsų vartotojo vardo mokamu patarimu prenumerata <span class="text-red">baigta</span>
                                </p>
                            </div>
                            <div class="pranesimas-right">
                                Prieš 25 minutes
                            </div>
                        </div>
                        <div data-href="{{root}}mano-pranesimai-pranesimas.html" class="pranesimas">
                            <div class="pranesimas-left">
                                <div class="user-avatar"><img src="https://api.adorable.io/avatars/285/martynas@tipstershub.com.png" alt="Martynas"></div>
                            </div>
                            <div class="pranesimas-middle">
                                <p>
                                    Vartotojas <a href="#" class="userlink">RISKFREE</a> uzsisake jusu mokamas paslaugas <span class="text-green">7 dienai/dienoms/dienu</span>
                                </p>
                            </div>
                            <div class="pranesimas-right">
                                Prieš 7 minutes
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-xl-3">{{> sidebar-stats}}</div>
            </div>

        </div>
    </div>
</section>