---
title: Mano pardavimai - Tipstershub.com
bodyClass: mano-pardavimai mano-profilis
---

<section class="section-1" id="section_1">
    <div class="container-fluid maxw">
        <div class="section-1-inner">

        	<div class="sidebar-toggler short">
        		<div class="toggler-badget">
        			<i class="fa fa-angle-right" aria-hidden="true"></i>
        		</div>
        	</div>

        	<div class="row">
                <div class="col-xl-9">
                	{{> profile}}

                	<div class="section-header">
                        <h3><span>MANO</span> PARDAVIMAI</h3>
                    </div>

                    <div class="banner">
                        <h2>PAVERSK SAVO SPORTO ŽINIAS</h2>
                        <h4><span>pelną nešančią</span> veikla</h4>

                        <div class="list">
                            <div class="row">
                                <div class="col-md-6"><div class="list-item">Vienkartinis (25€) mokėjimas</div></div>
                                <div class="col-md-6"><div class="list-item">Išmokos kiekvieną mėnesį Jums patogiausiai metodais</div></div>
                                <div class="col-md-6"><div class="list-item">Tūkstančiai aktyvių narių ieškančių tinkamiausių ekspertų</div></div>
                                <div class="col-md-6"><div class="list-item">Pilnai automatizuotas patarimų įtraukimas, atnaujinimas ir išsamus statistikos vedimas</div></div>
                            </div>
                        </div>

                        <a href="#"><button class="btn btn_pradeti">Pradėti uždirbti</button></a>
                    </div>
                </div>
                <div class="col-xl-3">{{> sidebar-stats}}</div>
            </div>
        	
        </div>
    </div>
</section>