---
title: Mano žinutės nauja - Tipstershub.com
bodyClass: mano-profilis nauja-zinute
---

<section class="section-1" id="section_1">
    <div class="container-fluid maxw">
        <div class="section-1-inner">

          <div class="sidebar-toggler short">
            <div class="toggler-badget">
              <i class="fa fa-angle-right" aria-hidden="true"></i>
            </div>
          </div>

          <div class="row">
              <div class="col-xl-9">
                  {{> profile}}

                  <div class="section-header">
                      <h3>Nauja <span>žinutė</span></h3>
                      <a href="#" title="Atgal" id="go_back" class="btn_atgal">Atgal</a>
                  </div>

                  <div><code>
                    Useriu selektas uzsipildo per AJAX. URL nusistato data-sload atribute<br>
                    Galima naudoti universaliai Select2 pluginas įvedus paieškos stringa daro<br>
                    GET užklausą į nurodytą URL su parametru q ($_GET['q']), grąžinamais rezultatais<br>
                    užpildo selektą. JSON formatas kai pir visi kiti data kataloge.
                  </code></div><br>
                  
                  <div class="nauja-zinute--forma">
                    <form action="" method="post" accept-charset="utf-8">
                      <div class="row align-items-end">
                        <div class="col-md-8">
                          <select name="gavejas" class="select2ajax" data-sload="{{root}}data/gavejai.json">
                            <option value="">Gavėjas</option>
                          </select>
                          <input type="text" name="tema" placeholder="Tema">
                          <textarea name="zinute" id="zinute" placeholder="Turinys" required></textarea>
                        </div>
                        <div class="col-md-4">
                          <button type="submit" class="btn btn_submit">Rašyti</button>
                        </div>
                      </div>
                    </form>
                  </div>

              </div>
              <div class="col-xl-3">{{> sidebar-stats}}</div>
          </div>
          
        </div>
    </div>
</section>

{{> totals}}