---
title: Mano sekėjai - Tipstershub.com
bodyClass: mano-profilis mano-sekejai
---

<section class="section-1" id="section_1">
    <div class="container-fluid maxw">
        <div class="section-1-inner">

            <div class="sidebar-toggler short">
                <div class="toggler-badget">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-9">
                    {{> profile}}

                    <div class="section-header">
                        <h3><span>Mano</span> sekami ekspertai</h3>
                    </div>

                    <div class="ekspertai-results">
                        {{#each experts}}
                        <div class="ekspertas">
                            <div class="row">
                                <div class="col-md-5 col-lg-4">
                                    <div class="ekspertas--left">
                                        <div class="user-avatar"><img src="{{ root }}assets/img/TVS/{{ this.avatar }}" alt="{{ this.user }}"></div>
                                        <div class="user-data">
                                            <div>{{ this.user }} <img src="{{ root }}assets/img/{{ this.country }}.png" alt="{{ this.country }}"></div>
                                            <div><a href="#">{{ this.user }}.tipstershub.com</a></div>
                                            <div>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-check-circle" aria-hidden="true"></i>
                                                <span class="ico-euro"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-7 col-lg-8">
                                    <div class="ekspertas--middle">
                                        <div class="ekspertas--middle---left">
                                            <div>
                                                <div>nuo</div>
                                                <div>2017.04.27</div>
                                            </div>
                                            <div>
                                                <div>iki</div>
                                                <div>2017.05.27</div>
                                            </div>
                                        </div>
                                        <div class="ekspertas--middle---right">
                                            <div class="green">
                                                <div>{{ this.patvirtinta }}%</div>
                                                <div>Patvirtinta</div>
                                            </div>
                                            <div class="green">
                                                <div>{{ this.patvirtinta }}%</div>
                                                <div>Patvirtinta</div>
                                            </div>
                                            <div class="green">
                                                <div>{{ this.patvirtinta }}%</div>
                                                <div>Patvirtinta</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="ekspertas--unfollow">
                                        <a href="#"><button class="btn btn_submit">Nebesekti</button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ekspertas--bottom---1">
                            <div>TOP NAUDOJAMI BUKMEIKERIAI:</div>
                            <div class="logos">
                                <img src="{{ root }}assets/img/TVS/ladbrokes.png" alt="">
                                <img src="{{ root }}assets/img/TVS/bet365.png" alt="">
                                <img src="{{ root }}assets/img/TVS/pinnacle.png" alt="">
                            </div>
                        </div>
                        <div class="ekspertas--bottom---2">
                            <a href="#" data-toggle="pristatymas_{{ this.id }}">PRISISTATYMAS &nbsp; <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                            <div class="pristatymas" id="pristatymas_{{ this.id }}">
                                <p>
                                    Lorem ipsum dolor sit amet, his cu debitis perpetua pertinacia, has ex
                                    iusto habemus. Ius ex purto consequuntur, iisque malorum qui te. Tation
                                    decore tempor te usu, cum minim timeam regione at. Duo no erant similique
                                    honestatis, eu augue animal nec.
                                </p>
                            </div>
                        </div>
                        {{/each}}

                    </div>
                </div>
                <div class="col-xl-3">{{> sidebar-stats}}</div>
            </div>

        </div>
    </div>
</section>