---
title: Mano profilis - Tipstershub.com
bodyClass: profilis mano-profilis
---

<section class="section-1" id="section_1">
    <div class="container-fluid maxw">
        <div class="section-1-inner">

            <div class="sidebar-toggler short">
                <div class="toggler-badget">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-9">

                    {{> profile}}

                    <div class="patarimai">
                        <h2><span>Aktyvūs</span> statymai</h2>

                        {{#each patarimai}}
                            {{#if this.status}}
                            <div class="patarimas">
                                <div class="patarimas--left">
                                    <div class="user-avatar">
                                        <img src="https://api.adorable.io/avatars/285/{{this.user}}@tipstershub.com.png" alt="{{this.user}}">
                                    </div>
                                    <div class="graza">
                                        <i class="fa fa-check-circle" aria-hidden="true"></i>
                                        {{this.koef}}
                                    </div>
                                </div>
                                <div class="patarimas--right">
                                    <div class="patarimas--right---top">
                                        <div class="head">
                                            <div>PATARIMĄ PASKELBĖ: <a href="#">{{this.user}}</a> <img src="{{root}}assets/img/flags/{{this.country}}.png" alt="{{this.country}}"></div>
                                            <div>{{this.date}}</div>
                                        </div>
                                        <div class="main">
                                            <div>
                                                <div>{{this.teams}}</div>
                                                <div>{{this.details}}</div>
                                                <div>Patarimas: <a href="#">{{this.patarimas}}</a></div>
                                            </div>
                                            <div>
                                                <div class="progress">
                                                    <div class="progress-radial progress-{{this.radial}}">
                                                        <div class="overlay"></div>
                                                    </div>
                                                    <div class="progress-label">{{this.score}}</div>
                                                </div>
                                            </div>
                                            <div class="brand">
                                                <img src="{{root}}assets/img/TVS/{{this.bendrove}}.png" alt="{{this.bendrove}}">
                                            </div>
                                        </div>
                                        <div class="foot">
                                            <div>
                                                <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                                                LIKES ({{this.likes}}) &nbsp;&nbsp; <a href="#" data-togglecomments="event-{{this.id}}">KOMENTARAI ({{this.comments}})</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="patarimas--right---bottom">
                                        <div class="row align-items-end">
                                            <div class="col-md-9">
                                                <textarea name="comment" id="comment" placeholder="Komentuoti" rows="4" required=""></textarea>
                                            </div>
                                            <div class="col-md-3">
                                                <button type="button" data-toggle="event-{{this.id}}" class="btn btn_submit">Komentuoti</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{else}}
                            <div class="patarimas locked">
                                <div class="patarimas--left">
                                    <span class="ico-lock2"></span>
                                </div>
                                <div class="patarimas--right">
                                    <div class="patarimas--right---top">
                                        <div>Patarimą paskelbė: <a href="#">{{this.user}}</a></div>
                                        <div>
                                            <div>{{this.date}}</div>
                                            <div class="brand">
                                                <img src="{{root}}assets/img/TVS/{{this.bendrove}}.png" alt="{{this.bendrove}}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="patarimas--right---bottom">
                                        <div>Mokamas statymas <span>(užsiprenumeruok ir atrakink)</span></div>
                                        <a href="#"><button class="btn btn_atrakinti">Prenumeruoti</button></a>
                                    </div>
                                </div>
                            </div>
                            {{/if}}
                            <div class="patarimas--komentarai" id="event-{{this.id}}">
                                <h4>Komentarai</h4>
                                {{#each ../comments}}
                                    <div class="komentaras">
                                        <div class="komentaras--left">
                                            <div class="user-avatar">
                                                <img src="https://api.adorable.io/avatars/285/{{this.user}}@tipstershub.com.png" alt="{{this.user}}">
                                            </div>
                                        </div>
                                        <div class="komentaras--right">
                                            <p>{{this.comment}}</p>
                                            <div class="komentaras--bottom">
                                                <div>Parašė: {{this.user}}</div>
                                                <div>{{this.date}}</div>
                                            </div>
                                        </div>
                                    </div>
                                {{/each}}
                            </div>
                        {{/each}}

                        <h2>PASKUTINIAI PASIBAIGĘ ĮVYKIAI</h2>

                        {{#each patarimai}}
                            {{#if this.status}}
                            <div class="patarimas">
                                <div class="patarimas--left">
                                    <div class="user-avatar">
                                        <img src="https://api.adorable.io/avatars/285/{{this.user}}@tipstershub.com.png" alt="{{this.user}}">
                                    </div>
                                    <div class="graza">
                                        <i class="fa fa-check-circle" aria-hidden="true"></i>
                                        {{this.koef}}
                                    </div>
                                </div>
                                <div class="patarimas--right">
                                    <div class="patarimas--right---top">
                                        <div class="head">
                                            <div>PATARIMĄ PASKELBĖ: <a href="#">{{this.user}}</a> <img src="{{root}}assets/img/flags/{{this.country}}.png" alt="{{this.country}}"></div>
                                            <div>{{this.date}}</div>
                                        </div>
                                        <div class="main">
                                            <div>
                                                <div>{{this.teams}}</div>
                                                <div>{{this.details}}</div>
                                                <div>Patarimas: <a href="#">{{this.patarimas}}</a></div>
                                            </div>
                                            <div>
                                                <div class="progress">
                                                    <div class="progress-radial progress-{{this.radial}}">
                                                        <div class="overlay"></div>
                                                    </div>
                                                    <div class="progress-label">{{this.score}}</div>
                                                </div>
                                            </div>
                                            <div class="brand">
                                                <img src="{{root}}assets/img/TVS/{{this.bendrove}}.png" alt="{{this.bendrove}}">
                                            </div>
                                        </div>
                                        <div class="foot">
                                            <div>
                                                <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                                                LIKES ({{this.likes}}) &nbsp;&nbsp; <a href="#" data-togglecomments="event-{{this.id}}">KOMENTARAI ({{this.comments}})</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="patarimas--right---bottom">
                                        <div class="row align-items-end">
                                            <div class="col-md-9">
                                                <textarea name="comment" id="comment" placeholder="Komentuoti" rows="4" required=""></textarea>
                                            </div>
                                            <div class="col-md-3">
                                                <button type="button" data-toggle="event-{{this.id}}" class="btn btn_submit">Komentuoti</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{else}}
                            <div class="patarimas locked">
                                <div class="patarimas--left">
                                    <span class="ico-lock2"></span>
                                </div>
                                <div class="patarimas--right">
                                    <div class="patarimas--right---top">
                                        <div>Patarimą paskelbė: <a href="#">{{this.user}}</a></div>
                                        <div>
                                            <div>{{this.date}}</div>
                                            <div class="brand">
                                                <img src="{{root}}assets/img/TVS/{{this.bendrove}}.png" alt="{{this.bendrove}}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="patarimas--right---bottom">
                                        <div>Mokamas statymas <span>(užsiprenumeruok ir atrakink)</span></div>
                                        <a href="#"><button class="btn btn_atrakinti">Prenumeruoti</button></a>
                                    </div>
                                </div>
                            </div>
                            {{/if}}
                            <div class="patarimas--komentarai" id="event-{{this.id}}">
                                <h4>Komentarai</h4>
                                {{#each ../comments}}
                                    <div class="komentaras">
                                        <div class="komentaras--left">
                                            <div class="user-avatar">
                                                <img src="https://api.adorable.io/avatars/285/{{this.user}}@tipstershub.com.png" alt="{{this.user}}">
                                            </div>
                                        </div>
                                        <div class="komentaras--right">
                                            <p>{{this.comment}}</p>
                                            <div class="komentaras--bottom">
                                                <div>Parašė: {{this.user}}</div>
                                                <div>{{this.date}}</div>
                                            </div>
                                        </div>
                                    </div>
                                {{/each}}
                            </div>
                        {{/each}}
                    </div>

                    <div class="navigation">
                        <div class="active"><a href="#">1</a></div>
                        <div><a href="#">2</a></div>
                        <div><a href="#">3</a></div>
                        <div><a href="#">4</a></div>
                    </div>

                </div>
                <div class="col-xl-3">{{> sidebar-stats}}</div>
            </div>

        </div>
    </div>
</section>

{{> totals}}