---
title: Mano įvykis - Tipstershub.com
bodyClass: mano-ivykis
---

<section class="section-1" id="section_1">
    <div class="container-fluid maxw">
        <div class="section-1-inner">

            <div class="sidebar-toggler short">
                <div class="toggler-badget">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-9">

                    <div class="ivykis">
                        <div class="ivykis-header">
                            <div class="ivykis-header--left"><h2>VAP KOLOSSOS RODOU - OLYMPIAKOS PIREUS</h2></div>
                            <div class="ivykis-header--right">
                                <a href="#" id="go_back"><i class="fa fa-angle-left" aria-hidden="true"></i> Grįžti</a>
                            </div>
                        </div>
                        <div class="ivykis-card">
                            <div class="row">
                                <div class="col-sm-4 col-lg-3">
                                    <div class="ivykis-card--left">
                                        <div class="user-avatar"><img src="https://api.adorable.io/avatars/285/riskfree@tipstershub.com.png" alt="RISFREE"></div>
                                        <div class="name text-red">Jonas Jonaitis</div>
                                        <div class="nick">Riskfree <img src="{{root}}assets/img/flags/lt.png" alt="lt"></div>
                                        <div><a href="#">riskfree.tipstershub.com</a></div>
                                    </div>
                                </div>
                                <div class="col-sm-8 col-lg-9">
                                    <div class="ivykis-card--right">
                                        <div class="inner">
                                            <div class="inner--top">
                                                <div><i class="fa fa-check-circle" aria-hidden="true"></i> &nbsp; 15 days ago (2017-02-13 15:00)</div>
                                                <div>
                                                    <div class="progress">
                                                        <div class="progress-radial progress-75">
                                                            <div class="overlay"></div>
                                                        </div>
                                                        <div class="progress-label">7/10</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="inner--middle">
                                                <div>
                                                    <div>Data</div>
                                                    <div>2017-05-01</div>
                                                </div>
                                                <div>
                                                    <div>Lyga</div>
                                                    <div>Basketball / A1 League 2016/2017 / Greece</div>
                                                </div>
                                                <div>
                                                    <div>Įvykis</div>
                                                    <div>VAP Kolossos Rodou - Olympiakos Pireus</div>
                                                </div>
                                                <div>
                                                    <div>Pasirinkimas</div>
                                                    <div>-12 Olympiakos Pireus (whole match)</div>
                                                </div>
                                            </div>
                                            <div class="inner--bottom">
                                                <div>
                                                    Koeficientas &nbsp;&nbsp;&nbsp; 1.84 @ <img src="{{root}}assets/img/TVS/bet365.png" alt="bet365">
                                                </div>
                                                <div>
                                                    <a href="#"><button class="btn btn_pasalinti">Pašalinti</button></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="ivykis-header">
                            <div class="ivykis-header--left"><h2>Analizė</h2></div>
                        </div>
                        <div class="ivykis-analize">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi dolorum exercitationem
                                explicabo in labore odit quam rem saepe sit voluptatibus. Doloribus harum maiores neque
                                odio perspiciatis repellat sed ut voluptatum.
                            </p>
                        </div>
                    </div>

                    <form action="" method="post" id="add_comment" class="add-comment">
                        <div class="row align-items-end">
                            <div class="col-md-10">
                                <textarea name="comment" id="comment" placeholder="Komentuoti" required></textarea>
                            </div>
                            <div class="col-md-2">
                                <button type="submit" class="btn btn_submit">Komentuoti</button>
                            </div>
                        </div>
                    </form>

                    <div class="comments">
                        {{#each comments}}
                        <div class="comment">
                            <div class="row">
                                <div class="col-md-4 col-lg-3 col-xl-4">
                                    <div class="comment--left">
                                        <div class="user-avatar"><img src="https://api.adorable.io/avatars/285/{{this.user}}@tipstershub.com.png" alt="{{this.user}}"></div>
                                        <div>
                                            <div>{{ this.user }}</div>
                                            <div>{{ this.nick }} <img src="{{ root }}assets/img/{{ this.country }}.png" alt="{{ this.country }}"></div>
                                            <div><a href="{{ this.nick }}.tipstershub.com">{{ this.nick }}.tipstershub.com</a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-8 col-lg-9 col-xl-8">
                                    <div class="comment--right">
                                        <p>
                                            {{ this.comment }}
                                            <span>{{ this.date }}</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                    </div>

                </div>
                <div class="col-xl-3">{{> sidebar-stats}}</div>

        </div>
    </div>
</section>