---
title: Mano pardavimai įkelti - Tipstershub.com
bodyClass: mano-pardavimai-ikelti mano-profilis
---

<section class="section-1" id="section_1">
    <div class="container-fluid maxw">
        <div class="section-1-inner">

            <div class="sidebar-toggler short">
                <div class="toggler-badget">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-9">
                    {{> profile}}

                    <div class="section-header">
                        <h3><span>PARDAVIMŲ</span> INFORMACIJA BEI NUSTATYMAI</h3>
                    </div>

                    <div class="ikelti-steps">
                        <form action="" method="post">
                            <div class="step">
                                <h4>1. Pasirinkite teikiamas prenumeratų trukmes bei jų kainas</h4>
                                <div class="row">
                                    <div class="col">
                                        <div class="group">
                                            <label for="d_1">1 diena</label>
                                            <input type="number" name="d_1" id="d_1" title="1 diena" placeholder="Įveskite kainą">
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="group">
                                            <label for="d_7">1 diena</label>
                                            <input type="number" name="d_7" id="d_7" title="7 dienos" placeholder="Įveskite kainą">
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="group">
                                            <label for="d_30">30 dienų</label>
                                            <input type="number" name="d_30" id="d_30" title="30 diena" placeholder="Įveskite kainą">
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="group">
                                            <label for="d_90">90 dienų</label>
                                            <input type="number" name="d_90" id="d_90" title="90 dienų" placeholder="Įveskite kainą">
                                        </div>
                                    </div>
                                </div>
                                <div class="step-info">
                                    <div><span class="ico-sauktukas"></span></div>
                                    <div>
                                        Palikus tuščią kainos lauką, periodas bus neaktyvus, norėdami pradėti
                                        prekiauti turite pasirinkti bent vieną periodą. Kainos gali būti keičiamos bet kada vėliau.
                                    </div>
                                </div>
                            </div>
                            <div class="step">
                                <h4>2. Nustatykite pirkėjų limitą</h4>
                                <input type="number" name="blimit" id="blimit" title="" placeholder="Įveskite limitą">
                                <div class="step-info">
                                    <div><span class="ico-sauktukas"></span></div>
                                    <div>
                                        Palikus tuščią arba įrašius 0 reiškia, kad kiekio neribojate.
                                    </div>
                                </div>
                            </div>
                            <div class="step">
                                <h4>3. PARAŠYKITE PRISISTATYMĄ</h4>
                                <textarea name="" id="prisistatymas" cols="30" rows="6" title="" placeholder="Prisistatymas"></textarea>
                                <div class="step-info">
                                    <div><span class="ico-sauktukas"></span></div>
                                    <div>
                                        Jūsų prisistatymas bus matomas visiems vartotojams norintiems užsisakyti Jūsų paslaugą
                                    </div>
                                </div>
                            </div>
                            <div class="step">
                                <h4>4. Pasirinkite, kur norėsite gauti išmokas</h4>
                                <div class="row">
                                    <div class="col-sm-5 col-md-3">
                                        <select class="select2" name="mokejimo_budas" title="Mokėjimo būdas">
                                            <option value="">Pasirinkite</option>
                                            <option value="pp">Paypal</option>
                                            <option value="ps">Paysera</option>
                                            <option value="mb">Skrill</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-5 col-md-3">
                                        <input type="email" name="pay_email" id="pay_email" title="" placeholder="EL. PAŠTAS APMOKĖJIMUI">
                                    </div>
                                </div>
                                <div class="step-info">
                                    <div><span class="ico-sauktukas"></span></div>
                                    <div>
                                        Jūsų prisistatymas bus matomas visiems vartotojams norintiems užsisakyti Jūsų paslaugą
                                    </div>
                                </div>
                            </div>
                            <div class="step">
                                <button type="submit" class="btn btn_submit">Toliau</button>
                            </div>
                        </form>
                    </div>

                    <!--APZVALGA-->
                    <div class="apzvalga">
                        <div class="apzvalga-header">
                            <h2>Apžvalga</h2>
                            <div class="select-periodas">
                                <form action="" id="form_periodas" method="post">
                                    <select name="periodas" id="periodas" class="select2">
                                        <option value="30">Šis mėnesis</option>
                                        <option value="all">Visas laikotarpis</option>
                                    </select>
                                </form>
                            </div>
                        </div>

                        <div class="apzvalga-pelnas">
                            <div><span class="ico-wallet"></span> Bendras pelnas</div>
                            <div>39.95 Eur</div>
                        </div>

                        <div class="apzvalga-aktyvus" data-toggle="aktyvus_vartotojai">
                            <div>
                                <div><span class="ico-users"></span> Aktyvūs vartotojai</div>
                                <div>24</div>
                            </div>
                            <div><i class="fa fa-angle-up" aria-hidden="true"></i></div>
                        </div>
                        <div class="aktyvus-vartotojai">
                            <table id="aktyvus_vartotojai">
                                <thead>
                                <tr>
                                    <th>Vartotojas</th>
                                    <th class="text-center">Galioja nuo</th>
                                    <th class="text-center">Galioja iki</th>
                                    <th class="text-center">Patarimų kiekis</th>
                                    <th class="text-center">Pelnas</th>
                                    <th class="text-center">Grąža</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td><i class="fa fa-user" aria-hidden="true"></i> User #1</td>
                                    <td class="text-center">2017.04.21</td>
                                    <td class="text-center">2017.05.21</td>
                                    <td class="text-center">31</td>
                                    <td class="text-center">14.3</td>
                                    <td class="text-center">0.75%</td>
                                </tr>
                                <tr>
                                    <td><i class="fa fa-user" aria-hidden="true"></i> User #2</td>
                                    <td class="text-center">2017.04.21</td>
                                    <td class="text-center">2017.05.21</td>
                                    <td class="text-center">10</td>
                                    <td class="text-center">14.3</td>
                                    <td class="text-center">0.75%</td>
                                </tr>
                                <tr>
                                    <td><i class="fa fa-user" aria-hidden="true"></i> User #3</td>
                                    <td class="text-center">2017.04.21</td>
                                    <td class="text-center">2017.05.21</td>
                                    <td class="text-center">22</td>
                                    <td class="text-center">14.3</td>
                                    <td class="text-center">0.75%</td>
                                </tr>
                                <tr>
                                    <td><i class="fa fa-user" aria-hidden="true"></i> User #4</td>
                                    <td class="text-center">2017.04.21</td>
                                    <td class="text-center">2017.05.21</td>
                                    <td class="text-center">23</td>
                                    <td class="text-center">14.3</td>
                                    <td class="text-center">0.75%</td>
                                </tr>
                                <tr>
                                    <td><i class="fa fa-user" aria-hidden="true"></i> User #5</td>
                                    <td class="text-center">2017.04.21</td>
                                    <td class="text-center">2017.05.21</td>
                                    <td class="text-center">17</td>
                                    <td class="text-center">14.3</td>
                                    <td class="text-center">0.75%</td>
                                </tr>
                                <tr>
                                    <td><i class="fa fa-user" aria-hidden="true"></i> User #6</td>
                                    <td class="text-center">2017.04.21</td>
                                    <td class="text-center">2017.05.21</td>
                                    <td class="text-center">11</td>
                                    <td class="text-center">14.3</td>
                                    <td class="text-center">0.75%</td>
                                </tr>
                                <tr>
                                    <td><i class="fa fa-user" aria-hidden="true"></i> User #7</td>
                                    <td class="text-center">2017.04.21</td>
                                    <td class="text-center">2017.05.21</td>
                                    <td class="text-center">8</td>
                                    <td class="text-center">14.3</td>
                                    <td class="text-center">0.75%</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!--end APZVALGA-->

                </div>
                <div class="col-xl-3">{{> sidebar-stats}}</div>
            </div>

        </div>
    </div>
</section>