---
title: Mėnesio ekspertai - Tipstershub.com
bodyClass: menesio-ekspertai
---

<section class="section-1" id="section_1">
    <div class="container-fluid maxw">
        <div class="section-1-inner">

            <div class="row">
                <div class="col-lg-12">

                    <div class="section-header">
                        <h2>MĖNESIO TOP EKSPERTAI</h2>
                        <h4>Pasimk savo dalį iš <span>2000€ prizinio fondo</span></h4>
                    </div>

                    <div class="section-about">
                        <p>Didžiausią pelną pasiekę ekspertai Vasario mėnesį išsidalins 1500€</p>
                        <p>Dar 500€ bus išdalinta daugiausiai unikalių peržiūrų sulaukusiems ekspertams</p>
                        <p>Konkurse automatiškai dalyvauja kiekvienas turintis aktyvią TipstersHub paskyrą</p>
                        <p>Visi laimėjimai išmokami iki sekančio mėnesio 10 dienos, į CBET.lt sąskaitą, nuo
                            kurios pinigus galėsite nusiimti be jokių suvaržymų</p>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>

<section class="section-2" id="section_2">
    <div class="container-fluid maxw">
        <div class="section-2-inner">

            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#windows" role="tab">
                        TOP 10 mėnesio ekspertai
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#mac" role="tab">
                        Top 10 peržiūrėti ekspertai
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="windows" role="tabpanel">

                    <div class="users">
                        {{#repeat 10}}
                        <div class="user-outer">
                            <div class="user">
                                <div class="user-top">
                                    <div class="circle-badget">1st</div>
                                    <div class="user-avatar">
                                        <img src="{{root}}assets/img/TVS/avatar.jpg" alt="a">
                                    </div>
                                    <div class="user-data">
                                        <div class="user-data--name">
                                            Romas
                                            <img src="{{root}}assets/img/lt.png" alt="lt">
                                            <i class="fa fa-check-circle" aria-hidden="true"></i>
                                        </div>
                                        <div><a href="#">Romas.tipstershub.com</a></div>
                                    </div>
                                    <div class="user-betdata">
                                        <div class="user-betdata--left">
                                            <div>Statymai</div>
                                            <div>722</div>
                                        </div>
                                        <div class="user-betdata--right">
                                            <div>Pelnas</div>
                                            <div>626.7</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="user-prize">
                                    <div>Prizas</div>
                                    <div>500 &euro;</div>
                                </div>
                            </div>
                        </div>
                        {{/repeat}}
                    </div>

                </div>
                <div class="tab-pane fade" id="mac" role="tabpanel">
                    <div class="users">
                        {{#repeat 10}}
                        <div class="user-outer">
                            <div class="user">
                                <div class="user-top">
                                    <div class="circle-badget">1st</div>
                                    <div class="user-avatar">
                                        <img src="{{root}}assets/img/TVS/avatar.jpg" alt="a">
                                    </div>
                                    <div class="user-data">
                                        <div class="user-data--name">
                                            Romas
                                            <img src="{{root}}assets/img/lt.png" alt="lt">
                                            <i class="fa fa-check-circle" aria-hidden="true"></i>
                                        </div>
                                        <div><a href="#">Romas.tipstershub.com</a></div>
                                    </div>
                                    <div class="user-betdata">
                                        <div class="user-betdata--center">
                                            <div>Peržiūros</div>
                                            <div>1024</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="user-prize">
                                    <div>Prizas</div>
                                    <div>500 &euro;</div>
                                </div>
                            </div>
                        </div>
                        {{/repeat}}
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

{{> totals}}