---
title: Paslaugos uzsakymas - Tipstershub.com
bodyClass: mano-profilis paslaugos-uzsakymas
---

<section class="section-1" id="section_1">
    <div class="container-fluid maxw">
        <div class="section-1-inner">

            <div class="sidebar-toggler short">
                <div class="toggler-badget">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-9">

                    {{> profile}}

                    <div class="uzsakymas">

                        <form action="" method="post">
                            <div class="uzsakymas-header">
                                <h2><span>Paslaugos</span> uzsakymas</h2>
                            </div>

                            <div class="uzsakymas-paslauga">
                                <h3>AČIŪ, KAD RENKATĖS MUS</h3>
                                <div>
                                    <div>Paslauga:</div>
                                    <div>Paslaugos pavadinimas</div>
                                </div>
                                <div>
                                    <div>Pirkėjas:</div>
                                    <div>Vardas Pavardė</div>
                                </div>
                            </div>
                            <div class="uzsakymas-suma">
                                <div>
                                    <div>Suma:</div>
                                    <div>10 &euro;</div>
                                </div>
                                <div>
                                    <div>Pirmo užsakymo nuolaida:</div>
                                    <div>10 &euro;</div>
                                </div>
                                <div>
                                    <div>Suma su nuolaidomis:</div>
                                    <div>0.01 &euro;</div>
                                </div>
                            </div>
                            <div class="uzsakymas-pranesimai">
                                <h3>KAIP NORITE GAUTI PRANEŠIMUS:</h3>
                                <div>
                                    <div class="radio-group">
                                        <input type="radio" id="pranesimai_1" name="pranesimai" />
                                        <label for="pranesimai_1"><span></span>PRANEŠIMAI EL. PAŠTU</label>
                                    </div>
                                </div>
                                <div>
                                    <div class="radio-group">
                                        <input type="radio" id="pranesimai_2" name="pranesimai" />
                                        <label for="pranesimai_2"><span></span>PRANEŠIMAI SMS ŽINUTĖMIS</label>
                                    </div>
                                </div>
                            </div>

                            <div class="uzsakymas-mokbudas">
                                <h3>Pasirinkite mokėjimo būdą</h3>
                                <div class="row">
                                    <div class="col-sm-4 col-md-3">
                                        <div class="radio-group">
                                            <input type="radio" id="pay_1" name="pay" />
                                            <label for="pay_1"><span></span><img src="{{root}}assets/img/swed.png" alt="swed"></label>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 col-md-3">
                                        <div class="radio-group">
                                            <input type="radio" id="pay_2" name="pay" />
                                            <label for="pay_2"><span></span><img src="{{root}}assets/img/dnb.png" alt="swed"></label>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 col-md-3">
                                        <div class="radio-group">
                                            <input type="radio" id="pay_3" name="pay" />
                                            <label for="pay_3"><span></span><img src="{{root}}assets/img/danske.png" alt="swed"></label>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 col-md-3">
                                        <div class="radio-group">
                                            <input type="radio" id="pay_4" name="pay" />
                                            <label for="pay_4"><span></span><img src="{{root}}assets/img/citadel.png" alt="swed"></label>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 col-md-3">
                                        <div class="radio-group">
                                            <input type="radio" id="pay_5" name="pay" />
                                            <label for="pay_5"><span></span><img src="{{root}}assets/img/paypal.png" alt="swed"></label>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 col-md-3">
                                        <div class="radio-group">
                                            <input type="radio" id="pay_6" name="pay" />
                                            <label for="pay_6"><span></span><img src="{{root}}assets/img/paysera.png" alt="swed"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <button type="submit" class="btn btn_uzsakyti">Užsakyti</button>
                        </form>

                    </div>

                </div>
                <div class="col-xl-3">{{> sidebar-stats}}</div>
            </div>
    </div>
</section>