---
title: Prekyvietė - Tipstershub.com
bodyClass: prekyviete
---

<section class="section-1" id="section_1">
    <div class="container-fluid maxw">
        <div class="section-1-inner">

            <div class="row">
                <div class="col-lg-12">

                    <div class="section-header">
                        <h2>Prekyvietė</h2>
                        <h4>Prenumeruokite <span>geriausius</span> ekspertus</h4>
                    </div>

                    <div class="prekyviete--main">
                        <!-- FILTRAS -->
                        <form action="" method="post">
                            <div class="filter">
                                <div class="row">
                                    <div class="col-lg-3">
                                        <label>
                                            <span class="label">Mėnesio kaina</span>
                                            <select class="select2" name="ekspertu_tipas" id="">
                                                <option value="">Neribota</option>
                                            </select>
                                        </label>
                                    </div>
                                    <div class="col-lg-3">
                                        <label>
                                            <span class="label">Statymai</span>
                                            <select class="select2" name="ekspertu_tipas" id="">
                                                <option value="">Daugiau nei 100</option>
                                            </select>
                                        </label>
                                    </div>
                                    <div class="col-lg-3">
                                        <label>
                                            <span class="label">Sportas</span>
                                            <select class="select2" name="ekspertu_tipas" id="">
                                                <option value="">Pasirinkite</option>
                                            </select>
                                        </label>
                                    </div>
                                    <div class="col-lg-3">
                                        <label>
                                            <span class="label">Bukmekeriai</span>
                                            <select class="select2" name="ekspertu_tipas" id="">
                                                <option value="">Pasirinkite</option>
                                            </select>
                                        </label>
                                    </div>
                                </div>
                                <div class="filter-button">
                                    <input class="btn_submit" type="submit" value="Ieškoti">
                                </div>
                            </div>
                        </form>
                        <!-- end FILTRAS -->

                        <!-- PAIESKOS REZULTATAI -->
                        <div class="search-results">
                            <div class="search-results--title">
                                <h4>Rasta <span>98 aktyvių</span> ekspertų</h4>
                            </div>

                            <label>
                                <span class="label">Rušiuoti pagal</span>
                                <select class="select2" name="ekspertu_tipas" id="">
                                    <option value="">Option 1</option>
                                    <option value="">Option 2</option>
                                    <option value="">Option 3</option>
                                </select>
                            </label>

                            <div class="ekspertai-results">
                                {{#each experts}}
                                <div class="ekspertas">
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <div class="ekspertas--left">
                                                <div class="user-avatar"><img src="{{ root }}assets/img/TVS/{{ this.avatar }}" alt="{{ this.user }}"></div>
                                                <div class="user-data">
                                                    <div>{{ this.user }} <img src="{{ root }}assets/img/{{ this.country }}.png" alt="{{ this.country }}"></div>
                                                    <div><a href="#">{{ this.user }}.tipstershub.com</a></div>
                                                    <div>
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                        <i class="fa fa-check-circle" aria-hidden="true"></i>
                                                        <span class="ico-euro"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-7">
                                            <div class="ekspertas--middle">
                                                <div>
                                                    <div>{{ this.statymai }}</div>
                                                    <div>Statymai</div>
                                                </div>
                                                <div>
                                                    <div>{{ this.pelnas }}</div>
                                                    <div>Pelnas</div>
                                                </div>
                                                <div>
                                                    <div>{{ this.graza }}</div>
                                                    <div>Grąža (%)</div>
                                                </div>
                                                <div>
                                                    <div>{{ this.sekejai }}</div>
                                                    <div>Sekėjai</div>
                                                </div>
                                                <div class="green">
                                                    <div>{{ this.patvirtinta }}%</div>
                                                    <div>Patvirtinta</div>
                                                </div>
                                                <div class="chart">
                                                    <div id="user_{{ this.id }}_stats" data-userdata="{{ root }}data/userdata_{{ this.id }}.json"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="ekspertas--right">
                                                <div>
                                                    <div><span class="ico-krepsinis"></span> &nbsp; Krepšinis (80)</div>
                                                    <div><span class="ico-dart"></span> &nbsp; Krepšinis (80)</div>
                                                    <div><span class="ico-football"></span> &nbsp; Krepšinis (80)</div>
                                                </div>
                                                <div>
                                                    <i class="fa fa-comment-o" aria-hidden="true"></i>
                                                    <a href="{{ root }}prekyviete-komentarai.html">({{ this.komentarai }})</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="ekspertas--bottom">
                                                <div class="ekspertas--bottom---left">UŽSISAKYTI PASLAUGAS:</div>
                                                <div class="ekspertas--bottom---right">
                                                    <form action="" id="plan_subscribe">
                                                        <input type="hidden" name="user_id" value="{{ this.id }}">
                                                        <button data-plan="period_1">9 EUR / 7 D</button>
                                                        <button data-plan="period_2">19 EUR / 7 D</button>
                                                        <button data-plan="period_3">19 EUR / 7 D</button>
                                                        <button data-plan="period_4">119 EUR / 90 D</button>
                                                        <button type="submit" class="btn btn_subscribe">SUBSRICE</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="ekspertas--bottom---1">
                                    <div>TOP NAUDOJAMI BUKMEIKERIAI:</div>
                                    <div class="logos">
                                        <img src="{{ root }}assets/img/TVS/ladbrokes.png" alt="">
                                        <img src="{{ root }}assets/img/TVS/bet365.png" alt="">
                                        <img src="{{ root }}assets/img/TVS/pinnacle.png" alt="">
                                    </div>
                                    <a href="#"><button class="btn btn_submit">Follow</button></a>
                                </div>
                                <div class="ekspertas--bottom---2">
                                    <a href="#" data-toggle="pristatymas_{{ this.id }}">PRISISTATYMAS &nbsp; <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                    <div class="pristatymas" id="pristatymas_{{ this.id }}">
                                        <p>
                                            Lorem ipsum dolor sit amet, his cu debitis perpetua pertinacia, has ex
                                            iusto habemus. Ius ex purto consequuntur, iisque malorum qui te. Tation
                                            decore tempor te usu, cum minim timeam regione at. Duo no erant similique
                                            honestatis, eu augue animal nec.
                                        </p>
                                    </div>
                                </div>
                                {{/each}}

                                <div class="rodyti-daugiau">
                                    <a href="#">
                                        <button class="btn btn_daugiau">Rodyti daugiau</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- end PAIESKOS REZULTATAI -->
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>

{{> totals}}