---
title: Komentarai ekspertas Tomas - Tipstershub.com
bodyClass: prekyviete-komentarai
---

<section class="section-1" id="section_1">
    <div class="container-fluid maxw">
        <div class="section-1-inner">

            <div class="row">
                <div class="col-lg-12">

                    <div class="section-header">
                        <h2>Prekyvietė</h2>
                        <h4>Prenumeruokite <span>geriausius</span> ekspertus</h4>
                    </div>

                    <div class="section-subheader">
                        <h2>Komentarai</h2>
                        <a id="go_back" href="#">Atgal</a>
                    </div>

                    <div class="ekspertas">
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="ekspertas--left">
                                    <div class="user-avatar"><img src="{{ root }}assets/img/TVS/avatar.jpg" alt="{{ this.user }}"></div>
                                    <div class="user-data">
                                        <div>Tomas <img src="{{ root }}assets/img/lt.png" alt="{{ this.country }}"></div>
                                        <div><a href="#">Tomas.tipstershub.com</a></div>
                                        <div>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-check-circle" aria-hidden="true"></i>
                                            <span class="ico-euro"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <div class="ekspertas--middle">
                                    <div>
                                        <div>722</div>
                                        <div>Statymai</div>
                                    </div>
                                    <div>
                                        <div>681.5</div>
                                        <div>Pelnas</div>
                                    </div>
                                    <div>
                                        <div>15.5</div>
                                        <div>Grąža (%)</div>
                                    </div>
                                    <div>
                                        <div>412</div>
                                        <div>Sekėjai</div>
                                    </div>
                                    <div class="green">
                                        <div>64%</div>
                                        <div>Patvirtinta</div>
                                    </div>
                                    <div class="chart">
                                        <div id="user_1_stats" data-userdata="{{ root }}data/userdata_1.json"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="ekspertas--right">
                                    <div>
                                        <div><span class="ico-krepsinis"></span> &nbsp; Krepšinis (80)</div>
                                        <div><span class="ico-dart"></span> &nbsp; Krepšinis (80)</div>
                                        <div><span class="ico-football"></span> &nbsp; Krepšinis (80)</div>
                                    </div>
                                    <div>
                                        <i class="fa fa-comment-o" aria-hidden="true"></i>
                                        <a href="{{ root }}prekyviete-komentarai.html">(5)</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="ekspertas--bottom">
                                    <div class="ekspertas--bottom---left">UŽSISAKYTI PASLAUGAS:</div>
                                    <div class="ekspertas--bottom---right">
                                        <button>9 EUR / 7 D</button>
                                        <button>19 EUR / 7 D</button>
                                        <button>19 EUR / 7 D</button>
                                        <button>119 EUR / 90 D</button>
                                        <button class="btn btn_subscribe">SUBSRICE</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ekspertas--bottom---1">
                        <div>TOP NAUDOJAMI BUKMEIKERIAI:</div>
                        <div class="logos">
                            <img src="{{ root }}assets/img/TVS/ladbrokes.png" alt="">
                            <img src="{{ root }}assets/img/TVS/bet365.png" alt="">
                            <img src="{{ root }}assets/img/TVS/pinnacle.png" alt="">
                        </div>
                        <a href="#"><button class="btn btn_submit">Follow</button></a>
                    </div>
                    <div class="ekspertas--bottom---2">
                        <a href="#" data-toggle="pristatymas_{{ this.id }}">PRISISTATYMAS &nbsp; <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                        <div class="pristatymas" id="pristatymas_{{ this.id }}">
                            <p>
                                Lorem ipsum dolor sit amet, his cu debitis perpetua pertinacia, has ex
                                iusto habemus. Ius ex purto consequuntur, iisque malorum qui te. Tation
                                decore tempor te usu, cum minim timeam regione at. Duo no erant similique
                                honestatis, eu augue animal nec.
                            </p>
                        </div>
                    </div>

                    <form action="" method="post" id="add_comment" class="add-comment">
                        <div class="row align-items-end">
                            <div class="col-md-10">
                                <textarea name="comment" id="comment" placeholder="Komentuoti" required></textarea>
                            </div>
                            <div class="col-md-2">
                                <button type="submit" class="btn btn_submit">Komentuoti</button>
                            </div>
                        </div>
                    </form>

                    <div class="comments">
                        {{#each comments}}
                        <div class="comment">
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="comment--left">
                                        <div class="user-avatar"><img src="{{ root }}assets/img/TVS/avatar.jpg" alt="{{ this.user }}"></div>
                                        <div>
                                            <div>{{ this.user }}</div>
                                            <div>{{ this.nick }} <img src="{{ root }}assets/img/{{ this.country }}.png" alt="{{ this.country }}"></div>
                                            <div><a href="{{ this.nick }}.tipstershub.com">{{ this.nick }}.tipstershub.com</a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-9">
                                    <div class="comment--right">
                                        <p>
                                            {{ this.comment }}
                                            <span>{{ this.date }}</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>

{{> totals}}