---
title: Prisijungimas - Tipstershub.com
bodyClass: prisijungimas
---

<section class="section-1" id="section_1">
    <div class="container-fluid maxw">
        <div class="section-1-inner">

            <div class="row">
                <div class="col-lg-12">
                    <div class="section-header">
                        <h2>PRISIJUNGIMAS</h2>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-lg-4">
                            <form action="" method="post" id="login_form">
                                <input type="text" name="login_name" placeholder="Vartotojo vardas">
                                <input type="text" name="login_pass" placeholder="Slaptažodis">

                                <div class="checkbox-group">
                                    <div class="checkbox-rounded">
                                        <input type="checkbox" value="1" id="prisiminti" name="check" />
                                        <label for="prisiminti"></label>
                                    </div>
                                    <div class="checkbox-label">Prisiminti</div>
                                </div>

                                <input type="submit" class="btn_submit" value="Prisijungti">
                                <div class="passrestore"><a href="{{root}}atkurti-slaptazodi.html">Pamiršai slaptažodį?</a></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

{{> totals}}