---
title: Profilis - Tipstershub.com
bodyClass: profilis
---

<section class="section-1" id="section_1">
    <div class="container-fluid maxw">
        <div class="section-1-inner">

            <div class="sidebar-toggler short">
                <div class="toggler-badget">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-9">

                    <div class="profile">
                        <div class="profile--top">
                            <div class="profile--top---left">
                                <div class="user-avatar">
                                    <img src="{{root}}assets/img/TVS/avatar.jpg" alt="a">
                                </div>
                            </div>
                            <div class="profile--top---middle">
                                <div>JONAS JONAITIS</div>
                                <div>riskfree <img src="{{root}}assets/img/lt.png" alt="lt"></div>
                                <div><a href="">riskfree.tipstershub.com</a></div>
                                <div>
                                    <div><span class="ico-followers"></span> &nbsp; <a href="#">sekėjai (254)</a></div>
                                    <div><span class="ico-following"></span> &nbsp; <a href="#">sekami (7)</a></div>
                                </div>
                            </div>
                            <div class="profile--top---right">
                                <div>
                                    <div class="progress">
                                        <div class="progress-radial progress-45">
                                            <div class="overlay">45%</div>
                                        </div>
                                    </div>
                                    <div class="radial-label">Patvirtinti statymai</div>
                                </div>
                                <div>
                                    <div class="progress">
                                        <div class="progress-radial progress-70">
                                            <div class="overlay">70%</div>
                                        </div>
                                    </div>
                                    <div class="radial-label">Grąža</div>
                                </div>
                                <div>
                                    <div class="progress">
                                        <div class="progress-radial progress-25">
                                            <div class="overlay">25%</div>
                                        </div>
                                    </div>
                                    <div class="radial-label">Laimėjimai</div>
                                </div>
                            </div>
                        </div>
                        <div class="profile--bottom">
                            <div class="profile--bottom---left">
                                <a href="#"><button class="btn btn_susisiekti">susisiekti</button></a>
                            </div>
                            <div class="profile--bottom---right">
                                <a href="#">
                                    <div class="plan">
                                        <div>1</div>
                                        <div>diena</div>
                                        <div>19.00 EUR</div>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="plan">
                                        <div>7</div>
                                        <div>dienos</div>
                                        <div>29.00 EUR</div>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="plan">
                                        <div>30</div>
                                        <div>dienų</div>
                                        <div>69.00 EUR</div>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="plan">
                                        <div>90</div>
                                        <div>dienų</div>
                                        <div>159.00 EUR</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="profile-comments">
                        <i class="fa fa-comment-o" aria-hidden="true"></i> &nbsp; <a href="#">Komentarai (0)</a>
                    </div>

                    <div class="patarimai">
                        <h2><span>Aktyvūs</span> statymai</h2>

                        <div class="patarimas">
                            <div class="patarimas--left">
                                <div class="user-avatar">
                                    <img src="{{ root }}assets/img/TVS/avatar.jpg" alt="a">
                                </div>
                                <div class="graza">
                                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                                    -11.8%(111)
                                </div>
                            </div>
                            <div class="patarimas--right">
                                <div class="patarimas--right---top">
                                    <div class="head">
                                        <div>PATARIMĄ PASKELBĖ: SIOMAS <img src="{{root}}assets/img/flags/lt.png" alt="lt"></div>
                                        <div>2017.04.25 12:43</div>
                                    </div>
                                    <div class="main">
                                        <div>
                                            <div>Charlotte Hornets - Brooklyn Nets</div>
                                            <div>Basketball / NBA 2016/2017 / United States 2017-02-08 02:00</div>
                                            <div>Patarimas: <a href="#">Under 220.5 points (whole matc @ 1.85</a></div>
                                        </div>
                                        <div>
                                            <div class="progress">
                                                <div class="progress-radial progress-45">
                                                    <div class="overlay"></div>
                                                </div>
                                                <div class="progress-label">7/10</div>
                                            </div>
                                        </div>
                                        <div class="brand">
                                            <img src="{{root}}assets/img/TVS/tonybet.png" alt="">
                                        </div>
                                    </div>
                                    <div class="foot">
                                        <div>
                                            <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                                            LIKES (9) &nbsp;&nbsp; <a href="#" data-togglecomments="event-1">KOMENTARAI (21)</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="patarimas--right---bottom">
                                    <div class="row align-items-end">
                                        <div class="col-md-9">
                                            <textarea name="comment" id="comment" placeholder="Komentuoti" rows="4" required=""></textarea>
                                        </div>
                                        <div class="col-md-3">
                                            <button type="button" data-toggle="event-1" class="btn btn_submit">Komentuoti</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="patarimas--komentarai" id="event-1">
                            <h4>Komentarai</h4>
                            <div class="komentaras">
                                <div class="komentaras--left">
                                    <div class="user-avatar">
                                        <img src="{{ root }}assets/img/TVS/avatar.jpg" alt="a">
                                    </div>
                                </div>
                                <div class="komentaras--right">
                                    <p>Lorem ipsum dolor sita amet...</p>
                                    <div class="komentaras--bottom">
                                        <div>Parašė: Tomas</div>
                                        <div>2017-04-25 14:45</div>
                                    </div>
                                </div>
                            </div>
                            <div class="komentaras">
                                <div class="komentaras--left">
                                    <div class="user-avatar">
                                        <img src="{{ root }}assets/img/TVS/avatar.jpg" alt="a">
                                    </div>
                                </div>
                                <div class="komentaras--right">
                                    <p>Lorem ipsum dolor sita amet...</p>
                                    <div class="komentaras--bottom">
                                        <div>Parašė: Tomas</div>
                                        <div>2017-04-25 14:45</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="patarimas locked">
                            <div class="patarimas--left">
                                <span class="ico-lock2"></span>
                            </div>
                            <div class="patarimas--right">
                                <div class="patarimas--right---top">
                                    <div>Patarimą paskelbė: <a href="#">tomas</a></div>
                                    <div>
                                        <div>2017.04.25</div>
                                        <div class="brand">
                                            <img src="{{root}}assets/img/TVS/tonybet.png" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="patarimas--right---bottom">
                                    <div>Mokamas statymas <span>(užsiprenumeruok ir atrakink)</span></div>
                                    <a href="#"><button class="btn btn_atrakinti">Prenumeruoti</button></a>
                                </div>
                            </div>
                        </div>

                        <div class="patarimas">
                            <div class="patarimas--left">
                                <div class="user-avatar">
                                    <img src="{{ root }}assets/img/TVS/avatar.jpg" alt="a">
                                </div>
                                <div class="graza">
                                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                                    -11.8%(111)
                                </div>
                            </div>
                            <div class="patarimas--right">
                                <div class="patarimas--right---top">
                                    <div class="head">
                                        <div>PATARIMĄ PASKELBĖ: SIOMAS <img src="{{root}}assets/img/flags/lt.png" alt="lt"></div>
                                        <div>2017.04.25 12:43</div>
                                    </div>
                                    <div class="main">
                                        <div>
                                            <div>Charlotte Hornets - Brooklyn Nets</div>
                                            <div>Basketball / NBA 2016/2017 / United States 2017-02-08 02:00</div>
                                            <div>Patarimas: <a href="#">Under 220.5 points (whole matc @ 1.85</a></div>
                                        </div>
                                        <div>
                                            <div class="progress">
                                                <div class="progress-radial progress-45">
                                                    <div class="overlay"></div>
                                                </div>
                                                <div class="progress-label">7/10</div>
                                            </div>
                                        </div>
                                        <div class="brand">
                                            <img src="{{root}}assets/img/TVS/tonybet.png" alt="">
                                        </div>
                                    </div>
                                    <div class="foot">
                                        <div>
                                            <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                                            LIKES (9) &nbsp;&nbsp; <a href="#" data-togglecomments="event-2">KOMENTARAI (21)</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="patarimas--right---bottom">
                                    <div class="row align-items-end">
                                        <div class="col-md-9">
                                            <textarea name="comment" id="comment" placeholder="Komentuoti" rows="4" required=""></textarea>
                                        </div>
                                        <div class="col-md-3">
                                            <button type="button" data-toggle="event-1" class="btn btn_submit">Komentuoti</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="patarimas--komentarai" id="event-2">
                            <h4>Komentarai</h4>
                            <div class="komentaras">
                                <div class="komentaras--left">
                                    <div class="user-avatar">
                                        <img src="{{ root }}assets/img/TVS/avatar.jpg" alt="a">
                                    </div>
                                </div>
                                <div class="komentaras--right">
                                    <p>Lorem ipsum dolor sita amet...</p>
                                    <div class="komentaras--bottom">
                                        <div>Parašė: Tomas</div>
                                        <div>2017-04-25 14:45</div>
                                    </div>
                                </div>
                            </div>
                            <div class="komentaras">
                                <div class="komentaras--left">
                                    <div class="user-avatar">
                                        <img src="{{ root }}assets/img/TVS/avatar.jpg" alt="a">
                                    </div>
                                </div>
                                <div class="komentaras--right">
                                    <p>Lorem ipsum dolor sita amet...</p>
                                    <div class="komentaras--bottom">
                                        <div>Parašė: Tomas</div>
                                        <div>2017-04-25 14:45</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <h2>PASKUTINIAI PASIBAIGĘ ĮVYKIAI</h2>

                        <div class="patarimas">
                            <div class="patarimas--left">
                                <div class="user-avatar">
                                    <img src="{{ root }}assets/img/TVS/avatar.jpg" alt="a">
                                </div>
                                <div class="graza">
                                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                                    -11.8%(111)
                                </div>
                            </div>
                            <div class="patarimas--right">
                                <div class="patarimas--right---top">
                                    <div class="head">
                                        <div>PATARIMĄ PASKELBĖ: SIOMAS <img src="{{root}}assets/img/flags/lt.png" alt="lt"></div>
                                        <div>2017.04.25 12:43</div>
                                    </div>
                                    <div class="main">
                                        <div>
                                            <div>Charlotte Hornets - Brooklyn Nets</div>
                                            <div>Basketball / NBA 2016/2017 / United States 2017-02-08 02:00</div>
                                            <div>Patarimas: <a href="#">Under 220.5 points (whole matc @ 1.85</a></div>
                                        </div>
                                        <div>
                                            <div class="progress">
                                                <div class="progress-radial progress-45">
                                                    <div class="overlay"></div>
                                                </div>
                                                <div class="progress-label">7/10</div>
                                            </div>
                                        </div>
                                        <div class="brand">
                                            <img src="{{root}}assets/img/TVS/tonybet.png" alt="">
                                        </div>
                                    </div>
                                    <div class="foot">
                                        <div>
                                            <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                                            LIKES (9) &nbsp;&nbsp; <a href="#" data-togglecomments="event-3">KOMENTARAI (21)</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="patarimas--right---bottom">
                                    <div class="row align-items-end">
                                        <div class="col-md-9">
                                            <textarea name="comment" id="comment" placeholder="Komentuoti" rows="4" required=""></textarea>
                                        </div>
                                        <div class="col-md-3">
                                            <button type="button" data-toggle="event-3" class="btn btn_submit">Komentuoti</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="patarimas--komentarai" id="event-3">
                            <h4>Komentarai</h4>
                            <div class="komentaras">
                                <div class="komentaras--left">
                                    <div class="user-avatar">
                                        <img src="{{ root }}assets/img/TVS/avatar.jpg" alt="a">
                                    </div>
                                </div>
                                <div class="komentaras--right">
                                    <p>Lorem ipsum dolor sita amet...</p>
                                    <div class="komentaras--bottom">
                                        <div>Parašė: Tomas</div>
                                        <div>2017-04-25 14:45</div>
                                    </div>
                                </div>
                            </div>
                            <div class="komentaras">
                                <div class="komentaras--left">
                                    <div class="user-avatar">
                                        <img src="{{ root }}assets/img/TVS/avatar.jpg" alt="a">
                                    </div>
                                </div>
                                <div class="komentaras--right">
                                    <p>Lorem ipsum dolor sita amet...</p>
                                    <div class="komentaras--bottom">
                                        <div>Parašė: Tomas</div>
                                        <div>2017-04-25 14:45</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="patarimas">
                            <div class="patarimas--left">
                                <div class="user-avatar">
                                    <img src="{{ root }}assets/img/TVS/avatar.jpg" alt="a">
                                </div>
                                <div class="graza">
                                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                                    -11.8%(111)
                                </div>
                            </div>
                            <div class="patarimas--right">
                                <div class="patarimas--right---top">
                                    <div class="head">
                                        <div>PATARIMĄ PASKELBĖ: SIOMAS <img src="{{root}}assets/img/flags/lt.png" alt="lt"></div>
                                        <div>2017.04.25 12:43</div>
                                    </div>
                                    <div class="main">
                                        <div>
                                            <div>Charlotte Hornets - Brooklyn Nets</div>
                                            <div>Basketball / NBA 2016/2017 / United States 2017-02-08 02:00</div>
                                            <div>Patarimas: <a href="#">Under 220.5 points (whole matc @ 1.85</a></div>
                                        </div>
                                        <div>
                                            <div class="progress">
                                                <div class="progress-radial progress-45">
                                                    <div class="overlay"></div>
                                                </div>
                                                <div class="progress-label">7/10</div>
                                            </div>
                                        </div>
                                        <div class="brand">
                                            <img src="{{root}}assets/img/TVS/tonybet.png" alt="">
                                        </div>
                                    </div>
                                    <div class="foot">
                                        <div>
                                            <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                                            LIKES (9) &nbsp;&nbsp; <a href="#" data-togglecomments="event-4">KOMENTARAI (21)</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="patarimas--right---bottom">
                                    <div class="row align-items-end">
                                        <div class="col-md-9">
                                            <textarea name="comment" id="comment" placeholder="Komentuoti" rows="4" required=""></textarea>
                                        </div>
                                        <div class="col-md-3">
                                            <button type="button" data-toggle="event-4" class="btn btn_submit">Komentuoti</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="patarimas--komentarai" id="event-4">
                            <h4>Komentarai</h4>
                            <div class="komentaras">
                                <div class="komentaras--left">
                                    <div class="user-avatar">
                                        <img src="{{ root }}assets/img/TVS/avatar.jpg" alt="a">
                                    </div>
                                </div>
                                <div class="komentaras--right">
                                    <p>Lorem ipsum dolor sita amet...</p>
                                    <div class="komentaras--bottom">
                                        <div>Parašė: Tomas</div>
                                        <div>2017-04-25 14:45</div>
                                    </div>
                                </div>
                            </div>
                            <div class="komentaras">
                                <div class="komentaras--left">
                                    <div class="user-avatar">
                                        <img src="{{ root }}assets/img/TVS/avatar.jpg" alt="a">
                                    </div>
                                </div>
                                <div class="komentaras--right">
                                    <p>Lorem ipsum dolor sita amet...</p>
                                    <div class="komentaras--bottom">
                                        <div>Parašė: Tomas</div>
                                        <div>2017-04-25 14:45</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="patarimas">
                            <div class="patarimas--left">
                                <div class="user-avatar">
                                    <img src="{{ root }}assets/img/TVS/avatar.jpg" alt="a">
                                </div>
                                <div class="graza">
                                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                                    -11.8%(111)
                                </div>
                            </div>
                            <div class="patarimas--right">
                                <div class="patarimas--right---top">
                                    <div class="head">
                                        <div>PATARIMĄ PASKELBĖ: SIOMAS <img src="{{root}}assets/img/flags/lt.png" alt="lt"></div>
                                        <div>2017.04.25 12:43</div>
                                    </div>
                                    <div class="main">
                                        <div>
                                            <div>Charlotte Hornets - Brooklyn Nets</div>
                                            <div>Basketball / NBA 2016/2017 / United States 2017-02-08 02:00</div>
                                            <div>Patarimas: <a href="#">Under 220.5 points (whole matc @ 1.85</a></div>
                                        </div>
                                        <div>
                                            <div class="progress">
                                                <div class="progress-radial progress-45">
                                                    <div class="overlay"></div>
                                                </div>
                                                <div class="progress-label">7/10</div>
                                            </div>
                                        </div>
                                        <div class="brand">
                                            <img src="{{root}}assets/img/TVS/tonybet.png" alt="">
                                        </div>
                                    </div>
                                    <div class="foot">
                                        <div>
                                            <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                                            LIKES (9) &nbsp;&nbsp; <a href="#" data-togglecomments="event-5">KOMENTARAI (21)</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="patarimas--right---bottom">
                                    <div class="row align-items-end">
                                        <div class="col-md-9">
                                            <textarea name="comment" id="comment" placeholder="Komentuoti" rows="4" required=""></textarea>
                                        </div>
                                        <div class="col-md-3">
                                            <button type="button" data-toggle="event-5" class="btn btn_submit">Komentuoti</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="patarimas--komentarai" id="event-5">
                            <h4>Komentarai</h4>
                            <div class="komentaras">
                                <div class="komentaras--left">
                                    <div class="user-avatar">
                                        <img src="{{ root }}assets/img/TVS/avatar.jpg" alt="a">
                                    </div>
                                </div>
                                <div class="komentaras--right">
                                    <p>Lorem ipsum dolor sita amet...</p>
                                    <div class="komentaras--bottom">
                                        <div>Parašė: Tomas</div>
                                        <div>2017-04-25 14:45</div>
                                    </div>
                                </div>
                            </div>
                            <div class="komentaras">
                                <div class="komentaras--left">
                                    <div class="user-avatar">
                                        <img src="{{ root }}assets/img/TVS/avatar.jpg" alt="a">
                                    </div>
                                </div>
                                <div class="komentaras--right">
                                    <p>Lorem ipsum dolor sita amet...</p>
                                    <div class="komentaras--bottom">
                                        <div>Parašė: Tomas</div>
                                        <div>2017-04-25 14:45</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="patarimas">
                            <div class="patarimas--left">
                                <div class="user-avatar">
                                    <img src="{{ root }}assets/img/TVS/avatar.jpg" alt="a">
                                </div>
                                <div class="graza">
                                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                                    -11.8%(111)
                                </div>
                            </div>
                            <div class="patarimas--right">
                                <div class="patarimas--right---top">
                                    <div class="head">
                                        <div>PATARIMĄ PASKELBĖ: SIOMAS <img src="{{root}}assets/img/flags/lt.png" alt="lt"></div>
                                        <div>2017.04.25 12:43</div>
                                    </div>
                                    <div class="main">
                                        <div>
                                            <div>Charlotte Hornets - Brooklyn Nets</div>
                                            <div>Basketball / NBA 2016/2017 / United States 2017-02-08 02:00</div>
                                            <div>Patarimas: <a href="#">Under 220.5 points (whole matc @ 1.85</a></div>
                                        </div>
                                        <div>
                                            <div class="progress">
                                                <div class="progress-radial progress-45">
                                                    <div class="overlay"></div>
                                                </div>
                                                <div class="progress-label">7/10</div>
                                            </div>
                                        </div>
                                        <div class="brand">
                                            <img src="{{root}}assets/img/TVS/tonybet.png" alt="">
                                        </div>
                                    </div>
                                    <div class="foot">
                                        <div>
                                            <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                                            LIKES (9) &nbsp;&nbsp; <a href="#" data-togglecomments="event-6">KOMENTARAI (21)</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="patarimas--right---bottom">
                                    <div class="row align-items-end">
                                        <div class="col-md-9">
                                            <textarea name="comment" id="comment" placeholder="Komentuoti" rows="4" required=""></textarea>
                                        </div>
                                        <div class="col-md-3">
                                            <button type="button" data-toggle="event-6" class="btn btn_submit">Komentuoti</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="patarimas--komentarai" id="event-6">
                            <h4>Komentarai</h4>
                            <div class="komentaras">
                                <div class="komentaras--left">
                                    <div class="user-avatar">
                                        <img src="{{ root }}assets/img/TVS/avatar.jpg" alt="a">
                                    </div>
                                </div>
                                <div class="komentaras--right">
                                    <p>Lorem ipsum dolor sita amet...</p>
                                    <div class="komentaras--bottom">
                                        <div>Parašė: Tomas</div>
                                        <div>2017-04-25 14:45</div>
                                    </div>
                                </div>
                            </div>
                            <div class="komentaras">
                                <div class="komentaras--left">
                                    <div class="user-avatar">
                                        <img src="{{ root }}assets/img/TVS/avatar.jpg" alt="a">
                                    </div>
                                </div>
                                <div class="komentaras--right">
                                    <p>Lorem ipsum dolor sita amet...</p>
                                    <div class="komentaras--bottom">
                                        <div>Parašė: Tomas</div>
                                        <div>2017-04-25 14:45</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="navigation">
                        <div class="active"><a href="#">1</a></div>
                        <div><a href="#">2</a></div>
                        <div><a href="#">3</a></div>
                        <div><a href="#">4</a></div>
                    </div>

                </div>
                <div class="col-xl-3">{{> sidebar-stats}}</div>
            </div>

        </div>
    </div>
</section>

{{> totals}}