---
title: Redaguoti profili - Tipstershub.com
bodyClass: mano-profilis redaguoti-profili
---

<section class="section-1" id="section_1">
    <div class="container-fluid maxw">
        <div class="section-1-inner">

            <div class="sidebar-toggler short">
                <div class="toggler-badget">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-9">
                    {{> profile}}

                    <div class="section-header">
                        <h3><span>Valdyti</span> profilį</h3>
                    </div>

                    <div class="profile-form">
                        <form action="" method="post" id="profile_edit" class="validation">

                            <div class="asmenine-informacija">
                                <h3>Asmeninė informacija:</h3>

                                <div class="form-group row">
                                    <label for="vardas_pavarde" class="col-sm-3 col-md-2 col-form-label">Pilnas vardas</label>
                                    <div class="col-sm-9 col-md-4">
                                        <input class="form-control" type="text" placeholder="Vardas Pavardė" id="vardas_pavarde" data-msg-required="Privalomas laukas!" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="telefonas" class="col-sm-3 col-md-2 col-form-label">Telefonas</label>
                                    <div class="col-sm-9 col-md-4">
                                        <input class="form-control" type="tel" placeholder="+37067607905" id="telefonas">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="email" class="col-sm-3 col-md-2 col-form-label">El.paštas</label>
                                    <div class="col-sm-9 col-md-4">
                                        <input class="form-control" type="email" placeholder="email@domain.com" id="email" data-msg-email="Netinkamas email formatas!">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="salis" class="col-sm-3 col-md-2 col-form-label">Šalis</label>
                                    <div class="col-sm-9 col-md-4">
                                        <select name="salis" class="form-control" id="salis">
                                            <option value=""></option>
                                            <option value="lt">Lithuania</option>
                                            <option value="ru">Russia</option>
                                            <option value="pl">Poland</option>
                                            <option value="lv">Latvia</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="pakeisti-slaptazodi">
                                <h3>Pakeisti slaptažodį:</h3>

                                <div class="form-group row">
                                    <label for="passold" class="col-sm-3 col-md-2 col-form-label">Senas slaptažodis</label>
                                    <div class="col-sm-9 col-md-4">
                                        <input class="form-control" type="password" placeholder="" id="passold">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="newpass1" class="col-sm-3 col-md-2 col-form-label">Naujas slaptažodis</label>
                                    <div class="col-sm-9 col-md-4">
                                        <input class="form-control" type="password" placeholder="" id="newpass1">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="newpass2" class="col-sm-3 col-md-2 col-form-label">Pakartoti</label>
                                    <div class="col-sm-9 col-md-4">
                                        <input class="form-control" type="password" placeholder="" id="newpass2">
                                    </div>
                                </div>
                            </div>

                            <div class="pakeisti-email">
                                <h3>Pakeisti email:</h3>

                                <div class="form-group row">
                                    <label for="oldemail" class="col-sm-3 col-md-2 col-form-label">Senas el.paštas</label>
                                    <div class="col-sm-9 col-md-4">
                                        <input class="form-control" type="email" value="romualdas@prodev.lt" id="oldemail">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="newemail1" class="col-sm-3 col-md-2 col-form-label">Naujas el.paštas</label>
                                    <div class="col-sm-9 col-md-4">
                                        <input class="form-control" type="email" id="newemail1">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="newemail2" class="col-sm-3 col-md-2 col-form-label">Pakartoti</label>
                                    <div class="col-sm-9 col-md-4">
                                        <input class="form-control" type="email" id="newemail2">
                                    </div>
                                </div>
                            </div>

                            <div class="pakeisti-tel">
                                <h3>Pakeisti telefono nr.:</h3>

                                <div class="form-group row">
                                    <label for="telnr" class="col-sm-3 col-md-2 col-form-label">Senas telefono nr.</label>
                                    <div class="col-sm-9 col-md-4">
                                        <input class="form-control" type="text" value="+37067607905" id="telnr">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="newtelnr11" class="col-sm-3 col-md-2 col-form-label">Naujas telefono nr.</label>
                                    <div class="col-sm-9 col-md-4">
                                        <input class="form-control" type="text" id="newtelnr11">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="newtelnr12" class="col-sm-3 col-md-2 col-form-label">Pakartoti</label>
                                    <div class="col-sm-9 col-md-4">
                                        <input class="form-control" type="text" id="newtelnr12">
                                    </div>
                                </div>
                            </div>

                            <div class="profilio-nuotrauka">
                                <h3>Profilio nuotrauka:</h3>

                                <div class="avatars">
                                    <div class="avatars-inner">
                                        <div class="predefined-avatars">
                                            <div class="user-avatar"><img src="https://api.adorable.io/avatars/285/demo1@tipstershub.com.png" alt="Avatar"></div>
                                            <div class="user-avatar"><img src="https://api.adorable.io/avatars/285/demo2@tipstershub.com.png" alt="Avatar"></div>
                                            <div class="user-avatar"><img src="https://api.adorable.io/avatars/285/demo3@tipstershub.com.png" alt="Avatar"></div>
                                        </div>
                                        <span class="hidden-md-down">arba</span>
                                        <div class="file-input">
                                            <label for="useravatar" id="useravatar_preview">
                                                <span class="ico-upload"></span>
                                            </label>
                                            <input type="file" name="useravatar" id="useravatar" onchange="previewAvatar()">
                                        </div>
                                        <span style="text-decoration:underline">įkelti savo</span>
                                    </div>
                                </div>
                            </div>

                            <div class="profilio-nuotrauka">
                                <h3>KAIP NORITE GAUTI PRANEŠIMUS:</h3>

                                <div>
                                    <div class="radio-group">
                                        <input type="radio" id="pranesimai_1" name="pranesimai" />
                                        <label for="pranesimai_1"><span></span>PRANEŠIMAI EL. PAŠTU</label>
                                    </div>
                                </div>
                                <div>
                                    <div class="radio-group">
                                        <input type="radio" id="pranesimai_2" name="pranesimai3" />
                                        <label for="pranesimai_2"><span></span>PRANEŠIMAI SMS ŽINUTĖMIS</label>
                                    </div>
                                </div>
                            </div>

                            <button type="submit" class="btn btn_issaugoti">Įssaugoti</button>

                        </form>
                    </div>

                </div>
                <div class="col-xl-3">{{> sidebar-stats}}</div>
            </div>

        </div>
    </div>
</section>

{{> totals}}