---
title: Registracija - Tipstershub.com
bodyClass: registracija
---

<!-- SECTION 1 -->
<section class="section-1" id="section_1">
    <div class="container-fluid maxw">
        <div class="section-1-inner">

            <div class="row">
                <div class="col-lg-12">
                    <div class="section-header">
                        <h2>REGISTRACIJA</h2>
                    </div>
                </div>
            </div>

            <!-- REGISTRATION FORM -->
            <div class="row">
                <div class="col-md-12 col-lg-8">
                    <div class="form">
                        <form action="" method="post" id="registration_form">

                            <div class="group"><input type="text" name="username" placeholder="Vartotojo vardas"></div>
                            <div class="single"><input type="text" name="fullname" placeholder="Pilnas vardas"></div>
                            <div class="single-2">
                                <div><input type="text" name="country" data-countries="{{root}}data/countries.json" placeholder="Šalis"></div>
                                <input type="text" name="userphone" placeholder="Tel. numeris">
                            </div>
                            <div class="single"><input type="email" name="useremail" placeholder="El. pašto adresas"></div>
                            <div class="single-2">
                                <input type="password" name="userpass" placeholder="Slaptažodis">
                                <input type="password" name="userpass2" placeholder="Slaptažodis">
                            </div>
                            <div class="avatars">
                                <label>Profilio nuotrauka:</label>
                                <div class="avatars-inner">
                                    <div class="predefined-avatars">
                                        <div class="user-avatar"><img src="https://api.adorable.io/avatars/285/demo1@tipstershub.com.png" alt="Avatar"></div>
                                        <div class="user-avatar"><img src="https://api.adorable.io/avatars/285/demo2@tipstershub.com.png" alt="Avatar"></div>
                                        <div class="user-avatar"><img src="https://api.adorable.io/avatars/285/demo3@tipstershub.com.png" alt="Avatar"></div>
                                    </div>
                                    <span class="hidden-md-down">arba</span>
                                    <div class="file-input">
                                        <label for="useravatar" id="useravatar_preview">
                                            <span class="ico-upload"></span>
                                        </label>
                                        <input type="file" name="useravatar" id="useravatar" onchange="previewAvatar()">
                                    </div>
                                    <span style="text-decoration:underline">įkelti savo</span>
                                </div>
                            </div>
                            <div class="rules">
                                <div class="checkbox-group">
                                    <div class="checkbox-rounded">
                                        <input type="checkbox" value="1" id="prisiminti" name="check" />
                                        <label for="prisiminti"></label>
                                    </div>
                                    <div class="checkbox-label">Sutinku su <a href="" target="_blank">sąlygomis ir nuostatomis</a></div>
                                </div>
                            </div>

                            <input class="btn_submit" type="submit" value="Registruotis">
                            
                        </form>
                    </div>
                </div>
            </div>
            <!-- end REGISTRATION FORM -->

        </div>
    </div>
</section>
<!-- end SECTION 1 -->

<!-- SECTION 2 -->
<section class="section-2" id="section_2">
    <div class="container-fluid maxw">
        <div class="section-2-inner">

            <div class="row">
                <div class="col-lg-12">
                    <div class="section-header">
                        <h2>KODĖL <span>VERTA</span> RINKTIS MUS</h2>
                        <h4>Bendras pelnas 2953980€</h4>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="steps">
                        <div class="step">
                            <div class="step-left"><span class="ico-aktyvumas"></span></div>
                            <div class="step-right">
                                <div class="step-heading">AKTYVUMAS</div>
                                <div class="step-bottom">
                                    Daugiau nei 1000 aktyvių
                                    tipsterių su patvirtintomis
                                    statistikomis bei statymais
                                </div>
                            </div>
                        </div>
                        <div class="step">
                            <div class="step-left"><span class="ico-gauk"></span></div>
                            <div class="step-right">
                                <div class="step-heading">GAUK</div>
                                <div class="step-bottom">
                                    Daugiau nei 1000 aktyvių
                                    tipsterių su patvirtintomis
                                    statistikomis bei statymais
                                </div>
                            </div>
                        </div>
                        <div class="step">
                            <div class="step-left"><span class="ico-laimek"></span></div>
                            <div class="step-right">
                                <div class="step-heading">LAIMĖK</div>
                                <div class="step-bottom">
                                    Naudokis mūsų įrankiais,
                                    kurie leis sekti statistiką
                                </div>
                            </div>
                        </div>
                        <div class="step">
                            <div class="step-left"><span class="ico-patogumas"></span></div>
                            <div class="step-right">
                                <div class="step-heading">PATOGUMAS</div>
                                <div class="step-bottom">
                                    Automatizuota ir unikali
                                    patarimų įtraukimo sistema.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- end SECTION 2 -->

{{> totals}}