---
title: Bet365 - Tipstershub.com
bodyClass: temos-vidinis
---

<section class="section-1" id="section_1">
    <div class="container-fluid maxw">
        <div class="section-1-inner">

            <div class="row">
                <div class="col-lg-12">

                    <div class="section-header">
                        <h2>Forumas</h2>
                        <div class="breadcrumbs">Lažybų bendrovės <i class="fa fa-angle-right" aria-hidden="true"></i> Bet365</div>
                    </div>

                    <div class="forum-header">
                        <h3>LAŽYBŲ BENDROVĖS <i class="fa fa-angle-right" aria-hidden="true"></i> Bet365 <button class="btn btn_back">Grįžti</button></h3>
                    </div>

                    <div class="posts">
                        {{#each posts}}
                            <div class="post">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="post--left">
                                            <div class="user-avatar"><img src="https://api.adorable.io/avatars/285/{{this.user}}@tipstershub.com.png" alt="{{this.user}}"></div>
                                            <div class="user-data">
                                                <div>{{this.user}} <img src="{{ root }}assets/img/{{this.country}}.png" alt="{{this.user}}"> <i class="fa fa-check-circle" aria-hidden="true"></i></div>
                                                <div><a href="#">{{this.user}}.tipstershub.com</a></div>
                                                <div>Patarimai: {{this.patarimai}}</div>
                                                <div>Grąža: {{this.graza}}%</div>
                                            </div>
                                            <i class="fa fa-caret-right" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="post--right">
                                            <div class="post-date">{{this.date}} (#{{this.id}})</div>
                                            <p>{{this.comment}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {{/each}}
                    </div>

                    <div class="navigation">
                        <div class="active"><a href="#">1</a></div>
                        <div><a href="#">2</a></div>
                        <div><a href="#">3</a></div>
                        <div><a href="#">4</a></div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>

{{> totals}}