---
layout: test
title: Test
bodyClass: test
---

<div class="patarimai">
    <div class="patarimas">
        <div class="patarimas--left">
            <div class="user-avatar">
                <img src="{{ root }}assets/img/TVS/avatar.jpg" alt="a">
            </div>
            <div class="graza">
                <i class="fa fa-check-circle" aria-hidden="true"></i>
                -11.8%(111)
            </div>
        </div>
        <div class="patarimas--right">
            <div class="patarimas--right---top">
                <div class="head">
                    <div>PATARIMĄ PASKELBĖ: SIOMAS <img src="{{root}}assets/img/flags/lt.png" alt="lt"></div>
                    <div>2017.04.25 12:43</div>
                </div>
                <div class="main">
                    <div>
                        <div>Charlotte Hornets - Brooklyn Nets</div>
                        <div>Basketball / NBA 2016/2017 / United States 2017-02-08 02:00</div>
                        <div>Patarimas: <a href="#">Under 220.5 points (whole matc @ 1.85</a></div>
                    </div>
                    <div>
                        <div class="progress">
                            <div class="progress-radial progress-45">
                                <div class="overlay"></div>
                            </div>
                            <div class="progress-label">7/10</div>
                        </div>
                    </div>
                    <div class="brand">
                        <img src="{{root}}assets/img/TVS/tonybet.png" alt="">
                    </div>
                </div>
                <div class="foot">
                    <div>
                        <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                        LIKES (9) &nbsp;&nbsp; <a href="#" data-togglecomments="event-1">KOMENTARAI (21)</a>
                    </div>
                </div>
            </div>
            <div class="patarimas--right---bottom">
                <div class="row align-items-end">
                    <div class="col-md-9">
                        <textarea name="comment" id="comment" placeholder="Komentuoti" rows="4" required=""></textarea>
                    </div>
                    <div class="col-md-3">
                        <button type="button" data-toggle="event-1" class="btn btn_submit">Komentuoti</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="patarimas--komentarai" id="event-1">
        <h4>Komentarai</h4>
        <div class="komentaras">
            <div class="komentaras--left">
                <div class="user-avatar">
                    <img src="{{ root }}assets/img/TVS/avatar.jpg" alt="a">
                </div>
            </div>
            <div class="komentaras--right">
                <p>Lorem ipsum dolor sita amet...</p>
                <div class="komentaras--bottom">
                    <div>Parašė: Tomas</div>
                    <div>2017-04-25 14:45</div>
                </div>
            </div>
        </div>
        <div class="komentaras">
            <div class="komentaras--left">
                <div class="user-avatar">
                    <img src="{{ root }}assets/img/TVS/avatar.jpg" alt="a">
                </div>
            </div>
            <div class="komentaras--right">
                <p>Lorem ipsum dolor sita amet...</p>
                <div class="komentaras--bottom">
                    <div>Parašė: Tomas</div>
                    <div>2017-04-25 14:45</div>
                </div>
            </div>
        </div>
    </div>
</div>