---
title: Užsakyti prenumeratą - Tipstershub.com
bodyClass: mano-profilis uzsakyti-prenumerata
---

<section class="section-1" id="section_1">
    <div class="container-fluid maxw">
        <div class="section-1-inner">

            <div class="sidebar-toggler short">
                <div class="toggler-badget">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-9">
                    {{> profile}}

                    <div class="section-header">
                        <h3>UŽSISAKYKITE <span>RISKFREE</span> PRENUMERATĄ</h3>
                    </div>

                    <form action="" method="post" class="uzsakyti-from">
                        <div class="prenumerata">
                            <h3>Pasirinkite Jums tinkamiausią planą</h3>
                            <div class="plans">
                                <div data-plan="1" class="plan">
                                    <div>
                                        <span>1</span>
                                        DIENA
                                    </div>
                                    <div>
                                        19.00 EUR
                                    </div>
                                </div>
                                <div data-plan="7" class="plan">
                                    <div>
                                        <span>7</span>
                                        DIENOS
                                    </div>
                                    <div>
                                        29.00 EUR
                                    </div>
                                </div>
                                <div data-plan="30" class="plan">
                                    <div>
                                        <span>30</span>
                                        DIENŲ
                                    </div>
                                    <div>
                                        69.00 EUR
                                    </div>
                                </div>
                                <div data-plan="90" class="plan">
                                    <div>
                                        <span>90</span>
                                        DIENŲ
                                    </div>
                                    <div>
                                        159.00 EUR
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="pranesimai">
                            <h3>KAIP NORĖSITE GAUTI PATARIMUS?</h3>
                            <div>
                                <div class="radio-group">
                                    <input type="radio" id="pranesimai_1" name="pranesimai" />
                                    <label for="pranesimai_1"><span></span>PRANEŠIMAI EL. PAŠTU</label>
                                </div>
                            </div>
                            <div>
                                <div class="radio-group">
                                    <input type="radio" id="pranesimai_2" name="pranesimai" />
                                    <label for="pranesimai_2"><span></span>PRANEŠIMAI SMS ŽINUTĖMIS</label>
                                </div>
                            </div>
                        </div>

                        <button type="submit" class="btn btn_uzsakyti">Užsakyti</button>
                    </form>

                </div>
                <div class="col-xl-3">{{> sidebar-stats}}</div>

        </div>
    </div>
</section>