.aktyvus-ivykiai {

  .section-1 {
    background: #151320 url("../img/bukmekeriai-section-1-bg.jpg") top no-repeat;
    &-inner {
      position: relative;
      min-height: 535px;
      padding-bottom: 16px;
      padding-top: 260px;

      @include media-breakpoint-up(md) {
        min-height: 740px;
        padding-top: 185px;
        padding-bottom: 0;
      }
    }
  }

  .section-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;

    @include media-breakpoint-down(lg) {
      margin-right: 30px;
    }

    @include media-breakpoint-only(xs) {
      margin-right: 10px;
      flex-direction: column;
      align-items: center;
    }

    h3 {
      border-bottom: none;
      margin-bottom: 0;
      text-transform: uppercase;
    }
  }

  .nav-tabs {
    @include media-breakpoint-only(xs) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-right: 10px;
    }
  }
  .nav-item {
    @include media-breakpoint-only(xs) {
      width: 100%;

      a {
        border-radius: 0;
        margin-left: 0;
      }
    }
  }

  .tab-content {
    margin-bottom: 100px;
  }

  .ivykis {
    @include media-breakpoint-down(lg) {
     margin-right: 30px;
    }

    @include media-breakpoint-only(xs) {
     margin-right: 10px;
    }

    &-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: #e8e7f2;
      color: #181a27;
      text-transform: uppercase;
      padding-left: 8px;
      padding-right: 8px;

      @include media-breakpoint-only(xs) {
        flex-direction: column;
      }

      > div {
        &:first-child {
          display: flex;
          align-items: center;
          justify-content: space-between;

          @include media-breakpoint-only(xs) {
            flex-direction: column;
          }
        }
      }

      .ico {
        font-size: 30px;
        padding-right: 7px;
      }
      .patarimas-type {
        font-size:20px;
        font-weight: 600;
        padding-right: 20px;
      }
      .patarimas-user {
        font-size: 16px;
        a {
          text-decoration: underline;
          color: inherit;
        }
        .fa {
          padding-left: 20px;
        }
      }
    }

    &-body {
      border: 1px solid;
      padding: 6px;

      .progress-radial .overlay {
        background-color: #151320;
      }

      .badge {
        border-radius: 5px;
        padding: 3px;
        padding-left: 10px;
        padding-right: 10px;
        line-height: 1em;
        color: #000;
        margin-right: 2px;
        text-transform: uppercase;

        @include media-breakpoint-only(xs) {
          display: inline-flex;
          margin-bottom: 6px;
        }

        &-blue {
          background-color: #00aeef; 
        }
        &-red {
          background-color: $red; 
        }
        &-green {
          background-color: $green; 
        } 
      }

      table {
        width: 100%;
        color: #fff;

        thead {
          th {
            text-transform: uppercase;
            color: #fff;
            padding-top: 5px;
            padding-bottom: 5px;

            &:nth-child(2) {
              width: 183px;
            }
          }
          tr {
            border-bottom: 1px solid #393843;
          }
        }

        tbody {
          td {
            padding-top: 7px;
          }
        }
      }
    }

    .table-responsive table td:last-child {
      flex-direction: column;
      align-items: flex-end;

      img {
        margin-top: 10px;
      }
    }
  }

}