.blokuojami-puslapiai {

  font-size: 18px;

  .section-1 {

    background: #151320 url("../img/bankovaldymas-section-1-bg.jpg") top no-repeat;
    background-size: cover;

    .section-header {
      padding-bottom: 16px;
      margin-bottom: 32px;

      h4 {
        text-align: center;
        font-size: 24px;

        @include media-breakpoint-up(md) {
          text-align: left;
          font-size: 32px;
        }
      }
    }

    &-inner {
      position: relative;
      min-height: 535px;
      padding-bottom: 16px;
      padding-top: 150px;

      @include media-breakpoint-up(md) {
        min-height: 969px;
        padding-top: 225px;
        padding-bottom: 0;
      }
    }

    h2 {
      margin-bottom: 0;
      text-align: center;

      @include media-breakpoint-up(md) {
        text-align: left;
      }
      
      span {
        color: $red;
      }
    }
    
    p {
      color: #fff;
    }

  }

  .section-2 {
    background: #151320;

    .section-header {
      margin-bottom: 32px;
    }
  }

  .atgal {
    border-bottom: 1px solid $borders;
    margin-bottom: 32px;
    text-align: center;

    @include media-breakpoint-up(md) {
      text-align: right;
    }
  }

  .btn-atgal {
    margin-top: 16px;
    border: 0;
    border-radius: 5px;
    background-color: $red;
    color: #fff;
    width: 223px;
    line-height: 2.5em;
    margin-bottom: 23px;
    text-transform: uppercase;
  }

}