.bonusas {

  font-size: 18px;

  .section-1 {

    background: #151320 url("../img/bonusas-section-1-bg.jpg") center top no-repeat;


    .section-header {
      padding-bottom: 16px;
      margin-bottom: 32px;

      h2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 56px;

        @include media-breakpoint-up(md) {
          flex-direction: row;
        }

        i {
          font-size: 20px;
          align-self: flex-end;
          margin-left: 3px;
          color: $yellow;
          margin-bottom: 6px;
        }

        img {
          margin-left: 16px;
          margin-right: 15px;
        }
      }

      h4 {
        text-align: center;
        font-size: 21px;
        color: #fff;
        text-transform: none;

        span {
          text-transform: none;
        }

        @include media-breakpoint-up(md) {
          text-align: left;
          font-size: 32px;
        }
      }
    }

    &-inner {
      position: relative;
      min-height: 535px;
      padding-bottom: 16px;
      padding-top: 150px;

      @include media-breakpoint-up(md) {
        min-height: 969px;
        padding-top: 225px;
        padding-bottom: 0;
      }
    }

    h2 {
      margin-bottom: 0;
      text-align: center;

      @include media-breakpoint-up(md) {
        text-align: left;
      }

      span {
        color: $red;
      }
    }

    p {
      color: #fff;
    }

  }

  .section-2 {
    background-color: #151320;

    .section-header {
      h2 {
        text-align: right;
        margin-bottom: 16px;
        margin-top: 0;

        @include media-breakpoint-up(md) {
          margin-top: 64px;
        }

        span {
          color: $red;
        }
      }
    }

  }

  .bonus {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #5f7a90;
    width: 100%s;
    height: 312px;
    color: #fff;
    font-size: 22px;
    padding: 16px;
    padding-top: 21px;
    text-align: center;
    background-color: rgba(14, 13, 21, 0.5);

    @include media-breakpoint-up(md) {
      width: 346px;
    }

    h2 {
      color: $red;
      font-size: 85px;
      line-height: 1em;
    }

    button {
      text-transform: uppercase;
      color: #0e0e17;
      background-color: $green;
      border: none;
      width: 100%;
      border-radius: 6px;
      line-height: 3em;
      margin-top: 20px;
      transition: background-color 0.2s;
      
      &:hover {
        cursor: pointer;
        background-color: darken($green,10);
      }
    }
  }

  &--right {

    ul {
      list-style-type: none;
      padding-left: 0;
      color: #fff;
      border-top: 1px solid $borders;
      border-bottom: 1px solid $borders;
      padding-top: 20px;
      padding-bottom: 10px;

      li {
        margin-bottom: 10px;
        display: flex;

        &:before {
          content: '\f00c';
          font-family: FontAwesome;
          color: $green;
          margin-right: 10px;
        }
      }
    }
    
    .btn-taisykles {
      background-color: $red;
      color: #fff;
      border: none;
      width: 100%;
      line-height: 2.5em;
      border-radius: 5px;
      margin-bottom: 32px;

      @include media-breakpoint-up(md) {
        width: 200px;
      }

      .fa-angle-down {
        transition: transform 0.2s;
      }

      &.open {
        .fa-angle-down {
          transform: rotate(180deg);
        }
      }
    }
    
    .taisykles {
      display: none;
      margin-bottom: 32px;
    }
    
  }

  .bukmekeris {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #607b92;
    padding: 10px;
    height: 160px;

    &--top {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      height: 70px;

      > div {
        &:first-child {
          text-align: center;
          font-size: 72px;
          font-weight: 600;
          color: #fff;
          line-height: 0.8em;
        }
        &:last-child {
          img {
            max-width: 195px;
          }
        }
      }
    }
    &--bottom {
      display: flex;
      justify-content: space-between;

      &---right {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
      }
    }

    .fa-star {
      color: $yellow;
    }
    .btn_nobonus {
      background-color: #cc4146;
      color: #fff;
      text-transform: uppercase;
      border: none;
      line-height: 2.4666em;
      font-size: 16px;
      border-radius: 10px;
      width: 136px;
    }
    .btn_bonus {
      background-color: $green;
      color: #000;
      text-transform: uppercase;
      border: none;
      line-height: 2.4666em;
      font-size: 16px;
      border-radius: 10px;
      width: 136px;
    }

  }

  .slider {
    margin-bottom: 39px;
    border-top: 1px solid $borders;
    padding-top: 32px;
    position: relative;
  }
  .swiper-container {
    width: 93%;
  }
  .swiper-button-next, .swiper-button-prev {
    top: 56%;
    display: none;
    
    @include media-breakpoint-up(md) {
      display: block;
    }
  }

}