.bukmekeriai {

  .section-header {
    text-align: right;

    h2 {
      text-align: right;
      width: 340px;
      padding-bottom: 8px;
      border-bottom: 1px solid $borders;
      float: right;
    }

    p {
      font-size: 15px;
      width: 715px;
      float: right;
      margin-top: 16px;
      color: #fff;
    }
  }

  .section-1 {

    background: #151320 url("../img/bukmekeriai-section-1-bg.jpg") top no-repeat;
    background-size: cover;

    &-inner {
      position: relative;
      min-height: 535px;
      padding-bottom: 16px;
      padding-top: 150px;

      @include media-breakpoint-up(md) {
        min-height: 700px;
        padding-top: 185px;
        padding-bottom: 0;
      }
    }

    &-objs {
      position: absolute;
      top: 7%;
      left: -54px;
      z-index: 1;
      width: 100%;

      @include media-breakpoint-down(sm) {
        display: none;
      }

      @include media-breakpoint-up(lg) {
        left: 165px;
      }

      @include media-breakpoint-up(xl) {
        left: 250px;
      }

      &-inner {
        position: relative;
      }

      .obj-1 {
        img {

        }
      }

    }

  }

  .section-2 {
    background-color: #151320;

    &-header {
      h2 {
        text-align: right;
        padding-bottom: 8px;
        margin-bottom: 16px;
        border-bottom: 1px solid $borders;
        color: #fff;
        font-size: 42px;
        line-height: 1.09375em;
        font-weight: 700;
        text-transform: uppercase;
        
        span {
          color: $red;
        }
      }
    }
  }

  &-list {
    margin-bottom: 100px;
  }

  .bukmekeris {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 21px;
    border: 1px solid #607b92;
    padding: 10px;
    height: 160px;

    &--top {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      height: 70px;

      > div {
        &:first-child {
          text-align: center;
          font-size: 72px;
          font-weight: 600;
          color: #fff;
          line-height: 0.8em;
        }
        &:last-child {
          img {
            max-width: 195px;
          }
        }
      }
    }
    &--bottom {
      display: flex;
      justify-content: space-between;

      &---right {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
      }
    }

    .fa-star {
      color: $yellow;
    }
    .btn_nobonus {
      background-color: #cc4146;
      color: #fff;
      text-transform: uppercase;
      border: none;
      line-height: 2.4666em;
      font-size: 16px;
      border-radius: 10px;
      width: 136px;
    }
    .btn_bonus {
      background-color: $green;
      color: #000;
      text-transform: uppercase;
      border: none;
      line-height: 2.4666em;
      font-size: 16px;
      border-radius: 10px;
      width: 136px;
    }

  }

}