.ekspertai-komentarai {

  .section-header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 1px solid $borders;
    padding-bottom: 8px;
    margin-bottom: 16px;

    a {
      color: $red;
      text-transform: uppercase;
      text-decoration: underline;
    }
  }

  .section-1 {
    background: #151320;

    &-inner {
      position: relative;
      min-height: 535px;
      padding-bottom: 16px;
      padding-top: 150px;

      @include media-breakpoint-up(md) {
        min-height: 740px;
        padding-top: 185px;
        padding-bottom: 0;
      }
    }
  }

  .add-comment {

    textarea {
      width: 100%;
      height: 94px;
      padding-left: 17px;
      padding-top: 10px;
      border: none;
      border-radius: 10px;
      font-family: 'PT Sans', sans-serif;
    }

    .btn_submit {
      border: none;
      border-radius: 10px;
      width: 100%;
    }

  }

}