.feed {

  .section-1 {
    background: #151320 url("../img/feed-section-1-bg.jpg") top no-repeat;

    &-inner {
      position: relative;
      min-height: 535px;
      padding-bottom: 16px;
      padding-top: 150px;

      @include media-breakpoint-up(md) {
        min-height: 740px;
        padding-top: 185px;
        padding-bottom: 0;
      }
    }
  }

  .btn_submit {
    width: 100%;
    max-width: 292px;
    margin-right: 16px;
  }

  .sakos {
    display: flex;
    flex-wrap: wrap;
    margin-top: 32px;
    margin-bottom: 32px;
  }

  .saka {
    width: 115px;
    height: 115px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparentize(#111321,0.5);
    border: 1px solid $borders-blue;
    border-radius: 10px;
    color: #fff;
    transition: background-color 0.2s;
    margin-right: 20px;
    margin-bottom: 20px;

    &.active,
    &:hover {
      background-color: $red;
      cursor: pointer;
    }

    div {
      font-size: 15px;
    }

    span {
      font-size: 37px;
    }
  }

}