.forumas {

  .section-1 {

    background: #151320 url("../img/forumas-section-1-bg.jpg") top no-repeat;
    background-size: cover;

    &-inner {
      position: relative;
      min-height: 535px;
      padding-bottom: 16px;

      @include media-breakpoint-up(md) {
        min-height: 740px;
        padding-top: 185px;
        padding-bottom: 0;
      }
    }

  }

  .forums {
    margin-top: 32px;
  }

  .forum {
    border-top: 1px solid $borders;
    border-bottom: 1px solid $borders;
    padding-top: 12px;
    margin-bottom: 16px;
    transition: background-color 0.2s;

    &:hover {
      background-color: #1f1c27;
    }
    
    a {
      color: #c5c3cb;
    }

    h3 {
      font-size: 24px;
      text-transform: uppercase;
      font-weight: 400;
      color: #c5c3cb;
      margin-bottom: 0;
      display: flex;
      align-items: center;

      > span {
        flex-basis: 35px;
      }
    }

    &--left {
      a {
        &:hover {
          text-decoration: none;
        }
      }
    }

    &--right {
      display: flex;
      justify-content: space-between;
      margin-bottom: 16px;

      @include media-breakpoint-up(md) {
        flex-direction: column;
      }

      a {
        text-decoration: underline;
        font-weight: 600;
      }
      
      > div {
        &:first-child {
          color: $green;
        }
      }
    }
  }

  .finfo {
    display: flex;
    margin-bottom: -1px;
    margin-top: 29px;

    > div {
      flex-basis: 148px;
      text-align: center;
      background-color: $red;
      color: #fff;
      padding: 6px;
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;

      &:first-child {
        margin-right: 16px;
      }
    }
  }

}