.forumas-vidinis {

  .section-1 {

    background: #151320 url("../img/forumas-section-1-bg.jpg") top no-repeat;
    background-size: cover;

    &-inner {
      position: relative;
      min-height: 535px;
      padding-bottom: 16px;
      padding-top: 150px;

      @include media-breakpoint-up(md) {
        min-height: 740px;
        padding-top: 185px;
        padding-bottom: 0;
      }
    }

  }
  
  .forum {
    
    &-header {
      h3 {
        text-transform: uppercase;
        color: $text-inner;
        font-weight: 400;
        margin-top: 16px;
        margin-bottom: 32px;
        padding-top: 8px;
        padding-bottom: 8px;
        border-top: 1px solid $borders;
        border-bottom: 1px solid $borders;
        font-size: 24px;
      }
    }
    
  }

  .topic {
    border-top: 1px solid $borders;
    border-bottom: 1px solid $borders;
    margin-bottom: 16px;
    transition: background-color 0.2s;

    &:hover {
      background-color: #1f1c27;
    }

    a {
      color: #c5c3cb;

      &:hover {
        text-decoration: none;
      }
    }

    h3 {
      font-size: 24px;
      font-weight: 400;
      color: #c5c3cb;
      margin-bottom: 0;
      line-height: 1em;
    }

    &--left {
      h5 {
        margin-bottom: 0;
        font-weight: 400;
      }
      > a {
        display: flex;
        align-items: center;
        min-height: 88px;
        position: relative;

        > div {
          &:first-child {
            flex-basis: 60px;

            span {
              font-size: 36px;
            }
          }
        }
      }
    }

    &--right {
      display: flex;
      justify-content: space-between;
      padding-top: 10px;
      padding-bottom: 12px;

      @include media-breakpoint-up(md) {
        flex-direction: column;
      }

      a {
        text-decoration: underline;
        font-weight: 600;
      }

      > div {
        &:first-child {
          color: $green;
        }
      }
    }
  }

  .tinfo {
    position: absolute;
    right: 132px;
    bottom: -6px;

    > div {
      background-color: $red;
      color: #fff;
      padding: 6px;
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
      min-width: 150px;
      text-align: center;
    }
  }

}