.ideti-patvirtinta {

  .section-header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-right: 30px;
    margin-top: 30px;
    margin-bottom: 30px;

    @include media-breakpoint-only(xs) {
      margin-right: 10px;
      flex-direction: column;
      align-items: center;

      a {
        width: 100%;
      }
      button {
        width: 100%;
        border-radius: 0;
      }
    }

    h3 {
      border-bottom: none;
      margin-bottom: 0;
      text-transform: uppercase;
    }
  }

  .section-1 {
    background: #151320 url("../img/bukmekeriai-section-1-bg.jpg") top no-repeat;
    &-inner {
      position: relative;
      min-height: 535px;
      padding-bottom: 16px;
      padding-top: 260px;

      @include media-breakpoint-up(md) {
        min-height: 740px;
        padding-top: 185px;
        padding-bottom: 100px;
      }
    }
  }

  .form-control:focus {
    background-color: #161623;
  }

  h4 {
    text-transform: uppercase;
    color: #fff;
    font-size: 20px;
    border-bottom: 1px solid #3b3944;
    margin-right: 30px;
    margin-bottom: 30px;
    padding-bottom: 16px;
    font-weight: 400;
  }

  .statymai {
    display: flex;
    margin-right: 30px;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
    }

    > div {
      width: 49%;

      @include media-breakpoint-down(sm) {
        width: 100%;
      }
    }
  }

  label {
    text-transform: uppercase;
    align-self: center;
    font-size: 15px;
    color: #fff;
  }

  .bukmekeriai-header {
    text-transform: uppercase;
    color: #fff;
    font-size: 20px;
    border-bottom: 1px solid #3b3944;
    margin-right: 30px;
    margin-bottom: 30px;
    padding-bottom: 8px;
    font-weight: 400;
    display: flex;

    @include media-breakpoint-only(xs) {
      margin-right: 0;
    }

    h4 {
      border-bottom: none;
      margin-bottom: 0;
      margin-right: 0;
      padding-bottom: 0;

      &:nth-child(1) {
        width: 454px;
        @include media-breakpoint-down(sm) {
          width: 310px;
        }
      }
      &:nth-child(2) {
        width: 230px;
        @include media-breakpoint-down(sm) {
          width: 130px;
        }
      }
      &:nth-child(3) {

      }
    }
  }

  .bukmekeriai {
    margin-bottom: 64px;
  }

  .bukmekeriai-row {
    display: flex;
    align-items: center;
    height: 45px;

    > div {
      &:nth-child(1) {
        width: 454px;
        text-transform: uppercase;
        font-size: 18px;

        @include media-breakpoint-down(sm) {
          width: 310px;
        }

        a {
          color: #fff;
          text-decoration: underline;
        }

        img {
          width: 100px;
          margin-right: 32px;

          @include media-breakpoint-only(xs) {
            display: none;
          }
        }
      }
      &:nth-child(2) {
        width: 230px;

        @include media-breakpoint-down(sm) {
          width: 130px;
        }
      }

      label {
        position: relative;
        text-align: center;
        width: 52px;
        height: 28px;
        margin-bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $red;
        text-decoration: underline;
        border: 1px solid #eaeaeb;
        border-radius: 6px;
        transition: background-color 0.2s;

        &.active,
        &:hover {
          cursor: pointer;
          background-color: #eaeaeb;
        }

        [type="checkbox"] {
          position: absolute;
          left: 0;
          top: 0;
          visibility: hidden;
        }
      }
    }
  }

  .secondary {
    display: none;
  }

  .tab-content {
    @include media-breakpoint-down(sm) {
      padding-top: 10px;
      margin-left: 8px;
      margin-right: 30px;
    }
  }

  .nav-tabs {
    margin-top: 32px;
    margin-right: 30px;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
      border-bottom: none;
    }

    .list-select {
      align-self: flex-end;
      flex: 1;

      @include media-breakpoint-down(sm) {
        width: 100%;
      }
    }

    .nav-item {
      &:first-child {
        a {
          background-color: #fff;
          color: #333;

          @include media-breakpoint-down(sm) {
            margin-left: 8px;
          }
        }
      }
    }

    .select2-container--default .select2-selection--single {
      border: none;
      padding-left: 11px;

      &:focus {
        outline: none;
      }
    }
    .select2-container--default .select2-selection--single .select2-selection__placeholder {
      color: #999;
    }

    .nav-link {
      width: auto;
      padding-left: 32px;
      padding-right: 32px;

      @include media-breakpoint-down(lg) {
        padding-left: 20px;
        padding-right: 20px;
      }
    }
  }

  .selects {
    display: flex;
    margin-top: 16px;
    margin-bottom: 32px;

    @include media-breakpoint-only(xs) {
      flex-direction: column;
    }

    > div {
      &:first-child {
        width: 293px;
        margin-right: 16px;

        @include media-breakpoint-only(xs) {
          width: 100%;
          margin-bottom: 8px;
        }
      }
      &:last-child {
        width: 163px;

        @include media-breakpoint-only(xs) {
          width: 100%;
        }
      }
    }
  }

  .select2-container--default .select2-selection--single {
    border-radius: 8px;
  }
  .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #adadad;
    text-transform: uppercase;
  }

  ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #adadad;
  }
  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #adadad;
    opacity:  1;
  }
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #adadad;
    opacity:  1;
  }
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    #adadad;
  }
  ::-ms-input-placeholder { /* Microsoft Edge */
    color:    #adadad;
  }

}