.ideti-live {

  .section-header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-right: 30px;
    margin-top: 30px;
    margin-bottom: 30px;

    @include media-breakpoint-only(xs) {
      margin-right: 10px;
      flex-direction: column;
      align-items: center;

      a {
        width: 100%;
      }
      button {
        width: 100%;
        border-radius: 0;
      }
    }

    h3 {
      border-bottom: none;
      margin-bottom: 0;
      text-transform: uppercase;
    }
  }
  .section-1 {
    background: #151320 url("../img/bukmekeriai-section-1-bg.jpg") top no-repeat;
    &-inner {
      position: relative;
      min-height: 535px;
      padding-bottom: 16px;
      padding-top: 260px;

      @include media-breakpoint-up(md) {
        min-height: 740px;
        padding-top: 185px;
        padding-bottom: 100px;
      }
    }
  }

  h4 {
    text-transform: uppercase;
    color: #fff;
    font-size: 20px;
    border-bottom: 1px solid #3b3944;
    margin-right: 30px;
    margin-bottom: 30px;
    padding-bottom: 16px;
    font-weight: 400;
  }

  .row-sportas {
    margin-right: 10px;
    border-bottom: 1px solid #494953;
    border-top: 1px solid #494953;
    padding-top: 16px;
    padding-bottom: 16px;

    @include media-breakpoint-up(sm) {
      margin-right: 30px;
    }

    &--right {

    }
    &--left {
      text-transform: uppercase;
      color: #fff;
    }
  }

  .row-selected-game {
    color: #fff;
    background-color: #3e3d47;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-right: 30px;
    padding-left: 10px;
    padding-right: 10px;
    height: 52px;

    @include media-breakpoint-only(xs) {
      flex-direction: column;
      height: auto;
      margin-right: 10px;
      padding: 10px;
    }

    > div {
      &:first-child {
        display: flex;
        align-items: center;

        @include media-breakpoint-only(xs) {
          flex-direction: column;
          text-align: center;
        }

        h2 {
          text-transform: uppercase;
          font-size: 30px;
          margin-bottom: 0;
          margin-right: 16px;

          @include media-breakpoint-only(xs) {
            margin-right: 0;
          }

          span {
            font-size: 24px;
            margin-right: 8px;
          }
        }
      }
      &:last-child {
        text-align: right;
      }
    }
  }

  .live-games {
    @include media-breakpoint-up(sm) {
      margin-right: 30px;
    }
  }

  .live-game {
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 16px;
    color: #a3a3a9;
    background-color: #151522;
    border-radius: 8px;
    border: 1px solid #a3a3a9;
    margin-bottom: 8px;
    transition: background-color 0.2s, color 0.2s;

    @include media-breakpoint-up(lg) {
      margin-right: 30px;
    }

    &.active,
    &:hover {
      cursor: pointer;
      background-color: #737179;
      color: #ddd;
    }
  }

  .taisykles {
    @include media-breakpoint-only(xs) {
      margin-right: 10px;
    }
  }

  .info {
    @include media-breakpoint-only(xs) {
      margin-right: 10px;
    }
  }

  .match-winner {
    color: #a3a3a9;
    border-radius: 8px;
    border: 1px solid #a3a3a9;
    margin-bottom: 32px;

    @include media-breakpoint-up(sm) {
      margin-right: 30px;
    }
    @include media-breakpoint-up(md) {
      margin-left: 30px;
    }

    &-koef {
      padding: 24px;

      > div {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #494953;
        padding-top: 10px;
        padding-bottom: 10px;

        &:last-child {
          border-bottom: none;
        }
      }
    }

    &-heading {
      display: flex;
      background-color: #ffffff;
      color: #151320;
      height: 54px;
      border-radius: 8px;
      text-transform: uppercase;
      align-items: center;
      padding-left: 16px;
      font-weight: 600;
    }

    label {
      position: relative;
      text-align: center;
      width: 52px;
      height: 28px;
      margin-bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $red;
      text-decoration: underline;
      border: 1px solid #eaeaeb;
      border-radius: 6px;
      transition: background-color 0.2s;

      &.active,
      &:hover {
        cursor: pointer;
        background-color: #eaeaeb;
      }

      [type="checkbox"] {
        position: absolute;
        left: 0;
        top: 0;
        visibility: hidden;
      }
    }
  }

  .select2-container--default .select2-selection--single {
    border-radius: 8px;
  }

}