.home {

  .section-header {

    h2 {
      margin: 0;
      text-transform: uppercase;

      @include media-breakpoint-up(md) {
        font-size: 64px;
      }

      @include media-breakpoint-up(lg) {
        text-align: right;
      }
    }

    h4 {
      font-size: 34px;
      margin: 0;
      color: #c5c3cb;

      @include media-breakpoint-up(md) {
        font-size: 30px;
      }

      @include media-breakpoint-up(lg) {
        text-align: right;
      }

      span {
        text-transform: uppercase;
        color: $red;
      }
    }

    span {
      font-size: inherit;
      color: $red;
    }
  }

  .section-1 {

    background: #261b2b url("../img/section-1-bg.jpg") top no-repeat;

    &-inner {
      padding-top: 257px;
      position: relative;
      min-height: 825px;
      padding-bottom: 16px;

      @include media-breakpoint-up(md) {
        min-height: 1080px;
        padding-top: 192px;
        padding-bottom: 0;
      }
    }

    &-objs {
      position: absolute;
      top: 25%;
      left: -223px;
      z-index: 1;
      width: 100%;

      @include media-breakpoint-down(sm) {
        display: none;
      }

      @include media-breakpoint-up(xl) {
        left: -10px;
      }

      &-inner {
        position: relative;
      }

      .obj-1 {
        img {
          width: 750px;
        }
      }

      .obj-2 {
        position: absolute;
        top: 139px;
        right: 215px;

        @include media-breakpoint-up(lg) {
          top: 134px;
          right: 390px;
        }

        img {
          width: 255px;

          @include media-breakpoint-up(lg) {
            img {
              width: 280px;
            }
          }
        }
      }
    }

    &-buttons {
      position: relative;
      height: 170px;
      text-align: center;
      margin-top: 30px;
      z-index: 2;

      @include media-breakpoint-up(lg) {
        margin-top: 0;
      }

      a {
        position: relative;
        bottom: 0;

        @include media-breakpoint-up(lg) {
          position: absolute;
          right: 0;
        }

        &:first-child {
          @include media-breakpoint-up(lg) {
            bottom: 65px;
          }
        }
        &:last-child {
          @include media-breakpoint-up(lg) {
            bottom: 0;
          }
        }
      }

      button {
        height: 47px;
        width: 295px;
        border-radius: 23px;
        background-color: #0e111e;
        color: #fff;
        text-align: center;
        border: 1px solid #7a7b84;
        text-transform: uppercase;
        margin-top: 16px;
        transition: background-color 0.2s;

        &:hover {
          background-color: $green;
          color: #0e111e;
        }
      }
    }

    &-bottom {

      width: 100%;
      min-height: 520px;

      @include media-breakpoint-down(sm) {
        flex-wrap: wrap-reverse;
      }

      @include media-breakpoint-down(sm) {
        min-height: 257px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
      }

      @include media-breakpoint-up(md) {
        position: absolute;
        bottom: 0;
        left: 0;
      }

      .step {
        width: 150px;
        height: 150px;
        text-align: center;
        background-color: #0e111e;
        color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        transition: box-shadow 0.2s;
        z-index: 2;

        @include media-breakpoint-down(md) {
          height: 200px;
        }

        @include media-breakpoint-up(md) {
          width: 100%;
          height: 100%;
          max-width: 383px;
        }

        &-arrow {
          position: absolute;
          top: 125px;
          left: -11px;
          width: 20px;
          height: 20px;
          background-color: #df4244;
          color: #fff;
          border-radius: 10px;
          border: 1px solid #fff;
          text-align: center;
          font-size: 8px;
          display: flex;
          align-items: center;
          justify-content: center;

          &.last {
            top: -10px;
            left: 183px;
            transform: rotate(-90deg);
          }

          @include media-breakpoint-down(md) {
            display: none;
          }
        }

        &:hover {
          box-shadow: inset 0 0 6px 1px #fff;
          cursor: pointer;
        }

        &-heading {
          font-size: 28px;
        }

        &-bottom {
          color: #6c6a71;
        }
      }

      &-row-1 {
        display: flex;
        justify-content: flex-end;
        width: 100%;

        @include media-breakpoint-down(xs) {
          width: 100%;
        }

        .step {

          @include media-breakpoint-down(md) {
            width: 100%;
            margin-top: 3px;
          }

          @include media-breakpoint-up(md) {
            flex-basis: 33%;
            height: 260px;
            margin-top: 3px;
          }

        }
      }

      &-row-2 {
        flex-wrap: wrap;
        display: flex;
        width: 100%;
        justify-content: space-between;

        @include media-breakpoint-down(xs) {
          width: 100%;
        }

        @include media-breakpoint-up(md) {
          justify-content: flex-end;
          flex-wrap: nowrap;
        }

        .step {
          background-color: #272030;
          flex-basis: 33%;

          @include media-breakpoint-down(xs) {
            width: 100%;
            flex-basis: 100%;
          }

          @include media-breakpoint-up(md) {
            height: 262px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;

            &-right {
              text-align: left;
              max-width: 210px;
            }
          }

          @include media-breakpoint-up(lg) {
            justify-content: center;

            &-right {
              margin-left: 25px;
            }
          }
        }
      }

      span {
        font-size: 52px;
        color: $red;
      }

    }
  }
  .section-2 {

    background: #261b2b url("../img/section-2-bg.jpg") top no-repeat;

    &-winners {
      position: relative;
      z-index: 5;
      margin-top: 45px;
      border-top: 0;
      padding-top: 10px;

      @include media-breakpoint-up(md) {
        border-top: 1px solid rgba(255, 255, 255, 0.24);
        padding-top: 0;
      }

      &-title {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        left: 0;
        right: 0;
        padding-left: 0;
        top: -12px;
        color: #fff;
        background-color: transparent;
        font-size: 18px;

        @include media-breakpoint-up(md) {
          background-color: rgb(20, 22, 34);
          padding-left: 16px;
          left: auto;
          font-size: 16px;
        }
      }

      &-list {
        display: flex;
        flex-direction: row;
        overflow: overlay;
        align-items: center;
        justify-content: space-between;
        margin-top: 34px;
      }
    }

    &-winner {
      color: #fff;
      text-align: center;

      @include media-breakpoint-down(sm) {
        margin-right: 12px;
      }

      > div {
        &:first-child {
          margin-bottom: 6px;
          img {
            max-width: 110px;
            border-radius: 50%;
          }
        }
        &:last-child {
          color: $red;
          border-top: 1px solid rgba(255, 255, 255, 0.24);
          padding-top: 4px;
          margin-top: 6px;
        }
      }
    }

    .section-header {
      text-align: center;
      position: inherit;
      margin-bottom: 32px;
      margin-top: 24px;

      @include media-breakpoint-up(md) {
        text-align: left;
        margin-top: auto;
        margin-bottom: auto;
      }

      @include media-breakpoint-up(lg) {
        position: absolute;
      }

      h2 {
        &:nth-child(2) {
          margin-left: auto;

          @include media-breakpoint-up(md) {
            margin-left: 211px;
          }
        }
      }

      h4 {
        margin-left: auto;

        @include media-breakpoint-up(md) {
          margin-left: 211px;
        }
      }
    }

    .ekspertai {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      &-daugiau {
        text-align: right;
        margin-top: 26px;
        text-decoration: underline;
      }
    }

    .ekspertas {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      border: none;
      border-bottom: 1px solid rgba(255, 255, 255, 0.24);
      padding-bottom: 12px;
      padding-top: 12px;

      @include media-breakpoint-up(md) {
        flex-direction: row;
      }

      &-avatar {
        flex-basis: 100px;

        img {
          max-width: 76px;
          border-radius: 50%;
        }
      }

      &-name {
        flex-basis: 150px;
        margin-top: 8px;
        text-align: center;

        @include media-breakpoint-up(md) {
          flex-basis: 190px;

        }

        > div {
          &:first-child {
            color: $red;
            font-size: 36px;
            line-height: 1em;
          }
          &:last-child {
            text-transform: uppercase;
            font-size: 14px;
          }
        }
      }

      &-data {
        width: 100%;
        flex-basis: 100%;

        @include media-breakpoint-up(md) {
          width: auto;
        }

        &-top {
          display: flex;
          flex-direction: row;
          font-size: 13px;
          border-bottom: 1px solid rgba(255, 255, 255, 0.24);
          padding-bottom: 6px;

          > div {
            flex-grow: 1;

            &:last-child {
              text-align: right;
            }
          }
        }
        &-bottom {
          display: flex;
          flex-direction: row;
          color: $red;
          padding-top: 4px;

          > div {
            flex-grow: 1;

            &:last-child {
              text-align: right;
            }
          }
        }
      }

      &.menesio {
        .ekspertas-data-bottom > div {
          &:nth-child(2) {
            padding-left: 6px;
          }
        }

      }
    }

    .landing-info {
      padding-bottom: 24px;
      margin-bottom: 24px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.53);

      &:last-child {
        border-bottom: none;
      }
    }

    &-infotabs {
      display: flex;
      color: #fff;
      flex-direction: row;
      height: auto;

      @include media-breakpoint-down(xs) {
        flex-direction: column;
      }

      @include media-breakpoint-up(md) {
        height: 520px;
        flex-direction: row;
      }

      a {
        color: #fff;
      }

      .tab {

        &-content {
          height: 0;
          flex-direction: column;
          transition: height 0.2s;
          max-width: 500px;
          overflow: hidden;

          &.opened {
            display: flex;
            height: 720px;

            @include media-breakpoint-up(md) {
              height: 450px;
            }
          }

          span {
            color: $red;
          }
        }

        &-informacija {
          &.opened {
            height: 480px;
          }
        }

      }

      .tabs {
        display: flex;
        flex-direction: column;
        align-self: auto;
        margin-bottom: 32px;
        align-items: center;

        @include media-breakpoint-up(md) {
          align-self: flex-end;
          margin-bottom: 0;
        }

        &-content {
          border: 1px solid rgba(255, 255, 255, 0.53);
          background-color: rgba(14, 17, 30, 0.53);
          padding: 16px;
          z-index: 10;
          position: relative;

          @include media-breakpoint-up(md) {
            padding: 35px;
          }

          .circle {
            position: absolute;
            top: -11px;
            width: 22px;
            height: 22px;
            border-radius: 11px;
            background-color: #181a27;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
            border: 1px solid rgba(255, 255, 255, 0.53);
          }

          h4 {
            margin-bottom: 16px;
            text-align: center;

            @include media-breakpoint-up(md) {
              margin-top: 0;
              margin-bottom: 35px;
            }
          }
        }

        a {
          display: flex;
          align-items: center;
          justify-content: center;
          z-index: 5;
          text-align: center;
          width: 292px;
          height: 46px;
          border-radius: 23px;
          border: 1px solid #acacac;
          background-color: #181a27;
          margin-bottom: 16px;
          margin-right: 25px;
          transition: background-color 0.2s;

          &:focus,
          &:active,
          &:hover {
            text-decoration: none;
            background-color: $red;
          }

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }

    &-inner {
      padding-top: 16px;
      position: relative;
      min-height: 825px;
      padding-bottom: 16px;

      @include media-breakpoint-up(md) {
        min-height: 1080px;
        padding-top: 120px;
        padding-bottom: 0;
      }
    }

    &-objs {
      position: absolute;
      top: 28%;
      left: -54px;
      z-index: 1;
      width: 100%;

      @include media-breakpoint-down(sm) {
        display: none;
      }

      @include media-breakpoint-up(lg) {
        left: -10px;
      }

      &-inner {
        position: relative;
      }

      .obj-1 {
        img {
          width: 750px;
        }
      }

    }

    &-buttons {
      position: relative;
      height: 170px;
      text-align: center;
      margin-top: 30px;
      z-index: 2;

      @include media-breakpoint-up(lg) {
        margin-top: 0;
      }

      a {
        position: relative;
        bottom: 0;

        @include media-breakpoint-up(lg) {
          position: absolute;
          right: 0;
        }

        &:first-child {
          @include media-breakpoint-up(lg) {
            bottom: 65px;
          }
        }
        &:last-child {
          @include media-breakpoint-up(lg) {
            bottom: 0;
          }
        }
      }

      button {
        height: 47px;
        width: 295px;
        border-radius: 23px;
        background-color: #0e111e;
        color: #fff;
        text-align: center;
        border: 1px solid #7a7b84;
        text-transform: uppercase;
        margin-top: 16px;
        transition: background-color 0.2s;

        &:hover {
          background-color: $green;
          color: #0e111e;
        }
      }
    }

    &-bottom {

      width: 100%;
      min-height: 520px;

      @include media-breakpoint-down(sm) {
        flex-wrap: wrap-reverse;
      }

      @include media-breakpoint-down(md) {
        min-height: 257px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
      }

      @include media-breakpoint-up(md) {
        position: absolute;
        bottom: 0;
        left: 0;
      }

      .step {
        width: 150px;
        height: 150px;
        text-align: center;
        background-color: #0e111e;
        color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        transition: box-shadow 0.2s;
        z-index: 2;

        @include media-breakpoint-down(md) {
          height: 200px;
        }

        @include media-breakpoint-up(md) {
          width: 100%;
          height: 100%;
          max-width: 383px;
        }

        &-arrow {
          position: absolute;
          top: 125px;
          left: -11px;
          width: 20px;
          height: 20px;
          background-color: #df4244;
          color: #fff;
          border-radius: 10px;
          border: 1px solid #fff;
          text-align: center;
          font-size: 8px;
          display: flex;
          align-items: center;
          justify-content: center;

          &.last {
            top: -10px;
            left: 183px;
            transform: rotate(-90deg);
          }

          @include media-breakpoint-down(sm) {
            display: none;
          }
        }

        &:hover {
          box-shadow: inset 0 0 6px 1px #fff;
          cursor: pointer;
        }

        &-heading {
          font-size: 28px;
        }

        &-bottom {
          color: #6c6a71;
        }
      }

      &-row-1 {
        display: flex;
        justify-content: flex-end;
        width: 100%;

        @include media-breakpoint-down(sm) {
          width: 100%;
        }

        .step {

          @include media-breakpoint-down(md) {
            width: 100%;
            margin-top: 3px;
          }

          @include media-breakpoint-up(md) {
            flex-basis: 33%;
            height: 260px;
            margin-top: 3px;
          }

        }
      }

      &-row-2 {
        flex-wrap: wrap;
        display: flex;
        width: 100%;
        justify-content: space-between;

        @include media-breakpoint-down(sm) {
          width: 100%;
        }

        @include media-breakpoint-up(md) {
          justify-content: flex-end;
          flex-wrap: nowrap;
        }

        .step {
          background-color: #272030;
          flex-basis: 33%;

          @include media-breakpoint-down(sm) {
            width: 100%;
            flex-basis: 100%;
          }

          @include media-breakpoint-up(md) {
            height: 262px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;

            &-right {
              text-align: left;
              max-width: 210px;
            }
          }

          @include media-breakpoint-up(lg) {
            justify-content: center;

            &-right {
              margin-left: 25px;
            }
          }
        }
      }

      span {
        font-size: 52px;
        color: $red;
      }

    }
  }
  .section-3 {

    background: #151320 url("../img/section-3-bg.jpg") top no-repeat;

    &-inner {
      padding-top: 16px;
      position: relative;
      padding-bottom: 16px;
      min-height: 1700px;

      @include media-breakpoint-up(sm) {
        min-height: 1080px;
        padding-top: 120px;
        padding-bottom: 0;
      }

    }

    .highcharts-credits {
      display: none;
    }

    .swiper {

      &-container {
        height: 160px;
        position: absolute;
        bottom: 0;
        width: 100%;
      }

      &-button-next {
        background-size: 15px;
        margin-right: -15px;
      }

      &-button-prev {
        background-size: 15px;
        margin-left: -15px;
      }

      &-slide {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding-top: 58px;

        &-inner {
          display: flex;
          align-items: flex-start;
          justify-content: center;
          width: 100%;
        }

        &-left {
          margin-right: 10px;

          button {
            width: 29px;
            height: 24px;
            border-radius: 6px;
            border: 1px solid #fff;
            background-color: transparent;
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: background-color 0.2s;

            @include media-breakpoint-down(sm) {
              display: none;
            }

            &:hover {
              background-color: #fff;
              color: #333;
            }
          }
        }

        &-right {
          a {
            &:hover,
            &focus {
              text-decoration: none;
            }

            @include media-breakpoint-down(sm) {
              display: block;
              width: 253px;
              margin: 0 auto;
            }
          }
          a > div {
            &:first-child {
              font-size: 18px;
              text-transform: uppercase;
              color: #c5c3cb;
            }
            &:last-child {
              font-size: 17px;
              color: $red;
              text-transform: uppercase;
            }
          }
        }
      }

    }

    .section-header {
      text-align: center;
      position: inherit;
      margin-bottom: 32px;
      margin-top: 24px;

      @include media-breakpoint-up(md) {
        right: 0;
        text-align: right;
        margin-top: auto;
        margin-bottom: auto;
      }

      @include media-breakpoint-up(lg) {
        position: absolute;
      }

      h2 {
        &:nth-child(2) {
          margin-left: auto;

          @include media-breakpoint-up(md) {
            margin-left: 211px;
          }
        }
      }

      h4 {
        margin-left: auto;

        @include media-breakpoint-up(md) {
          margin-left: 211px;
          font-size: 22px;
          margin-top: 7px;
        }
      }
    }

    &-objs {
      position: absolute;
      top: 16%;
      z-index: 1;
      width: 751px;

      @include media-breakpoint-down(sm) {
        display: none;
      }

      @include media-breakpoint-up(md) {
        right: 15px;
      }

      &-inner {
        position: relative;
      }

      .obj-1 {
        img {
          width: 750px;
        }
      }

    }

    .stats {

      @include media-breakpoint-up(lg) {
        margin-top: 90px;
      }

      select {
        width: 580px;
      }

      .select2-container--default .select2-selection--single {
        border-radius: 0;
        margin-bottom: 8px;
        border: 1px solid rgba(68, 85, 104, 1);
      }

      button {
        justify-content: center;
        max-width: inherit;
        width: 100%;
        background-color: transparent;
        color: #fff;
        border: none;
        display: flex;
        align-items: center;
        text-transform: uppercase;
        font-size: 20px;
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 16px;

        @include media-breakpoint-up(md) {
          max-width: 577px;
          justify-content: space-between;
        }

        &:focus {
          background-color: transparent;
          color: #fff;
        }

        > span {
          &:first-child {
            margin-right: 55px;

            @include media-breakpoint-down(xs) {
              margin-right: 11px;
              font-size: 16px;
            }
          }
        }

        .highlighted {
          color: $red;
        }

        .caret {
          border-top: 8px dashed;
          border-right: 8px solid transparent;
          border-left: 8px solid transparent;
        }
      }

      .dropdown {
        z-index: 9;
      }

      .dropdown.open {
        button {
          color: #fff;
          background-color: transparent;
          border-color: transparent;
        }
      }

      .dropdown-menu {
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        max-width: 596px;
        width: 100%;
        border-radius: 0;
        background-color: rgba(23, 22, 29, 0.90);
        padding-top: 0;
        padding-bottom: 0;

        @include media-breakpoint-up(md) {
          max-width: 580px;
          margin-left: -1px;
        }

        .highlighted {
          color: $red;
        }

        a {
          color: #fff;
          padding-top: 16px;
          padding-bottom: 16px;
          transition: background-color 0.2s;

          &:hover,
          &:focus {
            background-color: rgba(23, 22, 29, 0.95);
          }
        }
      }
    }

    .stats-blocks {
      display: none;
      align-items: center;
      flex-wrap: wrap;
      justify-content: flex-start;

      @include media-breakpoint-down(md) {
        justify-content: center;
      }

      &-footer {
        text-align: right;
        width: 100%;
        max-width: 577px;
        a {
          color: #fff;
        }
      }
    }

    .stats-block {
      flex-basis: 282px;
      background-color: transparentize(#100e18,0.55);
      border: 1px solid #617c92;
      margin-bottom: 12px;
      color: #fff;
      padding-top: 16px;
      margin-right: 14px;
      z-index: 4;
      height: 265px;

      @include media-breakpoint-up(md) {
        height: 239px;
      }

      &-top {
        display: flex;
        align-items: center;
        justify-content: center;

        &-right {
          > div {
            &:first-child {
              text-transform: uppercase;
            }
            &:last-child {
              color: transparentize(#ffffff,0.57);
            }
          }
        }

        img {
          max-width: 76px;
          border-radius: 50%;
          margin-right: 15px;
        }
      }

      &-middle {
        height: 80px;
      }

      &-bottom {
        > div {
          display: flex;
          flex-direction: row;
          justify-content: center;

          &:first-child {
            border-bottom: 1px solid #504d54;
            margin-left: 21px;
            margin-right: 21px;
            padding-bottom: 5px;
            margin-bottom: 5px;
          }

          div {
            &:first-child {
              margin-right: 102px;
            }
          }
        }
      }
    }
  }
  .section-4 {

    background: #151320 url("../img/section-4-bg.jpg") top no-repeat;

    .section-header {
      margin-top: 32px;
      margin-bottom: 32px;
      text-align: center;

      @include media-breakpoint-up(md) {
        text-align: left;
        margin-top: 250px;
        margin-bottom: auto;
      }
    }

    &-inner {
      position: relative;
      min-height: 785px;
      padding-bottom: 16px;

      @include media-breakpoint-up(md) {
        padding-bottom: 0;
      }
    }

    &-bottom {

      width: 100%;
      min-height: 520px;

      @include media-breakpoint-down(sm) {
        flex-wrap: wrap-reverse;
      }

      @include media-breakpoint-down(sm) {
        min-height: 257px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
      }

      @include media-breakpoint-up(md) {
        position: absolute;
        bottom: 0;
        left: 0;
      }

      .step {
        width: 150px;
        height: 150px;
        text-align: center;
        background-color: #0e111e;
        color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        transition: box-shadow 0.2s;
        z-index: 2;

        @include media-breakpoint-down(md) {
          height: 200px;
        }

        @include media-breakpoint-up(md) {
          width: 100%;
          height: 100%;
          max-width: 383px;
        }

        &-arrow {
          position: absolute;
          top: 125px;
          left: -11px;
          width: 20px;
          height: 20px;
          background-color: #df4244;
          color: #fff;
          border-radius: 10px;
          border: 1px solid #fff;
          text-align: center;
          font-size: 8px;
          display: flex;
          align-items: center;
          justify-content: center;

          &.last {
            top: -10px;
            left: 183px;
            transform: rotate(-90deg);
          }

          @include media-breakpoint-down(sm) {
            display: none;
          }
        }

        &:hover {
          box-shadow: inset 0 0 6px 1px #fff;
          cursor: pointer;
        }

        &-heading {
          font-size: 28px;
        }

        &-bottom {
          color: #6c6a71;
        }
      }

      &-row-1 {
        display: flex;
        justify-content: flex-start;
        width: 100%;

        @include media-breakpoint-down(sm) {
          width: 100%;
        }

        .step {
          background-color: #0e111e;
          flex-basis: 33%;

          @include media-breakpoint-down(sm) {
            width: 100%;
            flex-basis: 100%;
          }

          @include media-breakpoint-up(md) {
            height: 262px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;

            &-right {
              text-align: left;
              max-width: 210px;
            }
          }

          @include media-breakpoint-up(lg) {
            justify-content: center;

            &-right {
              margin-left: 25px;
            }
          }
        }
      }

      &-row-2 {
        flex-wrap: wrap;
        display: flex;
        width: 100%;
        justify-content: space-between;

        @include media-breakpoint-down(sm) {
          width: 100%;
        }

        @include media-breakpoint-up(md) {
          justify-content: flex-start;
          flex-wrap: nowrap;
        }

        .step {
          background-color: #272030;
          flex-basis: 33%;

          @include media-breakpoint-down(sm) {
            width: 100%;
            flex-basis: 100%;
          }

          @include media-breakpoint-up(md) {
            height: 262px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;

            &-right {
              text-align: left;
              max-width: 210px;
            }
          }

          @include media-breakpoint-up(lg) {
            justify-content: center;

            &-right {
              margin-left: 25px;
            }
          }
        }
      }

      span {
        font-size: 52px;
        color: $red;
      }

    }


  }

}
