.kontaktai {

  .section-1 {

    background: #151320 url("../img/kontaktai-section-1-bg.jpg") top no-repeat;
    background-size: cover;

    &-inner {
      position: relative;
      min-height: 535px;
      padding-bottom: 16px;
      padding-top: 150px;

      @include media-breakpoint-up(md) {
        min-height: 740px;
        padding-top: 225px;
        padding-bottom: 0;
      }
    }

  }

  .contact-form {

    margin-top: 32px;

    &--left {
      input {
        height: 44px;
        margin-bottom: 32px;
        background-color: transparentize(#151320, 0.3);
      }
    }

    &--right {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;

      > div {
        &:first-child {
          flex-basis: 74%;
        }
      }

      input[type=submit] {
        margin-bottom: 7px;
      }

      textarea {
        width: 100%;
        background-color: transparentize(#151320, 0.3);
        border-radius: 12px;
        border: 1px solid #7c7e86;
        height: 202px;
        color: #fff;
        padding: 12px;
      }
    }

  }

  .contact-form-bottom {
    margin-top: 12px;
    padding-top: 18px;
    border-top: 1px solid #7c7e86;
    
    a {
      color: #fff;
    }

    > div {
      margin-bottom: 12px;
      i {
        margin-right: 12px;
      }
    }
  }

}