.lazybu-informacija {

  .section-1 {

    background: #151320 url("../img/bankovaldymas-section-1-bg.jpg") top no-repeat;
    background-size: cover;

    .section-header {
      padding-bottom: 16px;
      border-bottom: 1px solid $borders;
      margin-bottom: 32px;

      h4 {
        text-align: center;
        font-size: 24px;

        @include media-breakpoint-up(md) {
          text-align: left;
          font-size: 32px;
        }
      }
    }

    &-inner {
      position: relative;
      min-height: 535px;
      padding-bottom: 16px;
      padding-top: 150px;

      @include media-breakpoint-up(md) {
        min-height: 969px;
        padding-top: 225px;
        padding-bottom: 0;
      }
    }

    h2 {
      margin-bottom: 0;
      text-align: center;

      @include media-breakpoint-up(md) {
        text-align: left;
      }

      span {
        color: $red;
      }
    }

    p {
      color: #fff;
    }

  }

  .section-2 {
    background: #151320;

    .section-header {
      margin-bottom: 32px;
    }
  }

}