.mano-ivykis {

  .section-1 {
    background: #151320 url("../img/manopardavimai-section-1-bg.jpg") top no-repeat;

    &-inner {
      position: relative;
      min-height: 535px;
      padding-bottom: 16px;
      padding-top: 255px;

      @include media-breakpoint-up(md) {
        min-height: 740px;
        padding-top: 185px;
        padding-bottom: 0;
      }
    }
  }

  .progress-radial .overlay {
    background-color: #151320;
  }

  .ivykis {

    &-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      text-transform: uppercase;

      @include media-breakpoint-only(xs) {
        flex-direction: column-reverse;
      }

      h2 {
        font-weight: 400;
      }

      a {
        color: #fff;
      }
      
      &--left {
        h2 {
          @include media-breakpoint-only(xs) {
            text-align: center;
            font-size: 19px;
          }
        }
      }
      &--right {
        padding-right: 30px;

        @include media-breakpoint-only(xs) {
          padding-right: 0;
          border-bottom: 1px solid;
          margin-bottom: 10px;
        }
      }
    }

    &-card {
      border: 1px solid $borders-blue;
      padding: 10px;
      padding-top: 20px;
      padding-bottom: 20px;
      margin-bottom: 28px;

      @include media-breakpoint-down(lg) {
        margin-right: 30px;
      }
      @include media-breakpoint-only(xs) {
        margin-right: 10px;
        padding-right: 0;
      }

      &--left {
        text-align: center;
        text-transform: uppercase;
        width: 100%;
        max-width: 208px;

        @include media-breakpoint-only(xs) {
          max-width: 100%;
        }

        .user-avatar {
          width: 180px;
          border-radius: 90px;
          margin: 0 auto;
          margin-bottom: 12px;

          img {
            width: 100%;
            max-width: 180px;
          }
        }

        .name {
          font-size: 20px;
          font-weight: 700;
        }

        .nick {
          font-size: 18px;
          color: #fff;
          display: flex;
          align-items: center;
          justify-content: center;

          img {
            border-radius: 8px;
            margin-left: 3px;
          }
        }

        a {
          text-decoration: underline;
          color: #abaaad;
        }
      }

      &--right {

        .inner {

          &--top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: #fff;

            @include media-breakpoint-only(xs) {
              flex-direction: column;
            }

            > div {
              &:first-child {
                margin-bottom: 7px;
                margin-top: 10px;
              }
            }

            i {
              color: $green;
              font-size: 24px;

              @include media-breakpoint-only(xs) {
                font-size: 18px;
              }
            }
          }
          &--middle {
            margin-top: 16px;

            > div {
              position: relative;
              width: 100%;
              margin-bottom: 7px;
              display: flex;
              align-items: center;

              @include media-breakpoint-down(sm) {
                flex-direction: column;
              }

              div {
                &:first-child {
                  position: absolute;
                  left: 0;
                  background-color: #fff;
                  color: #000;
                  width: 120px;
                  text-align: center;
                  border-radius: 5px;
                  height: 100%;
                  line-height: 1.8em;
                  text-transform: uppercase;
                  font-size: 15px;
                  font-weight: 700;

                  @include media-breakpoint-down(sm) {
                    position: static;
                    width: 100%;
                    border-radius: 0;
                  }
                }
                &:last-child {
                  background-color: transparent;
                  width: 100%;
                  border-radius: 5px;
                  padding-left: 160px;
                  border: 1px solid #fff;
                  height: 30px;
                  line-height: 1.8em;
                  color: #fff;

                  @include media-breakpoint-down(sm) {
                    border-radius: 0;
                    padding-left: 0;
                    text-align: center;
                  }
                  @include media-breakpoint-only(xs) {
                    height: auto;
                    padding: 3px;
                  }
                }
              }
            }
          }
          &--bottom {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 32px;
            text-transform: uppercase;
            color: #fff;

            @include media-breakpoint-only(xs) {
              flex-direction: column;
              align-items: center;
            }

            > div {
              &:first-child {
                @include media-breakpoint-only(xs) {
                  text-align: center;
                  margin-bottom: 12px;
                }
              }
            }

            img {
              width: 170px;
            }

            .btn_pasalinti {
              background-color: #cc4146;
              color: #fff;
              border: 1px solid #fff;
              width: 176px;
              line-height: 2.4em;
              border-radius: 21px;
              text-transform: uppercase;
            }
          }

        }

      }
      
    }

    &-analize {
      border: 1px solid $borders-blue;
      padding: 10px;
      padding-top: 20px;
      padding-bottom: 20px;

      @include media-breakpoint-down(lg) {
        margin-right: 30px;
      }
      @include media-breakpoint-only(xs) {
        margin-right: 10px;
      }
    }
    
  }

  .add-comment {

    margin-top: 16px;
    padding-right: 30px;

    @include media-breakpoint-only(xs) {
      padding-right: 0;
    }

    textarea {
      width: 100%;
      height: 94px;
      padding-left: 17px;
      padding-top: 10px;
      border: none;
      border-radius: 10px;
      font-family: 'PT Sans', sans-serif;
    }

    .btn_submit {
      border: none;
      border-radius: 10px;
      width: 100%;
    }

  }
  
}