.mano-pardavimai {

  .section-header {
    h3 {
      border-bottom: none;

      @include media-breakpoint-down(sm) {
        margin-bottom: 16px;
        text-align: center;
      }
    }
  }

  .section-1 {
    background: #151320 url("../img/manopardavimai-section-1-bg.jpg") top no-repeat;

    &-inner {
      position: relative;
      min-height: 535px;
      padding-bottom: 16px;
      padding-top: 255px;

      @include media-breakpoint-up(md) {
        min-height: 740px;
        padding-top: 185px;
        padding-bottom: 0;
      }
    }
  }

  .banner {
    width: 100%;
    max-width: 1050px;

    h2 {
      font-size: 48px;
      color: #fff;
      margin-bottom: 0;
      line-height: 1.1em;

      @include media-breakpoint-down(sm) {
        font-size: 38px;
        text-align: center;
      }
    }

    h4 {
      font-size: 28px;
      font-weight: 400;
      line-height: 1.1em;

      @include media-breakpoint-down(sm) {
        text-align: center;
      }

      span {
        color: $red;
      }
    }

    .btn_pradeti {
      background-color: $red;
      border: none;
      color: #fff;
      width: 400px;
      line-height: 3.5em;
      text-transform: uppercase;
      border-radius: 10px;
      font-size: 18px;
      margin-bottom: 64px;

      @include media-breakpoint-down(sm) {
        width: 97%;
      }
    }
    
    .list {
      margin-top: 46px;
      margin-bottom: 41px;
      color: #fff;

      &-item {
        display: flex;
        margin-bottom: 5px;

        &:before {
          content: '\f00c';
          font-family: FontAwesome;
          color: $green;
          margin-right: 10px;
        }
      }
    }
  }

}