.mano-pranesimai {

  .section-header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-right: 30px;
    margin-top: 30px;
    margin-bottom: 30px;

    @include media-breakpoint-only(xs) {
      margin-right: 10px;
      flex-direction: column;
      align-items: center;

      a {
        width: 100%;
      }
      button {
        width: 100%;
        border-radius: 0;
      }
    }

    h3 {
      border-bottom: none;
      margin-bottom: 0;
      text-transform: uppercase;
    }
  }
  .section-1 {
    background: #151320 url("../img/bukmekeriai-section-1-bg.jpg") top no-repeat;
    &-inner {
      position: relative;
      min-height: 535px;
      padding-bottom: 16px;
      padding-top: 260px;

      @include media-breakpoint-up(md) {
        min-height: 740px;
        padding-top: 185px;
        padding-bottom: 120px;
      }
    }
  }
  .pranesimai {
    margin-bottom: 100px;
    margin-right: 30px;

    @include media-breakpoint-only(xs) {
      margin-right: 10px;
    }
  }
  .pranesimas {
    background-color: #171624;
    color: #fff;
    border-top: 1px solid #606069;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-top: 16px;
    padding-bottom: 16px;
    position: relative;
    transition: background-color 0.2s;

    @include media-breakpoint-only(xs) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    &:hover {
      background-color: #1b1c2d;
      cursor: pointer;
    }

    &:last-child {
      border-bottom: 1px solid #606069;
    }

    &-left {
      margin-right: 30px;

      @include media-breakpoint-only(xs) {
        margin-right: 0;
      }
    }
    &-middle {

      @include media-breakpoint-only(xs) {
        text-align: center;
        margin-bottom: 13px;
        margin-top: 13px;
      }

      a {
        text-decoration: underline;
        text-transform: uppercase;
        color: #fff;

        &.green {
          color: $green;
        }
        &.red {
          color: $red;
        }
      }
      span {
        font-weight: 600;
        text-decoration: underline;
      }
    }
    &-right {
      color: #606069;
      position: absolute;
      right: 10px;
      bottom: 10px;
    }
  }
  .pranesimas-vidinis-bottom {
    margin-right: 30px;
    background-color: #171624;
    padding: 16px;
    text-transform: uppercase;

    p {
      margin-bottom: 50px;
    }

    > div {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  .pranesimas-vidinis {
    background-color: #1c1f31;
    color: #fff;
    border-top: 1px solid #606069;
    border-bottom: 1px solid #606069;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-right: 30px;
    padding-top: 16px;
    padding-bottom: 16px;

    @include media-breakpoint-only(xs) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-right: 10px;
    }

    &--left {
      flex-grow: 1;
    }
    &--middle {
      text-transform: uppercase;
      font-size: 19px;
      color: #c5c3cb;
      flex-grow: 16;

      @include media-breakpoint-only(xs) {
        text-align: center;
        margin-top: 13px;
        margin-bottom: 13px;
      }
      
      span {
        font-size: 14px;
        color: #939499;
      }
    }
    &--right {
      flex-grow: 1;
      color: #939499;
    }
  }
  .go-back {
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    margin-top: 16px;
    display: block;
  }

}