.susirasinejimas {

  .section-1 {
    background: #151320 url("../img/bukmekeriai-section-1-bg.jpg") top no-repeat;
    &-inner {
      position: relative;
      min-height: 535px;
      padding-bottom: 16px;
      padding-top: 260px;

      @include media-breakpoint-up(md) {
        min-height: 740px;
        padding-top: 185px;
        padding-bottom: 0;
      }
    }
  }

  .btn_atgal {
    color: #fff;
    text-decoration: underline;
    text-transform: uppercase;
  }

  .atsakyti {
    margin-top: 16px;
    margin-right: 30px;
    display: none;

    textarea {
      width: 100%;
      height: 94px;
      padding-left: 17px;
      padding-top: 10px;
      border: none;
      border-radius: 10px;
      font-family: 'PT Sans', sans-serif;
    }
    .btn_submit {
      background-color: #cc4146;
      color: #fff;
      text-transform: uppercase;
      line-height: 2.4666em;
      font-size: 16px;
      border: none;
      border-radius: 10px;
      width: 100%;
    }
  }

  .actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 30px;
    border-bottom: 1px solid;
    padding-bottom: 22px;
    text-transform: uppercase;
    color: #fff;
  
    @include media-breakpoint-only(xs) {
      flex-direction: column;
      text-align: center;
      margin-right: 10px;
    }

    img {
      border-radius: 8px;
      margin-left: 3px;
      margin-right: 3px;
    }

    a {
      color: #fff;
    }

    > div {
      &:first-child {
        a {
          text-decoration: underline
        }
      }
      &:last-child {
        display: flex;
        margin-bottom: -30px;

        @include media-breakpoint-only(xs) {
          flex-direction: column;
          width: 100%;
          margin-top: 10px;
        }

        a {
          background-color: $red;
          width: 180px;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          line-height: 2.3em;
          border-top-left-radius: 12px;
          border-top-right-radius: 12px;
          margin-right: 12px;

          @include media-breakpoint-only(xs) {
            margin-right: 0;
            width: 100%;
            border-radius: 0;
          }

          .fa {
            font-size: 19px;
            padding-right: 3px;
          }

          &:last-child {
            margin-right: 0;
            background-color: $green;
            color: #000;
          }

          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }

  .section-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #393843;

    @include media-breakpoint-down(lg) {
      margin-right: 30px;
    }

    @include media-breakpoint-only(xs) {
      margin-right: 10px;
      flex-direction: column;
      align-items: center;

      a {
        width: 100%;
      }
      button {
        width: 100%;
        border-radius: 0;
      }
    }

    h3 {
      border-bottom: none;
      margin-bottom: 0;
      text-transform: uppercase;
    }
  }

  .navigation {
    justify-content: flex-end;
    margin-right: 30px;
  }

}