.mano-pardavimai-ikelti {

  .section-1 {
    background: #151320 url("../img/bukmekeriai-section-1-bg.jpg") top no-repeat;

    &-inner {
      position: relative;
      min-height: 535px;
      padding-bottom: 16px;
      padding-top: 260px;

      @include media-breakpoint-up(md) {
        min-height: 740px;
        padding-top: 185px;
        padding-bottom: 0;
      }
    }
  }
  .ikelti-steps {

    .step {
      margin-bottom: 32px;
      padding-right: 32px;

      @include media-breakpoint-up(xl) {
        padding-right: 0;
      }

      h4 {
        text-transform: uppercase;
        color: #fff;
        font-weight: 400;
        font-size: 18px;
        margin-bottom: 26px;
      }

      .btn_submit {
        border-radius: 11px;
        width: 100%;
        max-width: 256px;
        border: 1px solid #737179;
      }

      .group {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 114px;
        justify-content: center;

        label {
          width: 100%;
          line-height: 2.5em;
          background-color: #181a27;
          border-radius: 11px;
          text-align: center;
          text-transform: uppercase;
          margin-bottom: 18px;
        }

        label {
          border: 1px solid #fff;

          &:hover {
            cursor: pointer;
          }
        }
      }

      &-info {
        display: flex;
        border-top: 1px solid #4e4e54;
        border-bottom: 1px solid #4e4e54;
        padding-top: 7px;
        padding-bottom: 2px;
        align-items: center;
        font-style: italic;

        > div {
          &:first-child {
            width: 30px;
            font-size: 27px;
            color: #fff;
          }
          &:last-child {
            color: #4e4e54;
          }
        }
      }

    }

  }

  .select2-container--default .select2-selection--single {
    border-radius: 11px;
    height: 39px;
    border: 1px solid #737179;
    background-color: #181a27;
  }
  .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #737179;
  }
  textarea,
  input {
    width: 100%;
    background-color: #181a27;
    border-radius: 11px;
    text-transform: uppercase;
    margin-bottom: 18px;
    border: 1px solid #737179;
    font-size: 14px;
    color: #737179;
  }
  input {
    max-width: 317px;
    text-align: center;
    line-height: 2.5em;
  }
  input[type='email'] {
    text-align: left;
    height: 39px;
  }
  textarea {
    padding: 10px;
  }

  .apzvalga {

    margin-bottom: 64px;

    &-header {
      border-top: 1px solid #fff;
      border-bottom: 1px solid #fff;
      padding-top: 10px;
      padding-bottom: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      @include media-breakpoint-down(lg) {
        margin-right: 30px;
      }
      @include media-breakpoint-only(xs) {
        margin-right: 10px;
      }

      .select-periodas {
        flex-basis: 350px;
      }

      h2 {
        text-transform: uppercase;
        color: #fff;
        font-weight: 400;
        margin-bottom: 0;
        font-size: 20px;

        @include media-breakpoint-only(xs) {
          margin-right: 10px;
          font-size: 16px;
        }
      }
    }
    &-pelnas {
      border-bottom: 1px solid #fff;
      padding-bottom: 10px;
      padding-top: 10px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding-left: 30px;

      @include media-breakpoint-down(lg) {
        margin-right: 30px;
      }
      @include media-breakpoint-only(xs) {
        margin-right: 10px;
        padding-left: 0;
        justify-content: space-between;
      }

      > div {
        &:first-child {
          width: 215px;
          text-transform: uppercase;
          display: flex;
          align-items: center;

          @include media-breakpoint-only(xs) {
            width: 183px;
          }

          span {
            font-size: 32px;
            padding-right: 14px;
            color: $red;

            @include media-breakpoint-only(xs) {
              font-size: 26px;
            }
          }
        }
        &:last-child {
          color: $green;
          font-size: 26px;
          text-transform: uppercase;

          @include media-breakpoint-only(xs) {
            font-size: 16px;
          }
        }
      }
    }
    &-aktyvus {
      padding-bottom: 10px;
      padding-top: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      @include media-breakpoint-down(lg) {
        margin-right: 30px;
      }

      > div {
        &:first-child {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          padding-left: 30px;

          @include media-breakpoint-only(xs) {
            margin-right: 10px;
            padding-left: 0;
            justify-content: space-between;
          }

          > div {
            &:first-child {
              text-transform: uppercase;
              display: flex;
              align-items: center;
              width: 215px;
            }
            &:last-child {
              font-size: 26px;

              @include media-breakpoint-only(xs) {
                font-size: 16px;
              }
            }
          }

          span {
            font-size: 32px;
            padding-right: 14px;
            color: $red;

            @include media-breakpoint-only(xs) {
              font-size: 26px;
            }
          }
        }
        &:last-child {
          font-size: 32px;

          @include media-breakpoint-only(xs) {
            font-size: 20px;
          }
        }
      }
    }

  }

  .aktyvus-vartotojai {

    @include media-breakpoint-down(lg) {
      margin-right: 30px;
    }
    @include media-breakpoint-only(xs) {
      margin-right: 10px;
    }

    table.dataTable tbody tr {
      background-color: transparent;
    }
    table.dataTable tbody td {
      color: #fff;
    }
    table.dataTable thead {
      background-color: #fff;
      color: #333;
      text-transform: uppercase;

      th {
        border: none;
        &:hover {
          cursor: pointer;
        }
      }
    }

  }

  ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #737179;
  }
  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #737179;
    opacity:  1;
  }
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #737179;
    opacity:  1;
  }
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    #737179;
  }

}