.mano-zinutes {

  .section-header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-right: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #393843;

    @include media-breakpoint-only(xs) {
      margin-right: 10px;
      flex-direction: column;
      align-items: center;

      a {
        width: 100%;
      }
      button {
        width: 100%;
        border-radius: 0;
      }
    }

    h3 {
      border-bottom: none;
      margin-bottom: 0;
      text-transform: uppercase;
    }
  }

  .btn_nauja_zinute {
    background-color: #42df8c;
    border: none;
    text-transform: uppercase;
    padding: 10px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    font-weight: 600;
  }

  .section-1 {
    background: #151320 url("../img/bukmekeriai-section-1-bg.jpg") top no-repeat;
    &-inner {
      position: relative;
      min-height: 535px;
      padding-bottom: 16px;
      padding-top: 260px;

      @include media-breakpoint-up(md) {
        min-height: 740px;
        padding-top: 185px;
        padding-bottom: 0;
      }
    }
  }

  .zinutes {
    margin-right: 30px;
    margin-bottom: 100px;

    @include media-breakpoint-only(xs) {
      margin-right: 10px;
    }

    .fa-envelope {
      color: #fff;
    }

    .footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 16px;
      flex-direction: column;

      @include media-breakpoint-up(sm) {
        flex-direction: row;
      }
      @include media-breakpoint-only(xs) {
        margin-top: 32px;
      }
    }

    table {
      width: 100%;

      tr {
        border-bottom: 1px solid #393843;
      }

      th {
        text-transform: uppercase;
        color: #fff;
        padding: 8px;

        &:last-child {
          width: 180px;
        }
      }

      td {
        padding: 8px;

        a {
          color: inherit;
          text-decoration: underline;
        }
      }

      tbody {
        tr {
          background-color: #171624;
          &:hover {
            background-color: #2f2f3a;
            cursor: pointer;
          }
        }
        td {
          &:last-child {
            display: inline-flex;
            align-items: center;
            justify-content: space-between;
            @include media-breakpoint-up(md) {
              display: flex;
            }
            > div {
              &:first-child {
                @include media-breakpoint-down(md) {
                  margin-right: 16px;
                }
              }
            }
          }
        }
      }
    }

    .navigation {
      @include media-breakpoint-only(xs) {
        margin-top: 16px;
      }
    }
  }

}