.mano-sekejai {

  .section-1 {
    background: #151320 url("../img/bukmekeriai-section-1-bg.jpg") top no-repeat;
    &-inner {
      position: relative;
      min-height: 535px;
      padding-bottom: 16px;
      padding-top: 260px;

      @include media-breakpoint-up(md) {
        min-height: 740px;
        padding-top: 185px;
        padding-bottom: 0;
      }
    }
  }

  .section-header {
    h3 {
      text-transform: uppercase;
      border-bottom: none;
      color: #c5c3cb;
    }
  }

  .ekspertai-results {
    @include media-breakpoint-down(lg) {
      margin-right: 30px;
    }
    @include media-breakpoint-only(sm) {
      margin-right: 20px;
    }
    @include media-breakpoint-only(xs) {
      margin-right: 10px;
    }
  }

  .btn_submit {
    width: 260px;
    line-height: 2.2em;
  }

  .ekspertas {
    margin-bottom: 0;

    &--unfollow {
      text-align: right;
      margin-bottom: 16px;
      padding-right: 10px;

      @include media-breakpoint-down(sm) {
        text-align: center;
        padding-right: 0;
      }
    }

    &--left {
      @include media-breakpoint-down(sm) {
        justify-content: center;

        .user-avatar {
          margin-right: 16px;
        }
      }
      @include media-breakpoint-down(sm) {
        flex-direction: column;
        text-align: center;
        padding-top: 16px;

        .user-avatar {
          margin-right: 0;
        }

        .user-data > div:last-child {
          justify-content: center;
        }
      }
    }

    &--middle {
      display: flex;
      justify-content: space-between;

      @include media-breakpoint-down(sm) {
        justify-content: center;
      }

      @include media-breakpoint-down(sm) {
        flex-direction: column;
        height: 128px;
        margin-bottom: 6px;
        margin-top: 0;
      }

      > div {
        border-right: none;

        > div {
          &:first-child {
            color: #fff;
            font-size: 16px;
            font-weight: 400;
            padding: 10px;
            border-right: 1px solid #201d30;

            > div {
              &:first-child {
                color: $red;
                font-size: 22px;
                font-weight: 600;
              }
            }
          }
          &:last-child {
            padding: 10px;

            > div {
              &:first-child {
                color: $red;
                font-size: 22px;
                font-weight: 600;
              }
            }
          }
        }

      }

      .green {
        padding-left: 20px;
        padding-right: 20px;
        border-right: 1px solid #201d30;

        @include media-breakpoint-down(sm) {
          padding: 0;
        }

        &:last-child {
          border-right: none;
        }

        > div {
          &:first-child {
            color: $green !important;
            font-size: 22px;
            font-weight: 600;
          }
          &:last-child {
            color: #fff;
          }
        }
      }

      &---left {
        display: flex;
        align-items: center;
        justify-content: center;

        @include media-breakpoint-down(sm) {
          > div {
            border: none;
          }
        }
      }

      &---right {
        display: flex;
        align-items: center;
        justify-content: center;

        @include media-breakpoint-down(sm) {
          margin-top: 16px;
          margin-bottom: 16px;
        }
      }
    }

    &--bottom {

      &---1 {
        background-color: #201d30;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        padding-left: 16px;

        @include media-breakpoint-down(sm) {
          flex-direction: column;

          .logos {
            display: flex;
            flex-direction: column;

            img {
              margin-bottom: 10px;
            }
          }

          > div {
            &:first-child {
              margin-bottom: 8px;
            }
          }
        }

        .btn_submit {
          line-height: 1.8em;
          font-size: 15px;
        }

        .logos {
          img {
            height: 34px;
            margin-right: 16px;
          }
        }
      }
      &---2 {
        margin-bottom: 32px;

        > a {
          display: block;
          color: #fff;
          padding: 10px;
          padding-left: 16px;
          background-color: #2a273c;

          .fa-angle-down {
            transition: transform 0.2s;
          }

          &.open {
            background-color: #343049;

            .fa-angle-down {
              transform: rotate(180deg);
            }
          }

          &:focus,
          &:hover {
            text-decoration: none;
          }
        }

        .pristatymas {
          display: none;
          background-color: #2a273c;
          padding: 15px;

          p {
            margin-bottom: 0;
          }
        }
      }

    }
  }

}