.nauja-zinute {

  .section-1 {
    background: #151320 url("../img/bukmekeriai-section-1-bg.jpg") top no-repeat;
    &-inner {
      position: relative;
      min-height: 535px;
      padding-bottom: 16px;
      padding-top: 260px;

      @include media-breakpoint-up(md) {
        min-height: 740px;
        padding-top: 185px;
        padding-bottom: 0;
      }
    }
  }

  .btn_atgal {
    color: #fff;
    text-decoration: underline;
    text-transform: uppercase;
  }

  &--forma {
    margin-bottom: 100px;
    padding-bottom: 16px;
    border-bottom: 1px solid #393843;

    @include media-breakpoint-down(lg) {
      margin-right: 30px;
    }

    @include media-breakpoint-only(xs) {
      margin-right: 10px;
    }

    .btn_submit {
      width: 100%;
      border-radius: 8px;
      border: none;
      margin-bottom: 5px;
    }

    input[type='text'] {
      border-radius: 8px;
      background-color: #fff;
      color: #000;
      height: 42px;
    }
    textarea {
      width: 100%;
      border-radius: 8px;
      padding-left: 10px;
      padding-top: 10px;
      height: 120px;
    }
    .select2-container--default .select2-selection--single {
      border-radius: 8px;
      margin-bottom: 7px;
      background-color: #fff;
      color: #333;
    }
    .select2-container--default .select2-selection--single .select2-selection__rendered {
      color: #a8a8a8;
    }

  }

  .select2ajax {
    width: 100%;
  }

  .section-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #393843;

    @include media-breakpoint-down(lg) {
      margin-right: 30px;
    }

    @include media-breakpoint-only(xs) {
      margin-right: 10px;
      flex-direction: column;
      align-items: center;
    }

    h3 {
      border-bottom: none;
      margin-bottom: 0;
      text-transform: uppercase;
    }
  }

  ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
      color: #a8a8a8;
      text-transform: uppercase;
  }
  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
     color: #a8a8a8;
     text-transform: uppercase;
     opacity:  1;
  }
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
     color: #a8a8a8;
     text-transform: uppercase;
     opacity:  1;
  }
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
     color: #a8a8a8;
     text-transform: uppercase;
  }

}