.menesio-ekspertai {

  background-color: #151320;

  .section-1 {

    background: #151320 url("../img/menesiotop-section-1-bg.jpg") top no-repeat;

    @include media-breakpoint-up(xl) {
      background-size: cover;
    }

    .section-header {
      padding-bottom: 16px;
      margin-bottom: 32px;

      h4 {
        text-align: center;
        font-size: 24px;

        @include media-breakpoint-up(md) {
          text-align: left;
          font-size: 32px;
        }
      }
    }

    .section-about {
      border-top: 1px solid;
      border-bottom: 1px solid;
      padding-top: 16px;
      padding-bottom: 38px;
      width: 100%;

      @include media-breakpoint-up(lg) {
        width: 818px;
        padding-bottom: 16px;
      }

      p {
        color: #c5c3cb;
        font-size: 16px;
        margin-bottom: 14px;

        @include media-breakpoint-up(md) {
          font-size: 21px;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    &-inner {
      position: relative;
      min-height: 535px;
      padding-bottom: 16px;
      padding-top: 270px;

      @include media-breakpoint-up(md) {
        min-height: 707px;
        padding-top: 225px;
        padding-bottom: 0;
      }
    }

    h2 {
      margin-bottom: 0;
      text-align: center;

      @include media-breakpoint-up(md) {
        text-align: left;
      }

      span {
        color: $red;
      }
    }

    h4 {
      span {
        color: $red;
      }
    }

    p {
      color: #fff;
    }

  }

  .section-2 {
    background: #151320;

    .section-header {
      margin-bottom: 32px;
    }

    .maxw {
      overflow: visible;
    }

    .nav-tabs {
      border-bottom: 1px solid #cc4146;

      @include media-breakpoint-down(sm) {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
    .nav-tabs .nav-item {
      margin-top: -36px;

      @include media-breakpoint-down(sm) {
        margin-top: 0;
        width: 100%;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
      }
    }
    .nav-tabs .nav-link {
      width: 291px;

      @include media-breakpoint-down(sm) {
        width: 100%;
        margin-left: 0;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
      }
    }
  }

  .footer {
    background-color: #fff;
  }

  .users {
    margin-top: 28px;
    margin-bottom: 100px;

    display: flex;
    flex-flow: row wrap;
    margin-left: -0.5rem;
    margin-right: -0.5rem;

    @include media-breakpoint-down(md) {
      justify-content: center;
    }
  }
  .user {
    min-width: 298px;
    height: 400px;
    background-color: #151320;
    color: #fff;
    border: 1px solid $borders-blue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &-outer {
      flex: 0 0 20%;
      box-sizing: border-box;
      padding: 0 0.5rem 1rem;
    }

    .circle-badget {
      position: absolute;
      top: 15px;
      right: 69px;
      width: 44px;
      height: 44px;
      font-weight: 700;
      border-radius: 50%;
      background-color: $green;
      color: #000;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #fff;
    }

    &-data {
      text-align: center;

      &--name {
        text-transform: uppercase;
        margin-top: 16px;
        i {
          color: $green;
        }
      }
    }

    &-betdata {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 125px;

      &--center {
        text-align: center;
        > div {
          &:first-child {

          }
          &:last-child {
            font-size: 28px;
            color: $red;
            font-weight: 700;
          }
        }
      }
      &--left {
        text-align: center;
        padding-right: 10px;
        border-right: 1px solid $borders;
        width: 35%;

        > div {
          &:first-child {

          }
          &:last-child {
            font-size: 28px;
            color: $red;
            font-weight: 700;
          }
        }
      }
      &--right {
        text-align: center;
        padding-left: 10px;
        width: 35%;

        > div {
          &:first-child {

          }
          &:last-child {
            font-size: 28px;
            color: $red;
            font-weight: 700;
          }
        }
      }
    }

    &-top {
      padding-top: 8px;
      position: relative;
    }

    .user-avatar {
      border: none;
      margin: 0 auto;
    }
    
    a {
      color: #adacae;
      text-decoration: underline;
    }

    &-prize {
      background-color: #2c2a36;
      padding: 8px;

      > div {
        text-align: center;
        font-weight: 700;

        &:first-child {
          font-size: 21px;
          text-transform: uppercase;
          line-height: 1.1em;
        }

        &:last-child {
          color: $green;
          font-size: 28px;
          line-height: 1.1em;
        }
      }
    }
  }

}