.page-list {

  padding-top: 120px;

  .list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-left: 0;
    list-style-type: none;

    li {
      flex-basis: 24.57%;
      background-color: #00b4ae;
      margin-bottom: 5px;
      margin-right: 5px;
      
      a {
        display: block;
        padding: 10px;
        color: #fff;
        transition: all 0.2s;

        &:hover {
          text-decoration: none;
          background-color: darken(#00b4ae,20);
        }
      }
    }
  }

}