.paslaugos-uzsakymas {

  .section-1 {
    background: #151320 url("../img/bukmekeriai-section-1-bg.jpg") top no-repeat;

    &-inner {
      position: relative;
      min-height: 535px;
      padding-bottom: 16px;
      padding-top: 200px;

      @include media-breakpoint-down(sm) {
        padding-top: 250px;
      }
      @include media-breakpoint-up(md) {
        min-height: 740px;
        padding-top: 185px;
        padding-bottom: 0;
      }
    }
  }

  .checkbox-group {
    font-size: 16px;
  }

  .uzsakymas {
    color: #fff;
    margin-bottom: 64px;

    &-header {
      h2 {
        text-transform: uppercase;
        font-size: 31px;
        font-weight: 400;
        border-top: 1px solid #605f64;
        border-bottom: 1px solid #605f64;
        padding-top: 12px;
        padding-bottom: 9px;
        margin-right: 30px;

        @include media-breakpoint-down(sm) {
          margin-right: 10px;
        }

        span {
          color: $red;
        }
      }
    }
    &-paslauga {
      text-transform: uppercase;
      padding-bottom: 8px;
      margin-right: 30px;
      border-bottom: 1px solid #605f64;

      @include media-breakpoint-down(sm) {
        margin-right: 10px;
      }

      h3 {
        text-transform: uppercase;
        font-weight: 400;
        font-size: 24px;
        padding-top: 24px;
        padding-bottom: 10px;
      }

      > div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 16px;

        > div {
          &:last-child {
            color: #605f64;
          }
        }
      }
    }
    &-suma {
      text-transform: uppercase;
      padding-top: 24px;
      padding-bottom: 8px;
      margin-right: 30px;
      border-bottom: 1px solid #605f64;

      @include media-breakpoint-down(sm) {
        margin-right: 10px;
      }

      > div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 5px;
        padding-top: 10px;
        padding-bottom: 10px;

        > div {
          &:last-child {
            color: #605f64;
          }
        }

        &:last-child {
          background-color: #161623;

          > div {
            &:last-child {
              color: #fff;
              font-size: 24px;
            }
          }
        }
      }
    }
    &-pranesimai {
      padding-top: 24px;
      padding-bottom: 24px;
      text-transform: uppercase;
      border-bottom: 1px solid #605f64;
      margin-right: 30px;

      @include media-breakpoint-down(sm) {
        margin-right: 10px;
      }

      h3 {
        font-weight: 400;
        font-size: 24px;
      }

      .radio-group {
        label {
          margin-top: 20px;
        }
      }

    }
    &-mokbudas {
      h3 {
        text-transform: uppercase;
        font-weight: 400;
        font-size: 24px;
        padding-top: 24px;
        padding-bottom: 30px;
      }
      .radio-group {
        margin-bottom: 48px;
      }
    }

  }
  
  .btn_uzsakyti {
    background-color: #cc4146;
    color: #fff;
    width: 255px;
    line-height: 2.5em;
    border-radius: 5px;
    border: 1px solid #fff;
    text-transform: uppercase;
  }

}