.prekyviete-komentarai {

  .section-subheader {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 1px solid $borders;
    padding-bottom: 8px;
    margin-bottom: 16px;
    margin-top: 50px;

    a {
      color: $red;
      text-transform: uppercase;
      text-decoration: underline;
    }
  }

  .section-1 {
    background: #151320 url("../img/prekyviete-section-1-bg.jpg") top no-repeat;

    &-inner {
      position: relative;
      min-height: 535px;
      padding-bottom: 16px;
      padding-top: 150px;

      @include media-breakpoint-up(md) {
        min-height: 740px;
        padding-top: 185px;
        padding-bottom: 0;
      }
    }
  }

  .ekspertas {
    margin-bottom: 0;

    &--right {
      flex-direction: row;
      align-items: flex-start;

      > div {
        &:first-child {
          color: #fff;
        }
      }
    }

    &--bottom {

      &---1 {
        background-color: #201d30;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        padding-left: 16px;

        .btn_submit {
          line-height: 1.8em;
          font-size: 15px;
        }

        .logos {
          img {
            height: 34px;
            margin-right: 16px;
          }
        }
      }
      &---2 {
        margin-bottom: 32px;

        > a {
          display: block;
          color: #fff;
          padding: 10px;
          padding-left: 16px;
          background-color: #2a273c;

          .fa-angle-down {
            transition: transform 0.2s;
          }

          &.open {
            background-color: #343049;

            .fa-angle-down {
              transform: rotate(180deg);;
            }
          }

          &:focus,
          &:hover {
            text-decoration: none;
          }
        }

        .pristatymas {
          display: none;
          background-color: #2a273c;
          padding: 15px;

          p {
            margin-bottom: 0;
          }
        }
      }

    }

  }

  .add-comment {

    textarea {
      width: 100%;
      height: 94px;
      padding-left: 17px;
      padding-top: 10px;
      border: none;
      border-radius: 10px;
      font-family: 'PT Sans', sans-serif;
    }

    .btn_submit {
      border: none;
      border-radius: 10px;
      width: 100%;
      //margin-bottom: 6px;
    }

  }

}