.prekyviete {

  .section-1 {
    background: #151320 url("../img/prekyviete-section-1-bg.jpg") top no-repeat;

    &-inner {
      position: relative;
      min-height: 535px;
      padding-bottom: 16px;
      padding-top: 150px;

      @include media-breakpoint-up(md) {
        min-height: 740px;
        padding-top: 185px;
        padding-bottom: 0;
      }
    }
  }

  &--main {
    background-color: transparentize(#151320, 0.5);
    min-height: 500px;
  }

  .filter {
    padding-top: 32px;
    padding-left: 8px;
    padding-right: 8px;

    label {
      display: flex;
      align-items: center;


      span.label {
        flex-basis: 49%;
        text-align: right;
        padding-right: 8px;
        text-transform: uppercase;

        @include media-breakpoint-up(lg) {
          flex-basis: 49%;
        }
      }

      .select2 {
        flex-basis: 100%;
      }
    }

    &-button {
      text-align: center;
      border-bottom: 2px solid $red;
      position: relative;
      margin-top: 80px;

      .btn_submit {
        position: absolute;
        top: -21px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
      }
    }

    .checkbox-group {
      margin-top: 8px;
      margin-left: 35px;
      margin-bottom: 0;
    }

  }

  .search-results {
    margin-top: 44px;

    h4 {
      font-weight: 400;
      font-size: 32px;
      margin-bottom: 24px;

      span {
        color: $red;
        text-transform: capitalize;
      }
    }

    &--title {
      display: flex;
      align-items: baseline;
      justify-content: space-between;
      border-bottom: 1px solid $borders;
      margin-bottom: 27px;

      input[name=user_name] {
        height: 35px;
        width: 227px;
        line-height: 1em;
      }
    }
  }

  .ekspertai-results {
    margin-top: 32px;
  }

  .ekspertas {
    margin-bottom: 0;

    &--right {
      flex-direction: row;
      align-items: flex-start;
      
      > div {
        &:first-child {
          color: #fff;
        }
      }
    }

    &--bottom {

      &---1 {
        background-color: #201d30;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        padding-left: 16px;

        .btn_submit {
          line-height: 1.8em;
          font-size: 15px;
        }

        .logos {
          img {
            height: 34px;
            margin-right: 16px;
          }
        }
      }
      &---2 {
        margin-bottom: 32px;

        > a {
          display: block;
          color: #fff;
          padding: 10px;
          padding-left: 16px;
          background-color: #2a273c;

          .fa-angle-down {
            transition: transform 0.2s;
          }

          &.open {
            background-color: #343049;

            .fa-angle-down {
              transform: rotate(180deg);
            }
          }

          &:focus,
          &:hover {
            text-decoration: none;
          }
        }

        .pristatymas {
          display: none;
          background-color: #2a273c;
          padding: 15px;

          p {
            margin-bottom: 0;
          }
        }
      }

    }

  }

  .rodyti-daugiau {
    text-align: center;

    @include media-breakpoint-up(md) {
      text-align: right;
    }

    .btn_daugiau {
      background-color: #181a27;
      border: 1px solid #acacac;
      height: 44px;
      border-radius: 22px;
      width: 294px;
      color: #fff;
      text-transform: uppercase;
      margin-bottom: 100px;
    }
  }

}