.prisijungimas {

  font-size: 18px;

  .section-1 {

    background: #151320 url("../img/prisijungimas-section-1-bg.jpg") top no-repeat;
    background-size: cover;

    &-inner {
      position: relative;
      min-height: 535px;
      padding-bottom: 16px;
      padding-top: 150px;

      @include media-breakpoint-up(md) {
        min-height: 969px;
        padding-top: 225px;
        padding-bottom: 0;
      }
    }

    h2 {
      margin-bottom: 70px;
      text-align: center;

      @include media-breakpoint-up(md) {
        text-align: left;
      }
    }

  }

  .btn_submit {
    float: right;
  }
  
  .passrestore {
    float: left;
    
    a {
      color: #fff;
      text-decoration: underline;
    }
  }

}