.redaguoti-profili {

  .section-1 {
    background: #151320 url("../img/bukmekeriai-section-1-bg.jpg") top no-repeat;
    &-inner {
      position: relative;
      min-height: 535px;
      padding-bottom: 16px;
      padding-top: 260px;

      @include media-breakpoint-up(md) {
        min-height: 740px;
        padding-top: 185px;
        padding-bottom: 0;
      }
    }
  }

  .section-header {
    h3 {
      text-transform: uppercase;
      border-bottom: none;
      color: #c5c3cb;
    }
  }

  .profile-form {
    margin-right: 30px;
    margin-bottom: 64px;
    color: #fff;

    @include media-breakpoint-only(xs) {
      margin-right: 0;
    }

    h3 {
      font-size: 19px;
      color: #fff;
      text-transform: uppercase;
      font-weight: 400;
      margin-bottom: 32px;
    }

    .form-control:focus {
      background-color: #161623;
    }

    label {
      text-transform: uppercase;
      align-self: center;
      font-size: 15px;
    }

    input[type='tel'],
    input[type='email'],
    input[type='password'],
    input[type='text'] {
      height: 40px;
      border-radius: 8px;
      margin-bottom: 0;
      color: #606066;
    }

    form > div {
      padding-top: 16px;
      padding-bottom: 16px;
      border-top: 1px solid #3b3944;
      border-bottom: 1px solid #3b3944;

      &.profilio-nuotrauka {
        padding-bottom: 32px;
        padding-top: 32px;
        border-bottom: none;
      }
    }

    .btn_issaugoti {
      background-color: #cc4146;
      color: #fff;
      width: 255px;
      line-height: 2.5em;
      border-radius: 5px;
      border: 1px solid #fff;
      text-transform: uppercase;
    }
  }

  .avatars {
    margin-top: 16px;
    clear: both;

    &-inner {
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-wrap: wrap-reverse;
      margin-top: 16px;
      color: #fff;
      flex-direction: column;
      width: 100%;

      @include media-breakpoint-up(md) {
        flex-direction: row;
        width: 650px;
      }

      .predefined-avatars {
        display: none;

        @include media-breakpoint-up(md) {
          display: flex;
          justify-content: space-between;
          width: 360px;
        }
      }

      .predefined-avatars > div:not(.file-input) {
        width: 114px;
        height: 114px;
        border: 1px solid #fff;
        border-radius: 57px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition : border 350ms ease-out;

        &:hover {
          border: 1px solid $red;
          cursor: pointer;
        }

        &.active {
          border: 1px solid $red;
        }
      }

      .file-input {
        width: 115px;
        height: 115px;

        input {
          visibility: hidden;
          width: 0;
          height: 0;
        }
        label {
          width: 114px;
          height: 114px;
          border: 1px solid #fff;
          border-radius: 57px;
          position: relative;
          transition : border 350ms ease-out;
          background-size: cover;
          background-position: center;

          span {
            position: absolute;
            font-size: 36px;
            left: 41px;
            top: 25px;
            transition: transform 0.35s;
          }

          &:hover {
            cursor: pointer;
            border: 1px solid $red;
            color: $red;

            span {
              transform: rotate(180deg);
            }
          }
        }
      }
    }
  }

  .select2-container--default .select2-selection--single {
    border-radius: 8px;
  }
  .select2-container--default .select2-selection--single .select2-selection__rendered {
    text-transform: capitalize;
  }

}