.registracija {

  font-size: 18px;

  .section-1 {

    background: #151320 url("../img/registracija-section-1-bg.jpg") top no-repeat;

    &-inner {
      position: relative;
      min-height: 825px;
      padding-bottom: 16px;
      padding-top: 150px;

      @include media-breakpoint-up(md) {
        min-height: 1080px;
        padding-top: 225px;
        padding-bottom: 0;
      }
    }

    h2 {
      margin-bottom: 50px;
      font-size: 42px;
      text-align: center;

      @include media-breakpoint-up(md) {
        text-align: left;
        font-size: 56px;
      }
    }

    input:not([type='checkbox'],[type='submit'],[name='country']) {
      width: 100%;

      @include media-breakpoint-up(md) {
        width: 49%;
      }
    }
    
    .single-2 {

      display: flex;

      > div {
        flex-basis: 50%;
      }

      input {
        &:first-child {
          margin-right: 6px;
        }
      }
    }

    .avatars {
      margin-top: 16px;
      clear: both;

      &-inner {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap-reverse;
        margin-top: 16px;
        color: #fff;
        flex-direction: column;
        width: 100%;

        @include media-breakpoint-up(md) {
          flex-direction: row;
          width: 650px;
        }

        .predefined-avatars {
          display: none;

          @include media-breakpoint-up(md) {
            display: flex;
            justify-content: space-between;
            width: 360px;
          }
        }

        .predefined-avatars > div:not(.file-input) {
          width: 114px;
          height: 114px;
          border: 1px solid #fff;
          border-radius: 57px;
          display: flex;
          align-items: center;
          justify-content: center;
          transition : border 350ms ease-out;

          &:hover {
            border: 1px solid $red;
            cursor: pointer;
          }

          &.active {
            border: 1px solid $red;
          }
        }

        .file-input {
          width: 115px;
          height: 115px;

          input {
            visibility: hidden;
            width: 0;
            height: 0;
          }
          label {
            width: 114px;
            height: 114px;
            border: 1px solid #fff;
            border-radius: 57px;
            position: relative;
            transition : border 350ms ease-out;
            background-size: cover;
            background-position: center;

            span {
              position: absolute;
              font-size: 36px;
              left: 41px;
              top: 25px;
              transition: transform 0.35s;
            }

            &:hover {
              cursor: pointer;
              border: 1px solid $red;
              color: $red;

              span {
                transform: rotate(180deg);
              }
            }
          }
        }
      }
    }

    .rules {
      margin-top: 32px;
      margin-bottom: 32px;
      font-size: 18px;

      @include media-breakpoint-up(md) {
        margin-top: 64px;
        margin-bottom: 16px;
      }
      
      a {
        color: $red;
        text-decoration: underline;
      }
    }

  }

  .section-2 {
    background-color: #151320;

    .steps {
      flex-wrap: wrap;
      display: flex;
      width: 100%;
      justify-content: space-between;
      margin-top: 48px;
      margin-bottom: 80px;
    }

    h2 {
      font-size: 41px;
      margin-top: 32px;
      margin-bottom: 32px;
    }

    h4 {
      color: #f5e1e1;
      text-align: center;
      font-weight: 500;
      font-size: 32px;

      @include media-breakpoint-up(md) {
        text-align: left;
      }
    }

    .step {
      background-color: #0e111e;
      align-items: center;

      @include media-breakpoint-down(sm) {
        width: 100%;
        flex-basis: 100%;
        padding-top: 32px;
        padding-bottom: 32px;

        &-right {
          text-align: center;
        }
      }

      @include media-breakpoint-up(md) {
        height: 262px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-basis: 50%;

        &-right {
          text-align: left;
          max-width: 210px;
        }
      }

      @include media-breakpoint-up(lg) {
        justify-content: center;
        flex-basis: 25%;

        &-right {
          margin-left: 25px;
        }
      }

      &-left {
        text-align: center;

        @include media-breakpoint-up(md) {
          text-align: left;
        }

        span {
          line-height: 0.8em;
        }
      }

      &:last-child {
        background-color: #181824;
      }

      &:hover {
        box-shadow: inset 0 0 6px 1px #fff;
        cursor: pointer;
      }

      &-heading {
        font-size: 28px;
      }

      &-bottom {
        color: #6c6a71;
      }

      span {
        font-size: 80px;
        color: $red;
      }
    }
  }

  .twitter-typeahead {
    width: 100%;
    padding-right: 6px;
  }
  .tt-menu {
    background: rgba(255, 255, 255, 0.95);
    border-radius: 3px;
    padding: 6px;
  }
  .autocomplete-item {
    display: flex;
    padding: 4px;
    align-items: center;
    color: #333;

    > div {
      &:first-child {
        margin-right: 8px;
      }
    }
  }
  .selected-flag {
    position: absolute;
    top: 10px;
    left: 20px;
  }

}
