.temos-vidinis {

  .section-1 {

    background: #151320 url("../img/forumas-section-1-bg.jpg") top no-repeat;
    background-size: cover;

    &-inner {
      position: relative;
      min-height: 535px;
      padding-bottom: 16px;
      padding-top: 210px;

      @include media-breakpoint-up(md) {
        min-height: 740px;
        padding-top: 185px;
        padding-bottom: 0;
      }
    }

  }

  .forum {

    &-header {
      h3 {
        text-transform: uppercase;
        color: $text-inner;
        font-weight: 400;
        margin-top: 16px;
        margin-bottom: 32px;
        padding-top: 8px;
        padding-bottom: 8px;
        border-top: 1px solid $borders;
        border-bottom: 1px solid $borders;
        font-size: 24px;
        position: relative;

        button {
          position: absolute;
          right: 0;
        }

      }
    }

  }

  .post {
    border-top: 1px solid $borders;
    border-bottom: 1px solid $borders;
    margin-bottom: 16px;

    &--left {
      display: flex;
      align-items: center;
      justify-content: space-around;
      height: 100%;
      background-color: #1d1b28;
      position: relative;
      padding-top: 40px;
      padding-bottom: 40px;

      @include media-breakpoint-up(lg) {
        width: 385px;
      }

      .user-avatar {
        overflow: hidden;
        width: 130px;
        border-radius: 65px;
        border: 2px solid #acacac;

        img {
          max-width: 130px;
        }
      }

      .fa-caret-right {
        position: absolute;
        color: $red;
        right: -5px;
      }
      
      .user-data {
        color: #dbdbdc;
        
        > div {
          &:first-child {
            i {
              color: $green;
            }
          }
        }
        
        a {
          color: #bebdc0;
          text-decoration: underline;

          &:hover {
            text-decoration: none;
          }
        }
      }

    }
    
    &--right {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-top: 45px;
      
      .post-date {
        position: absolute;
        top: 12px;
        right: 0;
        color: $green;
      }
    }
  }

}