.test {

  background-color: #151320;
  padding: 32px;

  .patarimas {
    display: flex;
    background-color: #2c2d3b;
    padding: 12px;
    flex-direction: column;

    @include media-breakpoint-up(md) {
      flex-direction: row;
    }

    &--left {
      flex-basis: 180px;

      .user-avatar {
        width: 109px;
        height: 109px;
        border-radius: 65px;
        margin: 0 auto;

        img {
          width: 109px;
        }
      }

      .graza {
        position: relative;
        text-align: center;
        margin-top: 16px;
        color: #fff;

        i {
          width: 26px;
          color: $green;
          position: absolute;
          top: -31px;
          z-index: 10;
          left: 0;
          right: 0;
          margin-left: auto;
          margin-right: auto;
          font-size: 27px;
        }
      }
    }

    &--right {
      width: 100%;
      color: #fff;

      &---top {
        position: relative;

        .head {
          display: flex;
          align-items: center;
          justify-content: space-between;
          text-transform: uppercase;
          font-size: 14px;
          flex-direction: column;

          @include media-breakpoint-up(md) {
            flex-direction: row;
          }

          img {
            width: 22px;
          }
        }
        .main {
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-direction: column;
          text-align: center;

          @include media-breakpoint-up(md) {
            flex-direction: row;
            text-align: left;
          }

          > div > div {
            text-transform: uppercase;

            &:nth-child(1) {
              font-size: 22px;
              margin-top: 8px;
            }
            &:nth-child(2) {
              color: #a0a2a7;
              font-size: 15px;
            }
            &:nth-child(3) {
              font-size: 14px;
              margin-top: 8px;
              a {
                color: $red;
              }
            }
          }

          .brand {
            text-align: right;

            img {
              width: 129px;
            }
          }
        }
        .foot {
          bottom: -8px;
          right: 0;
          font-size: 14px;
          text-transform: uppercase;
          position: static;
          margin-top: 12px;
          text-align: center;

          @include media-breakpoint-up(md) {
            position: absolute;
            margin-top: 0;
            text-align: right;
          }

          i {
            font-size: 24px;
          }

          a {
            color: #fff;
          }
        }
      }

      &---bottom {
        margin-top: 32px;
        padding-top: 16px;
        border-top: 1px solid #75777f;

        textarea {
          width: 100%;
          border-radius: 10px;
          font-size: 15px;
          padding: 8px;
          color: #a8a8a8;
          font-family: 'PT Sans', sans-serif;
        }

        .btn_submit {
          border: none;
          border-radius: 10px;
          width: 100%;
          margin-bottom: 6px;
          font-size: 15px;
        }
      }

    }

    &--komentarai {
      background-color: #171624;
      padding-left: 0;
      display: none;

      @include media-breakpoint-up(md) {
        padding-left: 168px;
      }

      h4 {
        text-transform: uppercase;
        border-top: 1px solid #a0a2a7;
        font-weight: 400;
        color: #fff;
        padding-top: 8px;
      }

      .user-avatar {
        width: 76px;
        height: 76px;
        border-radius: 50%;
        margin: 0 auto;

        img {
          width: 76px;
        }
      }

      .komentaras {
        min-height: 138px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        border-bottom: 1px solid #a0a2a7;
        margin-bottom: 16px;

        &--left {

        }

        &--right {
          padding-left: 32px;
          padding-right: 32px;
          width: 100%;
          color: #fff;
          font-size: 15px;
        }

        &--bottom {
          display: flex;
          justify-content: space-between;
          color: #929295;
        }
      }
    }
  }

}