.uzsakyti-prenumerata {
  color: #fff;

  .section-1 {
    background: #151320 url("../img/bukmekeriai-section-1-bg.jpg") top no-repeat;
    &-inner {
      position: relative;
      min-height: 535px;
      padding-bottom: 16px;
      padding-top: 260px;

      @include media-breakpoint-up(md) {
        min-height: 740px;
        padding-top: 185px;
        padding-bottom: 0;
      }
    }
  }

  .section-header {
    h3 {
      text-transform: uppercase;
      border-bottom: none;
      color: #fff;

      @include media-breakpoint-only(xs) {
        line-height: 1.2em;
        margin-bottom: 16px;
      }
    }
  }

  .pranesimai,
  .prenumerata {
    h3 {
      text-transform: uppercase;
      font-size: 20px;
      font-weight: 300;
    }
  }

  .pranesimai {
    h3 {
      margin-bottom: 32px;
    }
  }

  .btn_uzsakyti {
    background-color: #fff;
    color: #13111e;
    width: 292px;
    border-radius: 20px;
    line-height: 2.2em;
    text-transform: uppercase;

    @include media-breakpoint-only(xs) {
      width: 280px;
    }
  }

  .plan {
    width: 115px;
    height: 110px;
    margin-right: 5px;
    border: 1px solid #393843;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: border-color 0.2s;

    @include media-breakpoint-only(xs) {
      margin-bottom: 5px;
    }

    &:hover {
      cursor: pointer;
      border: 1px solid $green;
    }

    &.active {
      border: 1px solid $green;
    }

    > div {
      &:first-child {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 14px;

        span {
          font-size: 35px;
          line-height: 1em;
        }
      }
      &:last-child {
        font-size: 16px;
        border-top: 1px solid #393843;
        color: $green;
        width: 85%;
        text-align: center;
      }
    }
  }

  .plans {
    border-top: 1px solid #393843;
    border-bottom: 1px solid #393843;
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;

    @include media-breakpoint-only(xs) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  .pranesimai {
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #393843;
    margin-bottom: 32px;
  }

  .uzsakyti-from {
    padding-bottom: 64px;

    @include media-breakpoint-down(lg) {
      margin-right: 30px;
    }
    @include media-breakpoint-only(xs) {
      margin-right: 10px;
    }
  }

}