<footer class="footer">
    <div class="footer-top">
        <div class="container-fluid maxw">
            <div class="footer-top-inner">
                <img src="{{ root }}assets/img/logo-tonybet.png" alt="Tonybet">
                <img src="{{ root }}assets/img/logo-bet365.png" alt="Bet365">
                <img src="{{ root }}assets/img/logo-olybet.png" alt="Olybet">
                <img src="{{ root }}assets/img/logo-bwin.png" alt="Bwin">
            </div>
        </div>
    </div>

    <div class="footer-middle">
        <div class="container-fluid maxw">
            <div class="footer-middle-inner">
                <div class="row">
                    <div class="col-sm-12 col-md-5">
                        <div class="footer-logo">
                            <img src="{{ root }}assets/img/logo-light.png" alt="Tipstershub">
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-7">
                        <div class="row">
                            <div class="col-xs-12 col-sm-4">
                                <h3>INFORMACIJA</h3>
                                <ul>
                                    <li><a href="">Pagrindinis</a></li>
                                    <li><a href="">Kontaktai</a></li>
                                </ul>
                            </div>
                            <div class="col-xs-12 col-sm-4">
                                <h3>LAŽYBOS</h3>
                                <ul>
                                    <li><a href="">Ekspertai</a></li>
                                    <li><a href="">Bukmeikeriai</a></li>
                                    <li><a href="">Forumas</a></li>
                                    <li><a href="">Lažybų informacija</a></li>
                                </ul>
                            </div>
                            <div class="col-xs-12 col-sm-4">
                                <h3>SUSISIEKITE SU MUMIS</h3>
                                <div class="widget-text">
                                    info@tipstershub.lt<br>
                                    +370 61 688 822
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="container-fluid maxw">
            <div class="footer-bottom-inner">
                <div>©2017 Tipstershub. Visos teisės saugomos</div>
                <div>
                    <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>&nbsp;&nbsp;
                    <a href=""><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>
