<header class="header loggedin">
    <div class="container-fluid maxw">

        <div class="header-inner">
            <div class="header-logo">
                <a href="{{ root }}index.html">
                    <img src="{{ root }}assets/img/logo-dark.png" alt="">
                </a>
            </div>
            <div class="header-right">

                {{> mobile-menu}}

                <div class="header-right-inner">
                    <div>
                        <ul class="user-menu">
                            <li><span class="ico-user"></span> &nbsp; <a href="{{root}}mano-profilis.html">Riskfree</a></li>
                            <li class="user-menu--notifications">
                                <a href="#"><i class="fa fa-bell" aria-hidden="true"></i></a>
                                <div>
                                    <div class="info-circle red">1</div>
                                </div>
                            </li>
                            <li class="user-menu--pm">
                                <a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                                <div>
                                    <div class="info-circle red">3</div>
                                </div>
                            </li>
                            <li class="user-menu--exit"><a href="#"><span class="ico-exit"></span></a></li>
                            <li class="hidden-md-down"><a href="javascript: void(0)"><button class="btn btn_red ideti_patarima">Įdėti patarimą</button></a></li>
                            <li><a href="#"><button class="btn btn_green">Mano blogas</button></a></li>
                        </ul>
                        <div>
                            <i class="fa fa-globe" aria-hidden="true"></i> <a href="">LT</a> | <a href="">EN</a>
                        </div>
                    </div>
                    <div>
                      <div class="header-menus">
                        <div>
                          <ul class="header-menu">
                            <li><a href="{{ root }}feed.html">NAUJIENŲ SRAUTAS</a></li>
                            <li><a href="{{ root }}ekspertai.html">EKSPERTAI</a></li>
                            <li><a href="{{ root }}bukmekeriai.html">BUKMEKERIAI</a></li>
                            <li id="forumas" class="_has_submenu"><a href="{{ root }}forumas.html">FORUMAS</a></li>
                            <li id="lazybu_informacija" class="has_submenu"><a href="#">LAŽYBŲ INFORMACIJA</a></li>
                            <li><a href="{{ root }}prekyviete.html">PREKYVIETĖ</a></li>
                            <li><a href="{{ root }}kontaktai.html">KONTAKTAI</a></li>
                          </ul>
                        </div>
                        <div>
                          <ul class="header-menu header-menu-ideti">
                            <li><a href="{{ root }}ideti-patvirtinta.html">Įdėti patvirtintą</a></li>
                            <li><a href="{{ root }}ideti-patvirtinta.html">Įdėti nepatvirtintą</a></li>
                            <li><a href="{{ root }}ideti-live.html">Įdėti live</a></li>
                            <li><a href="#">Atnaujinti rezultatus</a></li>
                            <li><a href="#"><span class="ico-back ideti_patarima"></span></a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="header-submenu">
        <div class="container-fluid maxw">
            <ul>
                <li class="lazybu_informacija"><a href="">Pirmas lažybų informacija</a></li>
                <li class="lazybu_informacija"><a href="">Antras lažybų informacija</a></li>
                <li class="forumas"><a href="">Pirmas forumas</a></li>
                <li class="forumas"><a href="">Antras forumas</a></li>
                <li class="close"><a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></li>
            </ul>
        </div>
    </div>

</header>

