<header class="header guest">
    <div class="container-fluid maxw">

        <div class="header-inner">
            <div class="header-logo">
                <a href="{{ root }}index.html">
                    <img src="{{ root }}assets/img/logo-dark.png" alt="">
                </a>
            </div>
            <div class="header-right">

                {{> mobile-menu}}

                <div class="header-right-inner">
                    <div>
                        <a href="{{root}}prisijungimas.html"><button class="btn btn-login"><span class="ico-lock"></span> <span>Prisijungti</span></button></a>
                        <a href="{{root}}registracija.html"><button class="btn btn-register"><span class="ico-user"></span> <span>Registruotis</span></button></a>
                        <div>
                            <i class="fa fa-globe" aria-hidden="true"></i> <a href="">LT</a> | <a href="">EN</a>
                        </div>
                    </div>
                    <div>
                        <ul class="header-menu">
                            <li><a href="{{ root }}feed.html">NAUJIENŲ SRAUTAS</a></li>
                            <li><a href="{{ root }}ekspertai.html">EKSPERTAI</a></li>
                            <li><a href="{{ root }}bukmekeriai.html">BUKMEKERIAI</a></li>
                            <li id="forumas" class="_has_submenu"><a href="{{ root }}forumas.html">FORUMAS</a></li>
                            <li id="lazybu_informacija" class="has_submenu"><a href="#">LAŽYBŲ INFORMACIJA</a></li>
                            <li><a href="{{ root }}gidai.html">GIDAI</a></li>
                            <li><a href="{{ root }}prekyviete.html">PREKYVIETĖ</a></li>
                            <li><a href="{{ root }}kontaktai.html">KONTAKTAI</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="header-submenu">
        <div class="container-fluid maxw">
            <ul>
                <li class="lazybu_informacija"><a href="">Pirmas lažybų informacija</a></li>
                <li class="lazybu_informacija"><a href="">Antras lažybų informacija</a></li>
                <li class="forumas"><a href="">Pirmas forumas</a></li>
                <li class="forumas"><a href="">Antras forumas</a></li>
                <li class="close"><a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></li>
            </ul>
        </div>
    </div>

</header>

