<div id="dl-menu" class="dl-menuwrapper">
    <button class="dl-trigger">Open Menu</button>
    <ul class="dl-menu">
        <li>
            <a href="{{ root }}feed.html">NAUJIENŲ SRAUTAS</a>
        </li>
        <li>
            <a href="{{ root }}ekspertai.html">EKSPERTAI</a>
        </li>
        <li>
            <a href="{{ root }}bukmekeriai.html">BUKMEKERIAI</a>
        </li>
        <li>
            <a href="{{ root }}forumas.html">FORUMAS</a>
            <ul class="dl-submenu">
                <li><a href="">Pirmas forumas</a></li>
                <li><a href="">Antras forumas</a></li>
            </ul>
        </li>
        <li>
            <a href="#">LAŽYBŲ INFORMACIJA</a>
            <ul class="dl-submenu">
                <li><a href="">Pirmas lažybų informacija</a></li>
                <li><a href="">Antras lažybų informacija</a></li>
            </ul>
        </li>
    </ul>
</div>