<div class="profile">
    <div class="profile--top">
        <div class="profile--top---left">
            <div class="user-avatar">
                <img src="{{root}}assets/img/TVS/avatar.jpg" alt="a">
            </div>
        </div>
        <div class="profile--top---middle">
            <div>JONAS JONAITIS</div>
            <div>riskfree <img src="{{root}}assets/img/lt.png" alt="lt"></div>
            <div><a href="">riskfree.tipstershub.com</a></div>
            <div>
                <div><span class="ico-followers"></span> &nbsp; <a href="#">sekėjai (254)</a></div>
                <div><span class="ico-following"></span> &nbsp; <a href="#">sekami (7)</a></div>
            </div>
        </div>
        <div class="profile--top---right">
            <div>
                <div class="progress">
                    <div class="progress-radial progress-45">
                        <div class="overlay">45%</div>
                    </div>
                </div>
                <div class="radial-label">Patvirtinti statymai</div>
            </div>
            <div>
                <div class="progress">
                    <div class="progress-radial progress-70">
                        <div class="overlay">70%</div>
                    </div>
                </div>
                <div class="radial-label">Grąža</div>
            </div>
            <div>
                <div class="progress">
                    <div class="progress-radial progress-25">
                        <div class="overlay">25%</div>
                    </div>
                </div>
                <div class="radial-label">Laimėjimai</div>
            </div>
        </div>
    </div>
    <div class="profile--bottom">
        <div class="profile--bottom---left">
            <a href="#"><button class="btn btn_susisiekti">atnaujinti rezultatus</button></a>
            <a href="{{root}}mano-pardavimai.html"><button class="btn btn_pardavimai">mano pardavimai</button></a>
        </div>
        <div class="profile--bottom---right">
            <a href="#"><button class="btn btn_prenumeratos">mano prenumeratos</button></a>
        </div>
    </div>
</div>

<div class="profile-comments">
    <i class="fa fa-comment-o" aria-hidden="true"></i> &nbsp; <a href="#">Komentarai (0)</a>
</div>