<div class="steps-inner">
    <div class="row">
        <div class="col-sm-6 col-lg-3">
            <a href="{{root}}banko-valdymas.html">
                <div class="step-inner">
                    <div class="step-inner--left"><span class="ico-money"></span></div>
                    <div class="step-inner--right">
                        <div>
                            BANKO VALDYMAS
                        </div>
                        <div>
                            Siekdami pasipelnyti iš lažybų,
                            privalėsite valdyti turimą banką
                            pagalgriežtas taisykles.
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-lg-3">
            <a href="">
                <div class="step-inner">
                    <div class="step-inner--left"><span class="ico-graph"></span></div>
                    <div class="step-inner--right">
                        <div>
                            POPULIARIAUSIOS LAŽYBŲ
                            MĖGĖJŲ KLAIDOS
                        </div>
                        <div>
                            Dažniausiai kelią link pelno
                            užkertančių klaidų sąrašas
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-lg-3">
            <a href="{{root}}blokuojami-puslapiai.html">
                <div class="step-inner">
                    <div class="step-inner--left"><span class="ico-block"></span></div>
                    <div class="step-inner--right">
                        <div>
                            BLOKUOJAMI PUSLAPIAI
                        </div>
                        <div>
                            Kaip pasiekti visus blokuojamus
                            puslapius ir susigrąžinti sporto
                            lažybų laisvę
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-lg-3">
            <a href="">
                <div class="step-inner">
                    <div class="step-inner--left"><span class="ico-dises"></span></div>
                    <div class="step-inner--right">
                        <div>
                            KAIP EKSPERTAS GALI
                            ĮVEIKTI LAŽYBŲ BENDROVES
                        </div>
                        <div>
                            Laiko patikrinti patarimai visiems
                            norintiems paversti lažybas
                            pelną nešančią veikla
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-lg-3">
            <a href="">
                <div class="step-inner">
                    <div class="step-inner--left"><span class="ico-hand-share"></span></div>
                    <div class="step-inner--right">
                        <div>
                            KODĖL VERTA PREKIAUTI
                            PATARIMAIS
                        </div>
                        <div>
                            Užsidirbkite iš savo naudingų
                            patarimų.
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>