<div id="panel-offcanvas">
    <div class="widget">
        <h4>GERIAUSI <span>VISŲ LAIKŲ</span> EKSPERTAI</h4>
        <div class="widget-inner">
            {{#each experts}}
            <div class="block">
                <div class="block--top">
                    <div class="block--top---left">
                        <div class="user-avatar">
                            <img src="{{root}}assets/img/TVS/avatar.jpg" alt="{{ this.user }}">
                        </div>
                    </div>
                    <div class="block--top---right">
                        <div>{{ this.user }} <img src="{{root}}assets/img/flags/{{ this.country }}.png" alt="{{ this.country }}"></div>
                        <div><a href="{{ this.user }}.tipstershub.com">{{ this.user }}.tipstershub.com</a></div>
                    </div>
                </div>
                <div class="block--bottom">
                    <div class="block--bottom---left">
                        <div class="chart">
                            <div id="b_user_{{ this.id }}_stats" data-userdata="{{ root }}data/userdata_{{ this.id }}.json"></div>
                        </div>
                    </div>
                    <div class="block--bottom---right">
                        <div>
                            <div>Statymų</div>
                            <div>{{ this.statymai }}</div>
                        </div>
                        <div>
                            <div>Pelnas</div>
                            <div>{{ this.pelnas }}</div>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
    <div class="widget wbg">
        <h4>SEKAMIAUSI <span>VISŲ LAIKŲ</span> EKSPERTAI</h4>
        <div class="widget-inner">
            {{#each experts}}
            <div class="block">
                <div class="block--top">
                    <div class="block--top---left">
                        <div class="user-avatar">
                            <img src="{{root}}assets/img/TVS/avatar.jpg" alt="{{ this.user }}">
                        </div>
                    </div>
                    <div class="block--top---right">
                        <div>{{ this.user }} <img src="{{root}}assets/img/flags/{{ this.country }}.png" alt="{{ this.country }}"></div>
                        <div><a href="{{ this.user }}.tipstershub.com">{{ this.user }}.tipstershub.com</a></div>
                    </div>
                </div>
                <div class="block--bottom">
                    <div class="block--bottom---left">
                        <div class="chart">
                            <div data-plotcolor="#42df8c" id="t_user_{{ this.id }}_stats" data-userdata="{{ root }}data/userdata_{{ this.id }}.json"></div>
                        </div>
                    </div>
                    <div class="block--bottom---right">
                        <div>
                            <div>Statymų</div>
                            <div>{{ this.statymai }}</div>
                        </div>
                        <div>
                            <div>Pelnas</div>
                            <div>{{ this.pelnas }}</div>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>