<div id="panel-offcanvas">

    <div class="widget user">
        <h4><span>PELNO</span> GRAFIKAS</h4>

        <div class="widget-inner">
            <div class="chart">
                <div id="b_user_1_stats" data-userdata="{{ root }}data/userdata_1.json"></div>
            </div>
            <div class="hero-stats">
                <div>
                    <div>129</div>
                    <div>Statymai</div>
                </div>
                <div>
                    <div>153.90</div>
                    <div>Pelnas</div>
                </div>
                <div>
                    <div>145.90</div>
                    <div>Grąža</div>
                </div>
            </div>
            <div class="eksport">
                <a href="#">
                    <button class="btn btn_eksport"><i class="fa fa-file-excel-o" aria-hidden="true"></i> &nbsp; EKSPORTUOTI STATYMUS</button>
                </a>
            </div>
            <div class="other-stats">
                <div>
                    <div>Laim. - Lyg. - Pral.:</div>
                    <div>83-2-51</div>
                </div>
                <div>
                    <div>Laimėjimų procentas:</div>
                    <div class="color-green">60.60%</div>
                </div>
                <div>
                    <div>Vidutinis statymas:</div>
                    <div class="color-green">5.40</div>
                </div>
                <div>
                    <div>Vidutinis koeficientas:</div>
                    <div class="color-green">1.88</div>
                </div>
                <div>
                    <div>Paskutiniai penki:</div>
                    <div>
                        <div class="clearfix">
                            <div class="cr cp">+</div>
                            <div class="cr cp">+</div>
                            <div class="cr cm">-</div>
                            <div class="cr cp">+</div>
                            <div class="cr cx">x</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="overall-stats">
                <h4><span>Mėnesio</span> statymai</h4>
                <div>
                    <div>sausis</div>
                    <div class="color-green">0.70</div>
                </div>
                <div>
                    <div>vasaris</div>
                    <div class="color-green">14.50</div>
                </div>
                <div>
                    <div>kovas</div>
                    <div class="color-green">8.45</div>
                </div>
                <div>
                    <div>balandis</div>
                    <div class="color-red">-10.50</div>
                </div>
                <div>
                    <div>gegužė</div>
                    <div class="color-red">-5.56</div>
                </div>
                <div>
                    <div>birželis</div>
                    <div class="color-green">25.69</div>
                </div>
                <div>
                    <div>rugsėjis</div>
                    <div class="color-green">18.58</div>
                </div>
                <div>
                    <div>spalis</div>
                    <div class="color-green">47.45</div>
                </div>
                <div>
                    <div>lapkritis</div>
                    <div class="color-green">17.45</div>
                </div>
                <div>
                    <div>gruodis</div>
                    <div class="color-green">45.22</div>
                </div>
            </div>
            <div class="overall-stats bordered lighter">
                <h4><span>Statymo</span> sumos</h4>
                <div>
                    <div>1/10 (1 statymai)</div>
                    <div class="color-green">0.70</div>
                </div>
                <div>
                    <div>1/10 (1 statymai)</div>
                    <div class="color-green">14.50</div>
                </div>
                <div>
                    <div>1/10 (1 statymai)</div>
                    <div class="color-green">8.45</div>
                </div>
                <div>
                    <div>1/10 (1 statymai)</div>
                    <div class="color-red">-10.50</div>
                </div>
                <div>
                    <div>1/10 (1 statymai)</div>
                    <div class="color-red">-5.56</div>
                </div>
                <div>
                    <div>1/10 (1 statymai)</div>
                    <div class="color-green">25.69</div>
                </div>
                <div>
                    <div>1/10 (1 statymai)</div>
                    <div class="color-green">18.58</div>
                </div>
                <div>
                    <div>1/10 (1 statymai)</div>
                    <div class="color-green">47.45</div>
                </div>
                <div>
                    <div>1/10 (1 statymai)</div>
                    <div class="color-green">17.45</div>
                </div>
                <div>
                    <div>1/10 (1 statymai)</div>
                    <div class="color-green">45.22</div>
                </div>
            </div>
            <div class="overall-stats">
                <h4><span>Naudojami</span> bukmekeriai</h4>
                <div>
                    <div>Bet365 (37 statymai ) </div>
                    <div class="color-green">0.70</div>
                </div>
                <div>
                    <div>Pinnacle Sports (36 statymai )</div>
                    <div class="color-green">14.50</div>
                </div>
                <div>
                    <div>TonyBet (33 statymai )</div>
                    <div class="color-green">8.45</div>
                </div>
                <div>
                    <div>TopSport (17 statymai ) </div>
                    <div class="color-green">10.50</div>
                </div>
                <div>
                    <div>10Bet (8 statymai )</div>
                    <div class="color-green">5.56</div>
                </div>
                <div>
                    <div>William Hill (6 statymai )</div>
                    <div class="color-green">25.69</div>
                </div>
                <div>
                    <div>Unibet (3 statymai )</div>
                    <div class="color-green">18.58</div>
                </div>
                <div>
                    <div>1xBet (3 statymai ) </div>
                    <div class="color-green">47.45</div>
                </div>
                <div>
                    <div>SBOBET (2 statymai )</div>
                    <div class="color-green">17.45</div>
                </div>
                <div>
                    <div>188Bet (1 statymai )</div>
                    <div class="color-red">-12.55</div>
                </div>
            </div>
            <div class="overall-stats lighter">
                <h4><span>Sporto</span> šakos</h4>
                <div>
                    <div>Football (84 statymai)</div>
                    <div class="color-green">0.70</div>
                </div>
                <div>
                    <div>Basketball (53 statymai)</div>
                    <div class="color-green">14.50</div>
                </div>
                <div>
                    <div>Tennis (5 statymai)</div>
                    <div class="color-green">8.45</div>
                </div>
                <div>
                    <div>Handball (3 statymai)</div>
                    <div class="color-green">10.50</div>
                </div>
                <div>
                    <div>Ice Hockey (2 statymai)</div>
                    <div class="color-green">5.56</div>
                </div>
                <div>
                    <div>Specials (1 statymai)</div>
                    <div class="color-redn">-25.69</div>
                </div>
                <div>
                    <div>Ice hockey (1 statymai)</div>
                    <div class="color-green">18.58</div>
                </div>
            </div>
        </div>
    </div>

</div>