<div id="panel-offcanvas">
    <div class="lapelis">
        <h2><span>Mano</span> statymų lapelis</h2>

        <form action="" method="post">
            <div class="lapelis-middle">
                <div class="statymas">
                    <h3>Lietuvos rytas Vilnius - Prienai Vytautas</h3>
                    <div class="aus">
                        <div>Lietuvos Rytas Vilnius (whole match)</div>
                        <span data-ajax="ideti-patvirtinta.html" data-id="2341" class="ico-removeaus"></span>
                    </div>
                    <div class="koef">
                        <div>Koeficientas</div>
                        <div>1.15</div>
                    </div>
                    <div class="bukmekeris">
                        <div>Bukmekeris</div>
                        <div><img src="{{root}}assets/img/TVS/tonybet.png" alt=""></div>
                    </div>
                </div>
                <div class="statymas">
                    <h3>Lietuvos rytas Vilnius - Prienai Vytautas</h3>
                    <div class="aus">
                        <div>Lietuvos Rytas Vilnius (whole match)</div>
                        <span data-ajax="ideti-patvirtinta.html" data-id="24351" class="ico-removeaus"></span>
                    </div>
                    <div class="koef">
                        <div>Koeficientas</div>
                        <div>1.15</div>
                    </div>
                    <div class="bukmekeris">
                        <div>Bukmekeris</div>
                        <div><img src="{{root}}assets/img/TVS/tonybet.png" alt=""></div>
                    </div>
                </div>
            </div>
            <div class="lapelis-bendraskoef">
                <div>Bendras koeficientas</div>
                <div>1.33</div>
            </div>
            <div class="lapelis-analize">
                <textarea name="analize" id="analize" placeholder="Analysis"></textarea>
            </div>
            <div class="lapelis-bottom">
                <select name="statymo_kiekis" class="select2">
                    <option value="">Statomas kiekis 1/10</option>
                    <option value="">Statomas kiekis 1/10</option>
                    <option value="">Statomas kiekis 1/10</option>
                </select>

                <div class="radio-group">
                    <input type="radio" id="privatus" name="lapelis">
                    <label for="privatus"><span></span>Privatus</label>
                </div>
                <div class="radio-group">
                    <input type="radio" id="nemokamas" name="lapelis">
                    <label for="nemokamas"><span></span>Nemokamas</label>
                </div>
                <!-- .disabled variantas -->
                <button type="submit" class="btn_dalintis disabled">Dalintus patarimu</button>
            </div>

            <div class="info-gray">
                <span class="ico-sauktukas"></span>
                Dalintis patarimu negalima, nes naudojami skirtingi bukmeikeriai.
            </div>
        </form>
    </div>
</div>
