<section class="totals" id="totals">
    <div class="container-fluid maxw">
        <div class="totals-inner">

            <div class="row align-items-center">
                <div class="col-xs-12 col-sm-4">
                    <div class="totals-col-inner">
                        <div class="number">3249400€</div>
                        <div class="number-label">Ekspertams išmokėta</div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="totals-col-inner">
                        <div class="number">5600+</div>
                        <div class="number-label">Ekspertų</div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="totals-col-inner">
                        <div class="number">89754</div>
                        <div class="number-label">Laimėtos prognozės</div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>