<!doctype html>
<html class="no-js" lang="lt">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700&amp;subset=latin-ext" rel="stylesheet">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/css/swiper.min.css">
    <link rel="stylesheet" href="{{root}}assets/vendor/select2/css/select2.min.css">

    {{#ifpage 'mano-pardavimai-ikelti'}}
    <link rel="stylesheet" href="{{root}}assets/vendor/datatables/css/datatables.custom.min.css">
    {{/ifpage}}

    <link rel="stylesheet" href="{{root}}assets/css/app.css?v=1.36">

    <script src="{{root}}assets/vendor/modernizr/js/modernizr.min.js"></script>
</head>
<body class="{{bodyClass}}">

<div class="main-content">
    <div class="sidebar-toggler long">
        <div class="toggler-badget">
            <i class="fa fa-angle-right" aria-hidden="true"></i>
        </div>
    </div>

    {{> header-loggedin}}
    {{> body}}
    {{> footer}}
</div>

<script src="{{root}}assets/vendor/jquery/js/jquery-3.1.1.min.js"></script>

{{#ifpage 'registracija'}}
<script src="{{root}}assets/vendor/typeahead/js/typeahead.bundle.js"></script>
{{/ifpage}}

{{#ifpage 'index' 'bukmekeriai'}}
<script src="{{root}}assets/vendor/aos/js/aos-2.1.1.js"></script>
{{/ifpage}}

{{#ifpage 'mano-pardavimai-ikelti'}}
<script src="{{root}}assets/vendor/datatables/js/datatables.custom.min.js"></script>
{{/ifpage}}

{{#ifpage 'redaguoti-profili'}}
<script src="{{root}}assets/vendor/jquery-validate/js/jquery.validate.min.js"></script>
{{/ifpage}}

<script src="{{root}}assets/vendor/tether/js/tether.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="{{root}}assets/vendor/select2/js/select2.full.min.js"></script>
<script src="{{root}}assets/vendor/codrops/js/jquery.dlmenu.js"></script>
<script src="{{root}}assets/vendor/bootstrap/js/bootstrap-breakpoints.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/js/swiper.jquery.min.js"></script>
<script src="{{root}}assets/vendor/scotch-panels/js/scotch-panels.min.js"></script>
<script src="{{root}}assets/js/app.js?v=1.36"></script>
</body>
</html>