<!doctype html>
<html class="no-js" lang="lt">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700&amp;subset=latin-ext" rel="stylesheet">
    <title>{{title}}</title>
    <link rel="stylesheet" href="{{root}}assets/css/app.css?v=1.12">
</head>
<body class="{{bodyClass}}">

{{> body}}

<script src="{{root}}assets/vendor/jquery/js/jquery-3.1.1.min.js"></script>

{{#ifpage 'registracija'}}
<script src="{{root}}assets/vendor/typeahead/js/typeahead.bundle.js"></script>
{{/ifpage}}

{{#ifpage 'index' 'ekspertai' 'prekyviete' 'prekyviete-komentarai' 'ekspertai-komentarai' 'feed'}}
<script src="https://code.highcharts.com/highcharts.js"></script>
{{/ifpage}}

{{#ifpage 'index' 'bukmekeriai'}}
<script src="{{root}}assets/vendor/aos/js/aos-2.1.1.js"></script>
{{/ifpage}}


<script src="{{root}}assets/vendor/select2/js/select2.full.min.js"></script>
<script src="{{root}}assets/vendor/bootstrap/js/bootstrap-breakpoints.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/js/swiper.jquery.min.js"></script>
<script src="{{root}}assets/vendor/scotch-panels/js/scotch-panels.min.js"></script>
<script src="{{root}}assets/js/app.js?v=1.13"></script>
</body>
</html>